@import "./media-queries.scss";

section.accordion-standard {
    div.accordion-standard-wrapper {
        .aks-accordion-item {
            cursor: pointer;

            h4 {
                cursor: pointer;
            }

            // a {
            //     &:link {
            //         color: var(--highlight-1-contrast-friendly);
            //     }

            //     &:hover, &:focus {
            //         text-decoration: underline;
            //     }

            //     &:focus-visible {
            //         text-decoration: underline;
            //     }
            // }

            .aks-accordion-item-content {
                cursor: default;
            }

            &:last-of-type {
                border-bottom: 0px solid var(--white);
            }
        }
        
        section {
            padding-bottom: 0;

            .aks-accordion-item:last-of-type {
                border-bottom: 0px solid var(--white);
            }
        }
    }
}

@media all and (max-width: $desktop) {
}
@media all and (max-width: $tablet) {
    section.accordion-standard div.accordion-standard-wrapper {
    }
} 
@media all and (max-width: $tablet-small)  {
} 
@media all and (max-width: $mobile) {
}