@import "./media-queries.scss";

section.accordion-double div.accordion-double-wrapper {
    display: flex;
    flex-wrap: wrap;

    div.aks-accordion-item {
        flex: 1 1 49%;

        div.aks-accordion-item-content div.item-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            grid-template-areas: 
                'col1 col2'
                'col3 col3';

                br { display: none; }

            div.acc-col1 { grid-area: col1; }
            div.acc-col2 { grid-area: col2; }

            div.acc-col1, div.acc-col2 {
                p { 
                    padding: 0; 

                    &.acc-title { font-weight: var(--font-strong); }
                }
                ul { padding-bottom: 1rem; }
            }

            a.acc-col3 {
                grid-area: col3;
                background-color: var(--grey-bg);
                border: solid 1px var(--grey-line-color);
                padding: 1rem;
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.accordion-double div.accordion-double-wrapper div.aks-accordion-item {
        flex-basis: 100%;

        div.aks-accordion-item-content div.item-wrapper {
            grid-template-columns: 1fr;
            gap: 1rem;
            grid-template-areas: 
                'col1'
                'col2'
                'col3';
        }
    }
} 