@import "./mixins.scss";
@import "./media-queries.scss";

@font-face {font-family: 'FFMiloWebProBold'; src: url('/fonts/milo/36A70A_0_0.eot'); src: url('/fonts/milo/36A70A_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/milo/36A70A_0_0.ttf') format('woff2'),url('/fonts/milo/36A70A_0_0.woff') format('woff'),url('/fonts/milo/36A70A_0_0.woff2') format('truetype');}
@font-face {font-family: 'FFMiloWebProText'; src: url('/fonts/milo/36A70A_B_0.eot'); src: url('/fonts/milo/36A70A_B_0.eot?#iefix') format('embedded-opentype'),url('/fonts/milo/36A70A_B_0.ttf') format('woff2'),url('/fonts/milo/36A70A_B_0.woff') format('woff'),url('/fonts/milo/36A70A_B_0.woff2') format('truetype');}


body main.blog, body main.news {
    --article-pink: var(--highlight-1);
    --article-black: #3b3b3b;
    max-width: var(--largest-width);
    margin: auto;
    padding-top: 3rem;

    // reset all headers, so the classes can do all the work
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        line-height: 0.85;
        letter-spacing: 0.01rem;
        cursor: default;
        text-transform: uppercase;
        font-size: 2rem;
        color: var(--black);

        &.text-highlight { color: var(--article-pink); }
        &.h3-size { font-size: var(--h3-max); }
    }

    section.article-header {
        background-color: var(--grey-bg);
        padding: 8rem 0 6rem;

        & > div {
            max-width: var(--medium-width);
            margin: 0 auto;

            .article-title {
                font-size: var(--h1-article-max);
                padding-bottom: 1rem;
            }

            .article-author {
                font-size: var(--h3-max);
                color: var(--article-pink);
                padding-bottom: 2rem;
            }
        }

        ul.selected-options {
            padding: 0 2rem;
            margin: 0;
            list-style-type: none;

            li {
                display: inline-block;
                margin: 10px;
                padding: 0;
                list-style-type: none;

                &:first-of-type {
                    margin-left: 0;
                }
                
                &.clear-all-filters:first-child {
                    display:none;
                }

                svg {
                    position: absolute;
                    top: 0.85rem;
                    right: 1rem;
                }

                a {
                    display: block;
                    background: var(--highlight-1);
                    box-sizing: border-box;
                    padding: 10px 40px 10px 20px;
                    border-radius: 25px;
                    position: relative;
                    color: #fff;
                    text-decoration: none;

                    &:hover {
                        background: #000000;
                    }

                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }

    section.article-cta {
        padding-bottom: 0;
        position: relative;

        &.fade-bg {
            border-bottom: 1px solid var(--grey-fade-bg);
            border-top: 1px solid var(--grey-fade-bg);

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 1rem;
                bottom: -30;
                left: 0;
                background: linear-gradient(var(--grey-fade-bg) 0, var(--white) 1rem);
            }
        }


        div.article-cta-wrapper {
            max-width: var(--medium-width);

            div.article-cta-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 0;

                h3 {
                    padding:0 2rem 0 0;
                    font-size: var(--h4-max);
                }
            }
        }
    }

    section.article-content {
        div.article-content-wrapper {
            padding: 6rem 2rem 0;
            max-width: var(--medium-width);
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin: 0 auto;

            aside.article-social {
                flex: 0 0 2rem;

                div.article-social-wrapper {
                    position: sticky;
                    top: 8rem;

                    a {
                        margin-bottom: 1rem;
                        display: block;

                        svg {
                            width: 45px;
                            height: 45px;
                        }

                        &:focus svg {
                            fill: var(--dark);
                        }

                        &:focus-visible svg {
                            fill: var(--dark);
                        }
                    }
                }
            }

            article {
                max-width: 100%;
                padding: 0 clamp(0rem, calc(20vw - 200px), 8rem);

                & > div, & > p, & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & ul li  {
                    max-width: var(--smallest-width);
                    min-height: auto;
                    margin: auto;
                    padding: 0 2rem;
                    position: relative;
                    font-family: FFMiloWebProText,sans-serif;
                    color: var(--article-black);
                    font-size: 1.2rem;
                    line-height: 1.5;
                    letter-spacing: 0.0rem;

                    a {
                        &:any-link {
                            text-decoration: underline;
                            color: var(--highlight-1-contrast-friendly);
                        }

                        &:hover, &:focus {
                            color: var(--highlight-2-contrast-friendly);
                        }

                        &:focus-visible {
                            color: var(--highlight-2-contrast-friendly);
                        }
                    }

                    &.article-image {
                        max-height: 600px;
                        position: relative;
                        overflow:hidden;
                        margin: 0 0 2rem;

                        img {
                            // object-fit:unset;
                            // position:relative;
                            // height: 100%;
                            // width: 100%;
                        }
                    }
                }

                ul, ol {
                    list-style: disc inside;

                    li {
                        padding-bottom: 0;
                    }
                }

                h1, h2, h3, h4, h5, h6 {
                    color: var(--article-pink);
                    font-family: FFMiloWebProBold,sans-serif;
                    font-size: 2.4rem;
                    line-height: 1.2;
                }

                div.subscribe-form-article-wrapper {
                    padding-top: var(--padding-section-medium);
                    padding-bottom: var(--padding-section-medium);
                    background-color: var(--black);
                    margin: 0 2rem;
                    position: relative;

                    &::before {
                        content: '';
                        position:absolute;
                        width: 100%;
                        height: 30rem;
                        background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
                        top: -30rem;
                        left: 0;
                    }
            
                    h4 {
                        text-align: center;
                        color: var(--white);
                        font-family: var(--heading-font);
                        font-size: var(--h3-max);
                    }
            
                    form {
                        div {
                            input:focus, button:focus {
                                outline-color: var(--white);
                            } 
                            
                            input:focus-visible , button:focus-visible{
                                outline-color: var(--white);
                            }
                            
                            input:active , button:active{
                                outline-color: var(--white);
                            }

                            label {
                                color: var(--white);
                            }
                        }

                        div.subscribe-form-banner-inputs {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-template-rows: auto;
                            column-gap: 1.6rem;
                            row-gap: 1rem;
                            margin: 0 auto;
                            max-width: var(--smallest-width);
            
                            div {
                                &.subscribe-form-banner-inputs-first {
                                    grid-column: 1;
                                    grid-row: 1;
                                }
            
                                &.subscribe-form-banner-inputs-last {
                                    grid-column: 2;
                                    grid-row: 1;
                                }
            
                                &.subscribe-form-banner-inputs-email {
                                    grid-column: 3;
                                    grid-row: 1;
                                }
            
                                &.subscribe-form-banner-checkbox {
                                    grid-column: 1 / 4;
                                    grid-row: 2; 
                                    display: flex;
                                    max-width: var(--smallest-width);
                                    align-items: center;

                                    & input {
                                        width: 2.5rem;
                                    }

                                    & label {
                                        margin: 0 0 0.25rem 1.5rem;
                                        line-height: 1;
                                    }
                                }
            
                                &.subscribe-form-banner-inputs-button {
                                    grid-column: 1 / 4;
                                    grid-row: 3;
                                    padding-top: 1rem;
                                    
                                    button {
                                        padding-top: 1rem;
                                        padding-bottom: 1rem;
                                        padding-left: 3.7rem;
                                        padding-right: 3.7rem; 
                                        height: 4rem;
            
                                        &.dark-border::after {
                                            @include button-dark-border;
                                        }
                                    }
                                }
            
                                input {
                                    position: relative;
                                    border: 1px solid var(--white);
                                    width: 100%;
                                    margin-left: 0;
                                }
            
                                label {
                                    margin-top: 0.5rem;
                                    margin-left: 0;
                                    margin-bottom: 0.3rem;
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }

            nav.article-nav {
                flex: 0 0 15rem;
                margin: 0;
                padding: 0;

                div.article-nav-container {
                    position: sticky;
                    top: 8rem;

                    a.btn + a.btn {
                        margin-top: 1rem;
                    }

                    ul.table-of-content {
                        li {
                            margin: 0px 0px 5px;
                            padding: 0;
                            list-style-type: none;
                            position: relative;

                            a {
                                text-transform: capitalize;
                            }
                        }
                    }
                }

                div.article-nav-mobile {
                    display: none;
                }
            }
        }
    }
}

@media all and (max-width: $desktop) {
    body main.blog, body main.news { 
        section.article-content div.article-content-wrapper article div.subscribe-form-article-wrapper form {
            div.subscribe-form-banner-inputs {
                grid-template-columns: 1fr 1fr;

                div {
                    &.subscribe-form-banner-inputs-first {
                        grid-column: 1;
                        grid-row: 1;
                    }

                    &.subscribe-form-banner-inputs-last {
                        grid-column: 2;
                        grid-row: 1;
                    }

                    &.subscribe-form-banner-inputs-email {
                        grid-column: 1 /3;
                        grid-row: 2;
                    }

                    &.subscribe-form-banner-checkbox {
                        grid-column: 1 / 3;
                        grid-row: 3; 
                        display: flex;
                        max-width: var(--smallest-width);
                        align-items: center;

                        & input {
                            width: 2.5rem;
                        }
                    }

                    &.subscribe-form-banner-inputs-button {
                        grid-column: 1 / 3;
                        grid-row: 4;
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $tablet) {
    body main.blog, body main.news {
        section.article-header {
            padding: 5rem 0 3rem;

            & > div {
                .article-title {
                    font-size: var(--h1-article-tablet);
                }

                .article-author {
                    font-size: var(--h3-tablet-small);
                }
            }
        }

        section.article-cta {
            div.article-cta-wrapper {
                div.article-cta-container {
                    h3 {
                        font-size: var(--h4-tablet);
                    }
                }
            }
        }
        
        section.article-content div.article-content-wrapper {
            padding: 5rem 2rem 0;

            aside.article-social {
                div.article-social-wrapper {
                    position: sticky;
                    top: 5rem;

                    a svg {
                        width: 32px;
                        height: 32px;
                    }
                }
            }

            article {
                & > div, & > p, & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & ul li  {
                    padding: 0 2rem 2rem;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    
                    &.article-image {
                        height: auto;
                        margin-bottom: 0;
                    }
                }
    
                h1, h2, h3, h4, h5, h6 {
                    color: var(--article-pink);
                    font-family: FFMiloWebProBold,sans-serif;
                    font-size: 2.4rem;
                    line-height: 1.2;
                }

                div.subscribe-form-article-wrapper form {
                    div.subscribe-form-banner-inputs {
                        grid-template-columns: 1fr;
            
                        div {
                            &.subscribe-form-banner-inputs-first {
                                grid-column: 1;
                                grid-row: 1;
                            }
            
                            &.subscribe-form-banner-inputs-last {
                                grid-column: 1;
                                grid-row: 2;
                            }
            
                            &.subscribe-form-banner-inputs-email {
                                grid-column: 1;
                                grid-row: 3;
                            }
            
                            &.subscribe-form-banner-checkbox {
                                grid-column: 1;
                                grid-row: 4; 
            
                                & input {
                                    width: 2.5rem;
                                }
                            }
            
                            &.subscribe-form-banner-inputs-button {
                                grid-column: 1;
                                grid-row: 5;
                            }
                        }
                    }
                }
            }
    
            nav.article-nav {
                flex: 0 0 11rem;

                div.article-nav-container {
                    position: sticky;
                    top: 5rem;
                }
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    body main.blog, body main.news {
        padding-top: 2rem;

        h1, h2, h3, h4, h5, h6 {
            font-size: 1rem;

            &.h3-size { font-size: var(--h3-tablet-small); }
        }

        section.article-header {
            padding: 4rem 0 2rem;

            & > div {
                max-width: var(--medium-width);
                margin: 0 auto;

                .article-title {
                    font-size: var(--h1-article-tablet-small);
                }

                .article-author {
                    font-size: var(--h3-tablet-small);
                }
            }

            ul.selected-options li { 
                display: flex;
                margin-left: 0;
            }
        }

        section.article-cta {
            div.article-cta-wrapper {
                div.article-cta-container {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;

                    h3 {
                        padding:0 0 1rem;
                        font-size: var(--h4-tablet-small);
                    }
                }
            }
        }

        section.article-content div.article-content-wrapper {
            flex-wrap: wrap;
            padding-right: 0;
            padding-top: 4rem;
            
            article {
                max-width: calc(100% - 3rem);

                & > div, & > p, & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & ul li  {
                    padding: 0 2rem 2rem;
                    font-size: 1.2rem;
                    line-height: 1.5;
                    
                    &.article-image {
                        height: auto;
                    }
                }
    
                h1, h2, h3, h4, h5, h6 {
                    font-size: 2rem;
                    line-height: 1.2;
                }

                div.subscribe-form-article-wrapper {
                    padding-top: 2rem;
                    padding-bottom: 2rem;

                    h4 {
                        font-size: var(--h4-tablet-small);
                    }

                    form div.subscribe-form-banner-inputs {
                        div.subscribe-form-banner-checkbox {
                            & input {
                                width: 2rem;
                            }
                        }
                    }
                }
            }
    
            nav.article-nav {
                flex: 0 0 100%;
                padding-top: 2rem;
                order: 3;

                div.article-nav-container {
                    position: relative;
                    top: 0;
                }
                
                div.article-nav-mobile {
                    display: block;
                    position: fixed;
                    bottom: -100%;
                    left: 0;
                    background-color: var(--white);
                    padding: 1rem;
                    width: 100%;
                    transition: bottom 0.2s;
                    z-index: 1000;

                    &.scrollUp {
                        bottom: 0;
                    }

                    a:first-of-type {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    body main.blog, body main.news {
        padding-top: 2rem;

        h1, h2, h3, h4, h5, h6 {
            font-size: 1rem;

            &.h3-size { font-size: var(--h3-mobile); }
        }

        section.article-header {
            & > div {
                .article-title {
                    font-size: var(--h1-article-mobile);
                }

                .article-author {
                    font-size: var(--h3-mobile);
                }
            }

            ul.selected-options {
                padding-left: 1rem;
            }
        }

        section.article-cta {
            div.article-cta-wrapper {
                div.article-cta-container {
                    h3 {
                        font-size: var(--h4-mobile);
                    }
                }
            }
        }

        section.article-content div.article-content-wrapper {
            padding-left: 0;

            aside.article-social {
                flex: 0 0 calc(100% - 2rem);
                order: 0;

                div.article-social-wrapper {
                    position: sticky;
                    top: 3rem;
                    padding-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;

                    a {
                        flex: 0 0 0;
                        
                        svg {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }

            article {
                max-width: 100%;
                order: 2;

                & > div, & > p, & > h1, & > h2, & > h3, & > h4, & > h5, & > h6, & ul li  {
                    padding: 0 1rem 2rem;
                    font-size: 1rem;
                    line-height: 1.5;
                    
                    &.article-image {
                        height: auto;
                    }
                }
    
                h1, h2, h3, h4, h5, h6 {
                    font-size: 1.6rem;
                    line-height: 1.2;
                }

                ul li  {
                    padding: 0 1rem;
                }

                div.subscribe-form-article-wrapper {
                    margin: 2rem 1rem;
                    padding-top: 2rem;
                    padding-bottom: 2rem;

                    h4 {
                        font-size: var(--h3-mobile);
                    }
                }
            }
    
            nav.article-nav {
                margin: 0 1rem;
                flex: 0 0 calc(100% - 2rem);
            }
        }
    }
}