@import "./media-queries.scss";

div.ask-our-team {
    display: flex;
    max-width: 50rem;
    margin: 0 auto;

    div.ask-our-team-image {
        flex: 1 0 auto;
        position: relative;
        text-align: center;
        align-self: center;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center;
        width: m#{i}n(292px, 15vw);
        height: 305px;
        background-size: contain;

        &.ask-square-image {
            border-radius: 50%;
            flex: none;
            width: 292px;
            height: 292px;
        }
    }

    div.ask-our-team-text {
        flex: 0 1 auto;
        margin-left:0rem;
        margin-top: 0rem;
        padding-top: 2rem;
        padding-left: 2rem;

        &.centre { align-self: center; }

        h4 {
            padding-bottom:1.5rem;

            &.ask-our-team-text-contact { padding-bottom: 0; }
        }

        div.ask-our-team-text-buttons {
            a.btn {
                margin-right: 0.5rem;
                margin-left: 0;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        p.ask-our-team-text-contact { padding-bottom: 0.5rem; }
    }

    &.ask-small {
        align-self: center;
        flex-direction:column;
        gap:1rem;
        align-items: baseline;

        & div.ask-our-team {
            margin: 0;
        }

        div.ask-our-team-image {
            height: 10rem;
            width: 10rem;
        }

        div.ask-our-team-text {
            padding-top: 0;
            align-self: center;

            p {
                padding-bottom: 0;
            }
        }
    }
}

@media all and (max-width: $desktop) {
    div.ask-our-team {
        flex-direction: column;

        div.ask-our-team-image {
            flex: 0 1 14rem;
            width: 15rem;
            background-position: top;
            background-size: 100%;
            width: 15rem;
            background-repeat: no-repeat;
            width: 292px;
            margin-right: 1rem;
        }

        div.ask-our-team-text {
            margin-top: 0.5rem;
            margin-left: 0;
            margin-right: 1rem;
            background-image: none;
            padding: 0;
            text-align: center;

            h4 {
                padding-bottom: 0;
            }

            p {
                max-width: 30rem;
                margin: 0 auto;
            }
        }

        &.single {
            div.ask-our-team-text {
                padding-left: 0;
            }
        }


        &.ask-small {
            div.ask-our-team {
                flex-direction: row;
            }
        }
    }
}
    
@media all and (max-width: $tablet) {
    div.ask-our-team {
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;

        div.ask-our-team-image { 
            margin-right: 0;
            flex: 1 1 auto;
            height: 347px;
            max-width: 292px;
            background-position: center;
        }

        div.ask-our-team-text {
            height: auto;
            flex: 1 1 auto;
            margin: 0 0 0 1rem;
        }
    }
} 
@media all and (max-width: $tablet-small)  {
    div.ask-our-team {
        flex-direction: column;

        div.ask-our-team-image {
            width: 16rem;
            height: 12rem;
            background-position: top center;

            &.ask-square-image {
                width: 200px;
                height: 200px;
            }
        }

        div.ask-our-team-text {
            width: 100%;
            margin-left: 0;
            margin-top: 0.5rem;

            p {
                width: m#{i}n(90%,30rem);
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    div.ask-our-team {
        div.ask-our-team-text div.ask-our-team-text-buttons {
            a.btn {
                margin-right: 0.5rem;
                margin-left: 0.5rem;

                &:last-of-type {
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }
            }
        }

        &.ask-small {
            margin: 0 auto !important;  
             
            div.ask-our-team div.ask-our-team-image {
                display: none;
            } 
        }
    }
}