@import "./media-queries.scss";

div.big-stat-button-image {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: 6fr 7fr;
    grid-template-rows: auto;

    h4 {
        grid-column: 1;
        grid-row: 1;
        line-height:2.4rem;
        padding-right: 2rem;

        span.big-stat-button-image-text-highlight {
            font-size: var(--h1-max);
            display: block;
            line-height: 7rem;
            padding-bottom: 1rem;
        }
    }

    a {
        grid-column: 1;
        grid-row: 2;
        width: fit-content;
        width: -moz-fit-content; // firefox needs prefix 
        margin-right: 2rem;
    }

    div.big-stat-button-image-image {
        position:relative;
        grid-column: 2;
        grid-row: 1 / 3;
    }
}

@media all and (max-width: $desktop) {
    div.big-stat-button-image {
        a {
            grid-column: 1 / 3;
        }

        div.big-stat-button-image-image {
            grid-row: 1;
            margin-bottom: 2rem;
        }
    }
}
@media all and (max-width: $tablet) {
    div.big-stat-button-image {
        margin-top: 4rem;

        h4 {
            span.big-stat-button-image-text-highlight {
                font-size: var(--h1-tablet);
                line-height: 5rem;
            }
        }

        a {
            grid-column: 1;
            grid-row: 2;
        }

        div.big-stat-button-image-image {
            grid-column: 2;
            grid-row: 1 / 3;
            margin-bottom: 0;
        }
    }
}
@media all and (max-width: $tablet-small)  {
    div.big-stat-button-image {
        h4 {
            span.big-stat-button-image-text-highlight {
                font-size: var(--h1-tablet-small);
            }
        }

        a {
            grid-column: 1 / 3;
            grid-row: 2;
            margin-top: 2rem;
        }

        div.big-stat-button-image-image {
            grid-column: 2;
            grid-row: 1;
            margin-bottom: 0;
        }
    }
} 
@media all and (max-width: $mobile) {
    div.big-stat-button-image {
        h4 {
            grid-column: 1 / 3;
            line-height: 1.8rem;
            padding-right: 0;

            span.big-stat-button-image-text-highlight {
                font-size: var(--h1-mobile);
                line-height:3rem;
            }
        }

        a {
            grid-column: 1 / 3;
            grid-row: 2;
            margin-top: 1rem;
        }

        div.big-stat-button-image-image {
            grid-column: 2;
            grid-row: 1;
            margin-bottom: 0;
            display:none;
        }
    }
}