@import "./media-queries.scss";

section.block-links-images-outside {
    background-color: var(--grey-bg);
    padding-top: 4rem;
    margin-bottom: 6rem; 
    
    div.block-links-images-outside-wrapper {
        max-width: var(--medium-width);

        h3 {
            text-align: center;
        }

        div.wrapper-block-links-images-outside-images {
            display: flex;
            justify-content: space-around;
            flex-flow: row;
                    
            div.block-links-images-outside-images {
                flex: 1 0;
                position: relative;
                min-width: 300px;
                min-height: calc(320px + 3rem);
                margin: 0 0.65rem 1rem;

                a {
                    height: 100%;
                    width: 100%;
                    display: block;

                    div.block-links-images-outside-image-wrapper {
                        height: 320px;
                        width: 100%;
                        position:relative;
                    }

                    h4 {
                        position: relative;
                        width: 100%;
                        padding: 1.3rem 0;
                        box-sizing: border-box;
                        opacity: 1;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &.bg-dark {

        div.block-links-images-outside-wrapper {
            max-width: var(--medium-width);
    
            h3 {
                color: var(--highlight-2);
            }

            div.wrapper-block-links-images-outside-images div.wrapper-block-links-images-outside-images-inner div.block-links-images-outside-images a {
                &:hover, &:focus {
                    outline-color: var(--white, #ffffff);
                }

                &:focus-visible {
                    outline-color: var(--white, #ffffff);
                }
            }
        }
    }
}

@media all and (max-width: $desktop) {
    section.block-links-images-outside div.block-links-images-outside-wrapper div.wrapper-block-links-images-outside-images {
        flex-wrap: wrap;
                    
        div.block-links-images-outside-images {
            flex: 1 0;
            min-width: 390px;
        }
    }
}

@media all and (max-width: $tablet) {
    section.block-links-images-outside div.block-links-images-outside-wrapper div.wrapper-block-links-images-outside-images div.block-links-images-outside-images {
        min-width: 300px;
    }
}
@media all and (max-width: $tablet-small) {
    section.block-links-images-outside div.block-links-images-outside-wrapper {
        padding: 0 1rem;

        h3 {
            text-align: center;
        }
    }
} 
@media all and (max-width: $mobile) {
    section.block-links-images-outside div.block-links-images-outside-wrapper {
        padding: 0 0.5rem;

        div.wrapper-block-links-images-outside-images div.block-links-images-outside-images {
            min-height: calc(200px + 3rem);

            a div.block-links-images-outside-image-wrapper {
                height: 200px;
            }
        }
    }
}