@import "./media-queries.scss";

section.block-links-images-even {
    background-color: transparent;
    padding-top: 4rem;
    margin-bottom: 6rem; 
    
    div.block-links-images-even-wrapper {
        max-width: var(--medium-width);

        h3 {
            text-align: center;
        }

        div.wrapper-block-links-images-even-images {
            display: flex;
            justify-content: space-around;
            flex-flow: row wrap;

            div.wrapper-block-links-images-even-images-inner {
                flex: 1 0;
                display: flex;
                justify-content: space-around;
                flex-flow: row wrap;
                    
                    div.block-links-images-even-images {
                        flex: 1 0;
                        position: relative;
                        min-width: 320px;
                        min-height: 320px;
                        margin: 0 0.65rem 1rem;

                        a {
                            height: 100%;
                            width: 100%;
                            display: block;


                        h4 {
                            color: var(--heading-light-color);
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            padding: 1.3rem 1.6rem;
                            box-sizing: border-box;
                            opacity: 1;
                            background-color: rgba(0,0,0,0.35);
                        }
                    }
                }
            }
        }
    }

    &.bg-dark {
        div.block-links-images-even-wrapper {
            max-width: var(--medium-width);
    
            h3 {
                color: var(--highlight-2);
            }

            div.wrapper-block-links-images-even-images div.wrapper-block-links-images-even-images-inner div.block-links-images-even-images a {
                &:hover, &:focus {
                    outline-color: var(--white, #ffffff);
                }

                &:focus-visible {
                    outline-color: var(--white, #ffffff);
                }
            }
        }
    }
}
@media all and (max-width: $tablet-small) {
    section.block-links-images-even div.block-links-images-even-wrapper {
        padding: 0 1rem;

        h3 {
            text-align: center;
        }
    
        div.wrapper-block-links-images-even-images {
    
            div.wrapper-block-links-images-even-images-inner {
                    
                    div.block-links-images-even-images {
                        min-width: 220px;
                        min-height: 220px;
                        margin: 0 0.65rem 1rem;
    
                        a {
                            height: 100%;
                            width: 100%;
                            display: block;
    
                        h4 {
                            color: var(--heading-light-color);
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            padding: 1.3rem 1.6rem;
                            box-sizing: border-box;
                            opacity: 1;
                            background-color: rgba(0,0,0,0.35);
                        }
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.block-links-images-even div.block-links-images-even-wrapper {
        padding: 0 0.5rem;

        div.wrapper-block-links-images-even-images div.wrapper-block-links-images-even-images-inner div.block-links-images-even-images {
            min-width: 220px;
            min-height: 140px;
            margin: 0 0.65rem 1rem;

            h4 {
                height: 100%;
            }
        }
    }
}