@import "./media-queries.scss";

section.breakout-two {
    div.breakout-two-wrapper {
        h3 {
            text-align: center;
        }

        div.breakout-two-container {
            position:relative;
            margin-top: 0.5rem;
            display:flex;
            gap: 2rem;
            justify-content: space-between;
            width: 100%;

            div.breakout-two-box {
                display:flex;
                justify-content: flex-start;
                max-width:38rem;
                position: relative;

                div.breakout-two-text {
                    flex: 0 1 26rem;
                    position:relative;
                    padding: 2rem;
                    max-width: 40rem;
                    min-height: 21rem;
                    pointer-events: none;
                    display: flex;
                    flex-direction: column;

                    h4 {
                        padding-bottom:1rem;
                        font-size: var(--h5-max);
                    }

                    a {
                        pointer-events: all;

                        &.btn {
                            margin-top: auto;
                            padding-left: 2rem;
                            padding-right: 2rem;
                        }
                    }
                }

                div.breakout-two-image-container {
                    flex: 0 1 auto;
                    position:relative;
                    padding-bottom:1rem;
                    width:100%;

                    div.breakout-two-image {
                        position: relative;
                        height: calc(100% - 5rem);
                        top: 2.3rem;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 85%;
                    border-width: 1px;
                    border-style: solid;
                    border-color: var(--highlight-1);
                }
            }
        }
    }
    div.breakout-two-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;

        a {
            margin: 1rem 1rem 0;
        }
    }
}

@media all and (max-width: $tablet) {
    section.breakout-two {
        div.breakout-two-wrapper {
            div.breakout-two-container {
                flex-wrap: wrap;
                justify-content: center;

                div.breakout-two-box {
                    max-width: 100%;

                    &:last-of-type {
                        flex-direction: row-reverse;
                        
                        &::before {
                            right: 0;
                            left: auto;
                        }
                    }
                }
            }
        }
    }
} 

@media all and (max-width: $mobile) {
    section.breakout-two {
        div.breakout-two-wrapper {
            div.breakout-two-container {
                div.breakout-two-box {
                    flex-direction: column-reverse;

                    &::before {
                        border-width: 0;
                    }

                    &:last-of-type {
                        flex-direction: column-reverse;
                        margin-top: 2rem;
                    }

                    div.breakout-two-text {
                        padding: 0;
                        flex: 0 1 auto;
                        min-height: auto;

                        h4 {
                            font-size: var(--h5-mobile);
                        }

                        a.btn {
                            margin: auto;
                        }
                    }

                    div.breakout-two-image-container {
                        div.breakout-two-image {
                            top: 0;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}