@import "./media-queries.scss";

section.breakout-image {
    div.breakout-image-wrapper {
        display: flex;

        div.breakout-image-text {
            flex: 1;
            width: 50%;

            div.breakout-image-text-inner {
                box-sizing: border-box;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 3.5rem 3rem 3.5rem 3.4rem;

                p {
                    padding-bottom: 1.2rem;

                    &.breakout-image-text-highlight {
                        font-size: 1.2rem;
                        font-weight: var(--font-strong);
                    }
                }

                a.btn {
                    margin-top: 1rem;
                    margin-right: -0.2rem;
                }

                ul {
                    list-style-type: disc;
                    list-style-position: outside;
                    padding-bottom: 1rem;
                    padding-left: 1.5rem;
                }
            }
        }

        div.breakout-image-image {
            flex: 0 1 auto;
            width: 50%;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: var(--breakout-box-shadow-width);
                left: calc(var(--breakout-box-shadow-width) * -1);
                bottom: calc(var(--breakout-box-shadow-width) *.95 * -1);
                right: var(--breakout-box-shadow-width);
            }
        }
    }

    &.swap-image-right div.breakout-image-wrapper {
        flex-direction: row-reverse;

        div.breakout-image-text {

            div.breakout-image-text-inner {
                padding: 3.5rem 3.4rem 3.5rem 3rem;

                a.btn {
                    margin-left: -0.3rem;
                }
            }
        }

        div.breakout-image-image::before {
            left: var(--breakout-box-shadow-width);
            right: calc(var(--breakout-box-shadow-width) * -1);
        }
    }
}


@media all and (max-width: $tablet) {
    section.breakout-image {
        div.breakout-image-wrapper {
            display: flex;
            flex-direction: column;
        
            div.breakout-image-text {
                width: 100%;
                box-sizing: border-box;
                position:relative;
                z-index: 0;
                
                div.breakout-image-text-inner {
                    padding: 3rem 0;
                    
                    a.btn {
                        margin-right: 0rem;
                    }
            
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: calc(var(--breakout-box-shadow-width) * -1);
                        bottom: calc(var(--breakout-box-shadow-width) * 0.95 * -1);
                        right: var(--breakout-box-shadow-width);
                        z-index: -1;
                    }
                }
            }
        
            div.breakout-image-image {
                width: 100%;
                min-height: var(--min-height-images-tablet-small);
            }
        }

        &.swap-image-right div.breakout-image-wrapper {
            flex-direction: column;

            div.breakout-image-text {
                div.breakout-image-text-inner {
                    padding: 3rem 0;
                
                    &::before {
                        right: calc(var(--breakout-box-shadow-width) * -1);
                        bottom: calc(var(--breakout-box-shadow-width) * 0.95 * -1);
                        left: var(--breakout-box-shadow-width);
                        z-index: -1;
                    }

                    a.btn {
                        margin-left: 0rem;
                    }
                }
            }
        } 
    }    
} 
@media all and (max-width: $tablet-small) {
    section.breakout-image {
        div.breakout-image-wrapper {
            padding: 0;

            div.breakout-image-text {
                div.breakout-image-text-inner {
                    padding: 3rem 2rem;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }
                }
            }

            div.breakout-image-image {
                &::before {
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }
        }

        &.swap-image-right div.breakout-image-wrapper {
            flex-direction: column;

            div.breakout-image-text {
                div.breakout-image-text-inner {
                    padding: 3rem 2rem;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            div.breakout-image-image {
                &::before {
                    right: 0;
                    top: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }    
} 
@media all and (max-width: $mobile) {
    section.breakout-image {
        div.breakout-image-wrapper {
            padding: 0;

            div.breakout-image-text {
                div.breakout-image-text-inner {
                    padding: 2rem 1rem;
                }
            } 
        }

        &.swap-image-right div.breakout-image-wrapper {
            div.breakout-image-text {
                div.breakout-image-text-inner {
                    padding: 2rem 1rem;
                }
            }
        } 
    }
}