@import "./media-queries.scss";

section.buttons-band {
    padding-top: 0.6rem;
    padding-bottom: 0;

    &.sticky-band {
        position: sticky;
        top: 0;
        z-index: 1000000;
    }

    &.scroll-nav { 
        position:fixed; 
        bottom: -100%;
        top: auto;
        z-index: 1000000;
        transition: bottom 0.6s cubic-bezier(1, 0, 0, 1);
        width: 100%;
        left:0;

        &.scrollUp { bottom: 0; }

        ul.buttons-band-wrapper { margin-bottom: 0; }
    }

    ul.buttons-band-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
        padding: 0;
        margin-bottom: 4rem;

        li.buttons-band-button {
            flex: 0 0 0;
            margin: 0 0.6rem;
            padding-bottom: 0.7rem;

            a.btn {
                margin: 0 auto;
                display: block;
                width: max-content;
            }
        }
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
} 
@media all and (max-width: $tablet-small) {
    section.buttons-band {
        padding-top: 0.5rem;
        
        ul.buttons-band-wrapper li.buttons-band-button {
            padding-bottom: 0.3rem;
            margin: 0 0.2rem;

            a.btn {
                padding: var(--button-standard-less-padding-tiny);
                line-height: 1;
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.buttons-band {
        padding-top: 0.4rem;
        
        ul.buttons-band-wrapper li.buttons-band-button {
            padding-bottom: 0.2rem;

            a.btn {
                padding: var(--button-standard-less-padding-tiniest);
            }
        }
    }
}
@media all and (max-width: $mobile-small) {
    section.buttons-band {
        padding-top: 0.3rem;
        
        ul.buttons-band-wrapper li.buttons-band-button a.btn {
            font-size: var(--body-small-header-highlight-font-size-mobile);
            padding: var(--button-standard-less-padding-tiniest-small-mobile);
        }
    }
}