@import "./mixin-simple-carousel.scss";
@import "./media-queries.scss";

section.carousel-quote-desc {
    padding-bottom:4.5rem;
    position: relative;

    div.carousel-quote-desc-wrapper {

        h3 {
            text-align: center;
            padding-bottom: 2.5rem;
        }

        // slider prev/next generated button styles
        @include simple-carousel-button-basics;
        button.a11y-slider-prev, button.a11y-slider-next {
            top: 40%;
        }

        ul.carousel-quote-desc-container {
            display: flex;
            overflow: hidden;

            li {
                flex: 0 0 auto;
                width: 100%;
                // for background gradient on portrait image
                margin-bottom: 0.5rem;

                blockquote.carousel-quote-desc-quote {
                    text-align: center;
                    padding-bottom: 3rem;
                    max-width: 1080px;
                    margin: 0 auto;
                    display: block;

                    &::before, &::after { font-family: var(--heading-font) }

                    &::before {
                        content: '\201F';
                    }

                    &::after {
                        content: '\201D';
                        margin-right: -0.5rem;
                        display: inline-block;
                    }
                }

                div.wrapper-carousel-quote-desc-description {
                    width: 85vw;
                    max-width: 43rem;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    div.carousel-quote-desc-image-background {
                        position: relative;
                        height: 120px;
                        width: 120px;
                        flex: 0 1 auto;

                        &::before {
                            content: '';
                            background: linear-gradient(135deg, #E81B92 , #8E79A2, #38E8B7); 
                            height: 120px;
                            width: 120px;

                            position: absolute;
                            top: 6px;
                            left: -6px;
                        }

                        div.carousel-quote-desc-image {
                            position: relative;
                            height: 120px;
                            width: 120px;
                            overflow: hidden;
                            background-color: white;
                            background-position: center;
                            background-size: 76%;
                            background-repeat: no-repeat;
                        }
                        
                    }

                    div.carousel-quote-desc-description {
                        padding-left: 3rem;
                        flex: 0 1 auto;
                        line-height: 1.6rem;


                        p.carousel-quote-desc-description-title {
                            text-transform: uppercase;
                            padding-bottom: 1.5rem;

                            span.carousel-quote-desc-description-title-strong {
                                font-weight: var(--font-strong);
                            }
                        }

                        p.carousel-quote-desc-description-copy {
                            padding-bottom: 0;
                        }
                    }
                }

                div.carousel-quote-desc-button {
                    padding-top: 3rem;
                    text-align: center;
                    // fixes disappearing overlap of focus element on bottom of button
                    margin-bottom: 1rem;
                }
            }

            &.no-image-1 {
                li:nth-of-type(1) div.wrapper-carousel-quote-desc-description {
                    div.carousel-quote-desc-image-background { display: none; }
                    div.carousel-quote-desc-description {
                        padding-left: 0;
                        text-align: center;
                    }
                }
            }

            &.no-image-2 {
                li:nth-of-type(2) div.wrapper-carousel-quote-desc-description {
                    div.carousel-quote-desc-image-background { display: none; }
                    div.carousel-quote-desc-description {
                        padding-left: 0;
                        text-align: center;
                    }
                }
            }

            &.no-image-3 {
                li:nth-of-type(3) div.wrapper-carousel-quote-desc-description {
                    div.carousel-quote-desc-image-background { display: none; }
                    div.carousel-quote-desc-description {
                        padding-left: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}


@media all and (max-width: $tablet-small) {
    section.carousel-quote-desc div.carousel-quote-desc-wrapper {
        h3 {
            padding-bottom: 2.5rem;
        }
    
        blockquote.carousel-quote-desc-quote {
            padding-bottom: 3rem;
            max-width: 1080px;
            margin: 0 auto;
        }

        ul.carousel-quote-desc-container li {
            div.wrapper-carousel-quote-desc-description {
                width: 85vw;
                max-width: 43rem;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
        
                div.carousel-quote-desc-image-background {
                    position: relative;
                    height: 120px;
                    width: 120px;
                    flex: 0 1 auto;
        
                    &::before {
                        content: '';
                        background: linear-gradient(135deg, #E81B92 , #8E79A2, #38E8B7); 
                        height: 120px;
                        width: 120px;
        
                        position: absolute;
                        top: 6px;
                        left: -6px;
                    }
        
                    div.carousel-quote-desc-image {
                        position: relative;
                        height: 120px;
                        width: 120px;
                        overflow: hidden;
                    
                    }
                    
                }
        
                div.carousel-quote-desc-description {
                    padding-left: 3rem;
                    flex: 0 1 auto;
        
        
                    p.carousel-quote-desc-description-title {
                        text-transform: uppercase;
                        font-weight: var(--font-strong);
                        padding-bottom: 1rem;
                    }
        
                    p.carousel-quote-desc-description-copy {
                        padding-bottom: 0;
                    }
                }
            }
        } 
    }
} 
@media all and (max-width: $mobile) {
    section.carousel-quote-desc div.carousel-quote-desc-wrapper {
        
        button.a11y-slider-prev, button.a11y-slider-next {
            top: 47%;
        }
        ul.carousel-quote-desc-container {
            display: flex;
            overflow: hidden;

            li {
                flex: 0 0 auto;
                width: 100%;

                div.wrapper-carousel-quote-desc-description {
                    width: auto;
                    align-items: center;
                    display: block;
            
                    div.carousel-quote-desc-image-background {
                        display: none;
            
                        div.carousel-quote-desc-image {
                            display: none;                
                        }
                        
                    }
            
                    div.carousel-quote-desc-description {
                        text-align: center;
                        padding-left: 0;
                        flex: none;
                        max-width: calc(100% - 6rem);
                        margin: 0 auto;
            
            
                        p.carousel-quote-desc-description-title {
                            padding-bottom: 0;
                        }
            
                        p.carousel-quote-desc-description-copy {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }    
    }
}