@import "./mixin-simple-carousel.scss";
@import "./media-queries.scss";

section.carousel-image-desc {
    padding-bottom: 4rem;
    position:relative;

    div.carousel-image-desc-wrapper {

        h3 {
            text-align: center;
        }

        // slider prev/next generated button styles
        @include simple-carousel-button-basics;
        button.a11y-slider-prev, button.a11y-slider-next {
            top: 40%;
        }

        ul.carousel-image-desc-container {
            display: flex;
            max-width: var(--smallest-width); 
            overflow: hidden;
            margin: 0 auto;

            &.two-items { max-width: 900px; }
            &.three-items { max-width: var(--narrow-width); }

            li {
                padding: 0 0.65rem;
                flex: 1 1 0;

                div, a:not(.btn) {
                    min-height: 385px;
                    min-width: 100%;
                    position: relative;
                    margin-bottom: 1rem;
                    display:block;

                    img { object-position: top; }
                }

                h4 {
                    padding-bottom: 0.5rem;
                }
            }
        }
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
} 
@media all and (max-width: $tablet-small) {
} 
@media all and (max-width: $mobile) {
    section.carousel-image-desc div.carousel-image-desc-wrapper ul.carousel-image-desc-container li {
        div, a:not(.btn) {
            min-height: 300px;
        }
    }
}