@import "./mixin-simple-carousel.scss";
@import "./media-queries.scss";

// add 'swap-image-right' class to first div in html to switch from right to left
section.carousel-spotlight {
    padding-top: 1rem;

    div.carousel-spotlight-wrapper {
        display: flex;
        // align-items: stretch;
        margin-top: 3rem;
        margin-bottom: 3rem;

        ul.carousel-spotlight-images {
            flex: 1 1 0;
            overflow:hidden;
            display: flex;
            margin-top: -4rem;
            margin-bottom: -4rem;

            li {
                position: relative;
                width: 100%;
                flex: 0 0 auto;
            }
        }

        div.wrapper-carousel-spotlight-content {
            width:50%;
            flex: 1 1 0;
            // height: calc(100% - 2rem);
            position: relative;

            div.carousel-spotlight-content-controls {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                text-align: center; 
                transition: height 0.5s;

                fieldset {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    // add focus styles for browsers without focus-visible support
                    &:focus {
                    @include focus-styles;
                    }
                
                    // remove focus styles for browsers with focus-visible support
                    &:focus:not(:focus-visible) {
                        @include remove-focus-styles;
                    }
            
                    // focus-visible support for keyboard navigation only
                    &:focus-visible {
                        @include focus-styles;
                    }

                    button {
                        box-sizing: content-box;
                        padding: 1rem;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        background: transparent;
                        left: 0;
                        height: 8rem;
                        width: 3.5rem;
                        float: right;

                        &::after, &::before {
                            @include button-before-after-reset;
                        }

                        &.left {
                            float: left;

                            svg {
                                transform: translateY(-50%) rotate(180deg);
                                transform-origin: 50% 75%;
                            }
                        }
                    }
                }
            }

            ul.carousel-spotlight-content {
                position: relative;
                display:flex;
                overflow:hidden;
                border-right-width: 1px;
                border-right-style: solid;

                li {
                    width: 100%;
                    flex: 0 0 auto;
                    border-bottom-width: 1px;
                    border-bottom-style: solid;

                    div.carousel-spotlight-content-title {
                        font-family: var(--heading-font);
                        padding: 2.5rem 3.5rem;

                        h4, h5 {
                            line-height: 2.4rem;
                            padding: 0 2rem;
                        }
                        
                        h4 {
                            margin-bottom: 0.5rem;
                            margin: 0;
                        }

                        &.no-arrows {
                            padding: 2.5rem;
                            
                            h4, h5 {
                                padding-left: 0;
                                padding-right: 0;
                            }
                        }
                    }

                    div.carousel-spotlight-content-text {
                        padding: 2.5rem;
                        min-height: 12rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                
                        p {
                            flex: 0;
                        }
                
                        a.btn {
                            margin-top: 1rem;
                            flex: 0;
                            max-width: max-content;
                        }
                    }
                }
            }
        }
    }

    &.swap-image-right div.carousel-spotlight-wrapper {
        flex-direction: row-reverse;
        
        div.wrapper-carousel-spotlight-content ul.carousel-spotlight-content {
            border-left-width: 1px;
            border-left-style: solid;
            border-right-width: 0px;
            border-right-style: solid;
        }
    }
}

@media all and (max-width: $desktop) {
    section.carousel-spotlight div.carousel-spotlight-wrapper ul.carousel-spotlight-images {
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
}

@media all and (max-width: $tablet) {
    section.carousel-spotlight {
        div.carousel-spotlight-wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;
            
            ul.carousel-spotlight-images {
                margin-top: 0;
                margin-bottom: 0;
                width: 100%;
                min-height: var(--min-height-images-tablet-small);

                li {
                    width: 100%;
                    height: var(--min-height-images-tablet-small);
                    min-height: var(--min-height-images-tablet-small);

                    & > div {
                        min-height: var(--min-height-images-tablet-small);
                    }
                }
            }

            div.wrapper-carousel-spotlight-content {
                width: calc(100% - 2px);
                border-left-width: 1px;
                border-left-style: solid;
            }
        }

        &.swap-image-right div.carousel-spotlight-wrapper {
            flex-direction: column;

            div.wrapper-carousel-spotlight-content {
                border-right-width: 1px;
                border-right-style: solid;

                ul.carousel-spotlight-content {
                    border: 0px solid var(--white);
                }
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.carousel-spotlight {
        div.carousel-spotlight-wrapper {
            width: 100%;
            padding: 0;
            
            div.wrapper-carousel-spotlight-content {
                width: 100%;
                border-width: 0px;
                border-style: solid;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                
                ul.carousel-spotlight-content {
                    border-width: 0px;
                    border-style: solid;
                    
                    li {
                    border-width: 0px;
                    border-style: solid;
                    }
                }
            }
        }

        &.swap-image-right div.carousel-spotlight-wrapper {
            div.wrapper-carousel-spotlight-content {
                border-width: 0px;
                border-style: solid;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
        }
    }
}
@media all and (max-width: $mobile) {
    section.carousel-spotlight {
        div.carousel-spotlight-wrapper {
            ul.carousel-spotlight-images {
                min-height: 250px;
    
                li {
                    min-height: 250px;

                    img {
                        height: 250px;
                    }
                }
            }
            div.wrapper-carousel-spotlight-content {
                div.carousel-spotlight-content-controls {
                    fieldset {
                        width: calc(100% - 2.5px);
                        
                        button {
                            padding: 0.5rem;
                            height: 4rem;
                            width: 2.5rem;

                            svg {
                                transform: scale(0.8);
                            }

                            &.left svg {
                                transform: scale(0.8) translateY(-50%) rotate(180deg);
                            }
                        }
                    }
                }
                ul.carousel-spotlight-content {
                    li {
                        border-left: 0px solid var(--white);

                        div.carousel-spotlight-content-title {
                            padding: 1.5rem;
    
                            h4, h5 {
                                line-height: 2rem;
                                padding: 0 2rem;
                                font-size: 2rem;
                            }

                            &.no-arrows {
                                h4, h5 {
                                    padding-left: 0;
                                    padding-right: 0;
                                }
                            }
                        }
                        
                        div.carousel-spotlight-content-text {
                            padding: 1.5rem;
                            min-height: 6rem;
                        }
                    }
                }
            }
        }
    }
}