@import "./mixin-simple-carousel.scss";
@import "./media-queries.scss";

section.carousel-image-only-fade div.carousel-image-only-fade-wrapper {
    h3 {
        text-align: center;
        padding-bottom: 3rem;
    }

    div.carousel-image-only-fade-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        button.slick-prev, button.slick-next {
            position: absolute;
            width: m#{i}n(32vw, 600px);
            top: 0;
            left: 0;
            height: 100%;
            padding: 0;
            background: transparent;
            cursor: var(--arrow-small-left) 32 32, w-resize;
            font-size: 0;

            &::before, &::after {
                @include button-before-after-reset;
            }

            &:focus {
                font-size: 5rem;
                color: var(--black);
                text-shadow: var(--shadow-contrast-white);
            }

            &:focus:not(:focus-visible) {
                font-size: 0;
            }

            &:focus-visible {
                font-size: 5rem;
            }
        }

        button.slick-next {
            left: calc(100% - m#{i}n(32vw, 600px));
            cursor: var(--arrow-small-right) 32 32, e-resize;
        }

        div.slick-slide {
            transition: opacity 0.5s;
            opacity: 0.33;

            // first image in viewport
            &.slick-active {    
                div.carousel-image-only-fade-image div.carousel-image-only-fade-image-wrapper {
                    margin: 0 2.7rem 0 0;
                }    
            }     

            // target not 'current' image but centred image in viewport (as main image)
            &.slick-active {
                &.slick-current + div {
                    opacity: 1;

                    div.carousel-image-only-fade-image div.carousel-image-only-fade-image-wrapper {
                        margin: 0 0;
                    }                    
                }

                // target third image in viewport
                &.slick-current + div + div {
                    opacity: 0.33;

                    div.carousel-image-only-fade-image div.carousel-image-only-fade-image-wrapper {
                        margin: 0 0 0 2.7rem;
                    }                    
                }
            }

            div.carousel-image-only-fade-image {
                position: relative;
                min-height: 396px; 
                min-width: 250px;

                div.carousel-image-only-fade-image-wrapper {
                    position: relative;
                    min-width: 250px;
                    min-height: 396px;
                    transition: margin 0.5s;
                    margin: 0;

                    a {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $desktop) {
    section.carousel-image-only-fade div.carousel-image-only-fade-wrapper {
        div.carousel-image-only-fade-container {
            div.slick-slide {
                // first image in viewport
                &.slick-active {    
                    div.carousel-image-only-fade-image div.carousel-image-only-fade-image-wrapper {
                        margin: 0 1.35rem 0 0;
                    }    
                }     
    
                &.slick-active {
                    // target third image in viewport
                    &.slick-current + div + div {
                        div.carousel-image-only-fade-image div.carousel-image-only-fade-image-wrapper {
                            margin: 0 0 0 1.35rem;
                        }                    
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $tablet) {
    section.carousel-image-only-fade div.carousel-image-only-fade-wrapper {
        div.carousel-image-only-fade-container {
            button.slick-prev, button.slick-next {
                position: absolute;
                width: m#{i}n(32vw, 600px);
                top: 0;
                left: 0;
                height: 100%;
                padding: 0;
                background: transparent;
                font-size: 0;

                &:focus {
                    font-size: 3rem;
                    color: var(--black);
                }

                &:focus-visible {
                    font-size: 3rem;
                }
            }

            button.slick-next {
                left: calc(100% - m#{i}n(32vw, 600px));
            }

            div.slick-slide {
                // all image divs
                margin: 0 1.35rem 0 1.35rem;

                // target centred image in viewport (as main image)
                &.slick-active {
                    &.slick-current {
                        opacity: 1;

                        & + div {
                            opacity: 0.33;
                        }

                        div.carousel-image-only-fade-image div.carousel-image-only-fade-image-wrapper {
                            margin: 0 0;
                        }                    
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.carousel-image-only-fade div.carousel-image-only-fade-wrapper {
        div.carousel-image-only-fade-container {
            button.slick-prev, button.slick-next {
                position: absolute;
                width: m#{i}n(32vw, 600px);
                top: 0;
                left: 0;
                height: 100%;
                padding: 0;
                background: transparent;
                font-size: 0;
            }

            button.slick-next {
                left: calc(100% - m#{i}n(32vw, 600px));
            }

            div.slick-slide {
                // all image divs
                margin: 0 0.65rem 0 0.65rem;
                opacity: 0.33;

                div.carousel-image-only-fade-image {
                    min-width: 250px;

                    div.carousel-image-only-fade-image-wrapper {
                        min-width: 250px;
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.carousel-image-only-fade div.carousel-image-only-fade-wrapper {
        div.carousel-image-only-fade-container {
            button.slick-prev, button.slick-next {
                position: absolute;
                width: m#{i}n(32vw, 600px);
                top: 0;
                left: 0;
                height: 100%;
                padding: 0;
                background: transparent;
                font-size: 0;

                &:focus {
                    font-size: 2rem;
                    color: var(--black);
                }

                &:focus-visible {
                    font-size: 2rem;
                }
            }

            button.slick-next {
                left: calc(100% - m#{i}n(32vw, 600px));
            }

            div.slick-slide {
                div.carousel-image-only-fade-image {
                    min-height: 300px; 
                    min-width: 200px;

                    div.carousel-image-only-fade-image-wrapper {
                        min-width: 200px;
                        min-height: 300px;
                    }
                }
            }
        }
    }
}