@import "./mixin-simple-carousel.scss";
@import "./media-queries.scss";

section.carousel-news-events div.carousel-news-events-wrapper {
    padding: 0;
    
    h3 {
        width: m#{i}n(calc(100% - 5rem), calc(1280px - 1rem));
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.carousel-news-events-content-wrapper {
        position:relative;
        padding: 0 2rem;


        // slider prev/next generated button styles
        @include simple-carousel-button-basics;
        // override to keep the buttons in centre of image row
        button.a11y-slider-prev, button.a11y-slider-next {
            top: calc(160px - 0.5rem);
        }

        ul.carousel-news-events-content {
            display: flex;
            max-width: var(--smallest-width); 
            margin: 0 auto;
            padding-top: 1rem;
            overflow: hidden;
            position:relative;

            li {
                flex: 1 1 auto;
                min-height: calc(320px + 8rem);
                margin: 0 0 1rem;
                position:relative;

                a {
                    display: block;
                    height: calc(100% - 2.4rem);
                    width: 100%;
                    text-decoration: none;
                    margin-top: 0.8rem;
                    margin-bottom: 0.8rem;

                    &.box-highlight:hover, &.box-highlight:focus, &.box-highlight:active {
                        top: -0.65rem;
                        position: absolute;
                        padding-top: 0.65rem;

                        &::after {
                            height: calc(100% - 0.5rem);
                        }
                    }

                    div.carousel-news-events-content-item {
                        position: relative;
                        height: 320px;
                        width: 100%;
                        padding: 0 0.65rem;
                        box-sizing: border-box;

                        div.carousel-news-events-content-image {
                            position:relative;
                            height: 100%;
                            width: 100%;
                        }

                        div.carousel-news-events-content-text {
                            width: 100%;
                            bottom: 0;
                            padding: 0.6rem 0;
                            box-sizing: border-box;
                        }

                        h4 {
                            padding-bottom: 0.5rem;
                            }

                        p {
                            padding: 0.25rem 0 0;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: $desktop) {
}
@media all and (max-width: $tablet) {
} 
@media all and (max-width: $tablet-small) {
    section.carousel-news-events div.carousel-news-events-wrapper div.carousel-news-events-content-wrapper {
        button.a11y-slider-prev, button.a11y-slider-next {
            top: calc(130px);
        }
        ul.carousel-news-events-content li {
            min-height: calc(260px + 8rem);

            a div.carousel-news-events-content-item div.carousel-news-events-content-image {
                height: 270px;
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.carousel-news-events div.carousel-news-events-wrapper {
        h3 {
            padding-left: 0;        
        }
    
        div.carousel-news-events-content-wrapper {
            padding: 0 1rem;
        } 
        
        div.carousel-news-events-content-wrapper {
            ul.carousel-news-events-content li {
                min-height: calc(260px + 8rem);

                a div.carousel-news-events-content-item div.carousel-news-events-content-image {
                    height: 270px;
                }
            }
        }
    }
}