@import "./mixin-simple-carousel.scss";
@import "./media-queries.scss";

section.carousel-blocks div.carousel-blocks-wrapper {
    padding: 0;
    
    h3 {
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    div.carousel-blocks-content-wrapper {
        position:relative;
        padding: 0 2rem;


        // slider prev/next generated button styles
        @include simple-carousel-button-basics;

        ul.carousel-blocks-content {
            display: flex;
            max-width: var(--smallest-width); 
            margin: 0 auto;
            padding-top: 1rem;
            overflow: hidden;
            position:relative;

            &.two-items { max-width: 900px; }

            li {
                flex: 1 1 auto;
                min-height: 320px;
                margin: 0 0 1rem;

                div.carousel-blocks-content-item {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    padding: 0 0.65rem;
                    box-sizing: border-box;

                    a, div.no-link {
                        height: 100%;
                        width: 100%;
                        display: block;
                        position:relative;

                        div {
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            padding: 1.6rem 2rem;
                            box-sizing: border-box;
                            opacity: 1;
                            background-color: rgba(0,0,0,0.6);
                        }

                        h4 {
                            padding-bottom: 0.5rem;
                            }

                        p {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &.image-only-blocks div.carousel-blocks-content-wrapper ul.carousel-blocks-content li {
        min-height: 180px;

        div.carousel-blocks-content-item a img, div.carousel-blocks-content-item div img{
            object-fit: contain;
            font-family: 'object-fit: contain;';
        }
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
} 
@media all and (max-width: $tablet-small) {
    section.carousel-blocks div.carousel-blocks-wrapper div.carousel-blocks-content-wrapper {
        button.a11y-slider-prev, button.a11y-slider-next {
            top: 43%;
        }
        ul.carousel-blocks-content li {
            min-height: 260px;
        }
    }
} 