@import "./media-queries.scss";

section.course-title-info-image {
    div.course-title-info-image-wrapper {
        display: flex;

        div.course-title-info-image-content {
            flex: 10 1 0;
            padding: 0 2rem 2rem 0;

            h2 {
                padding: 2rem 0;
            }

            p.not-header-highlight-font {
                padding-top: 2rem;
            }

            div.course-title-info-accredit-image {
                padding-bottom: 0.8rem;
                max-width: 11rem;
                display: inline-block;

                &:first-of-type { margin-right: 0.5rem; }

                a {
                    position:relative;
                    display: inline-block;

                    img {
                        position: relative;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        object-fit: contain;
                        object-position: left;
                    }
                }
            }
        }

        div.course-title-info-image-image {
            flex: 18 1 0;
            position: relative;
            width: 100%;
            min-height: 475px;
        }

        div.course-title-info-image-video-play {
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;

            a.course-title-info-image-video-play-button {
                height: 100%;
                width: 100%;
                display: block;

                svg {
                    height: 10rem;
                    width: 10rem;
                    transform: translate(-50%,-50%);
                    top: 50%;
                    left: 50%;
                    position: absolute;
                    fill: var(--white);
                    filter: drop-shadow(0px 0px 6px black);
                }

                &:focus svg {
                    fill: var(--highlight-1);
                }
    
                &:focus-visible svg {
                    fill: var(--highlight-1);
                }
            }

            &:hover a.course-title-info-image-video-play-button svg {
                fill: var(--highlight-1);
            }

            &:active a.course-title-info-image-video-play-button svg {
                fill: var(--white);
            }
        }
    }
}

div.blocker {
    z-index: 1000000;

    #course-video-modal {
        //aspect-ratio = 1,7777777778
        max-width: calc(1120px + 1rem);
        position: absolute;
        width: 90vw;
        aspect-ratio: 1.777777 / 1;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        background-color: var(--dark);
        padding: 0.5rem;
    }
}


@media all and (max-width: $desktop) {
} 
@media all and (max-width: $cumbria-menu) {
    section.course-title-info-image {
        padding-top: var(--mobile-menu-padding-height);
    }
} 
@media all and (max-width: $tablet-small) {
    section.course-title-info-image {
        div.course-title-info-image-wrapper {
            flex-direction: column-reverse;

            div.course-title-info-image-content {
                padding: 2rem 0;
            }

            div.course-title-info-image-image {
                min-height: var(--min-height-images-tablet-small);
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.course-title-info-image {
        h1.not-hero {
            padding: 0 1rem 2rem;
        }
        div.course-title-info-image-wrapper {
            div.course-title-info-image-image {
                min-height: var(--min-height-images-mobile);
            }
        }
    }
} 