@import "./media-queries.scss";

section.course-overview-key-details div.course-overview-key-details-wrapper {
    display: flex;

    div.course-overview-contents {
        flex: 3 1 0;
        padding: 2rem 2rem 0 0;

        p {
            padding-bottom: 3rem;
        }

        h4 {
            padding-bottom: 1.5rem;
        }

        ul {
            padding-bottom: 3rem;
        }

        div a:first-child {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
    section.course-overview-key-details div.course-overview-key-details-wrapper {
        flex-direction: column;

        div.course-overview-contents {
            padding: 2rem 0;
        }
    } 
} 
@media all and (max-width: $mobile) {
    section.course-overview-key-details div.course-overview-key-details-wrapper {
        padding: 0;

        div.course-overview-contents {
            padding: 2rem 1rem;
            
            h4 {
                padding-bottom: 0.5rem;
            }

            a.text-link {
                width: 94%;
                display:inline-block;
            }
        }
    } 
}