@import "./media-queries.scss";

section.double-standard-section {
    div.double-standard-section-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        & > div {
            flex: 1 1 40%;

            &:last-of-type {
                margin-left: 2rem;
            }
        }

        &.no-top-align {
            align-items: flex-start;
        }
    }
}

@media all and (max-width: $desktop) {
}
@media all and (max-width: $tablet) {
    section.double-standard-section div.double-standard-section-wrapper {
        flex-direction: column;

        & > div {
            flex: 1 1 0;

            &:last-of-type {
                margin-left: 0;
            }
        }
    }
} 
@media all and (max-width: $tablet-small)  {
} 
@media all and (max-width: $mobile) {
}