@import "./media-queries.scss";

section.events-overview {
    background-color: var(--grey-bg);
    padding-top: 4rem;
    margin-bottom: 6rem; 

    div.events-overview-wrapper {
        display: flex;

        div.events-overview-contents {
            flex: 3 1 0;
            margin-right: 2rem;

            h2 {
                padding-top: 1rem;
                font-size: var(--h3-max);
                padding-bottom: 2rem;
            }

            a.btn {
                margin-top: 1rem;
            }
        }
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
    section.events-overview div.events-overview-wrapper {
        flex-direction: column;

        div.events-overview-contents {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.events-overview {
        div.events-overview-wrapper {
            div.events-overview-contents {

                h2 {
                    font-size: var(--h3-tablet-small);
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.events-overview {
        div.events-overview-wrapper {
            padding: 0;
    
            div.events-overview-contents {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
} 