@import "./media-queries.scss";

section.events-title-image div.events-title-image-wrapper {
    display: flex;

    div.events-title-image-contents {
        margin-right: 2rem;
        flex: 0 0 33%;

        h1 {
            font-size: var(--h3-max);
            line-height: 0.9;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }

        h2 {
            font-size: var(--body-header-highlight-font-size-max);

            &.single-listing-date span { color: var(--highlight-1); }
        }

        a { margin-top: 2rem; }
    }

    div.events-title-image-image {
        position:relative;
        width: 100%;
        min-height: 500px;
    }
    
    div.events-title-image-video {
        position:relative;
        width: 100%;

        lite-youtube {
            max-width: 100%;
            flex:auto;
        }
    }
}

section.events-overview {
    background-color: var(--grey-bg);
    padding-top: 4rem;
    margin-bottom: 6rem; 

    div.events-overview-wrapper {
        display: flex;

        div.events-overview-contents {
            flex: 3 1 0;
            margin-right: 2rem;

            h2 {
                padding-top: 1rem;
                font-size: var(--h3-max);
                padding-bottom: 2rem;
            }

            a.btn {
                margin-top: 1rem;

                &:first-of-type {
                    margin-right: 1rem;
                }
            }

            ol, ul {
                padding-bottom: 1.5rem;
                margin-top: -0.7rem;

                li {
                    position: relative;
                    padding: 0.7rem 0 0 1.7rem;
                    line-height: 1.3;
        
                    &::before {
                        content: '\2022';
                        font-weight: normal;
                        margin-left: -1.7rem;
                        width: 2rem;
                        font-size: 2.3rem;
                        position:absolute;
                        top:0rem;
                    }
                }
            }
        }
    }
}

section.events-more-info {
    div.events-more-info-wrapper {
        display: flex;

        div.events-more-info-image {
            flex: 2 1 0;
            position: relative;
            width: 100%;
            min-height: 23rem;
        }
    
        div.events-more-info-video {
            flex: 2 1 0;
            position: relative;
            width: 100%;
    
            lite-youtube {
                max-width: 100%;
                flex:auto;
            }
        }

        div.events-more-info-contents {
            flex: 3 1 0;
            margin-left: 2rem;

            h3 {
                font-size: var(--h3-max);
                padding-bottom: 2rem;
            }

            a.btn {
                margin-top: 1rem;

                &:first-of-type {
                    margin-right: 1rem;
                }
            }

            ol, ul {
                padding-bottom: 1.5rem;
                margin-top: -0.7rem;

                li {
                    position: relative;
                    padding: 0.7rem 0 0 1.7rem;
                    line-height: 1.3;
        
                    &::before {
                        content: '\2022';
                        font-weight: normal;
                        margin-left: -1.7rem;
                        width: 2rem;
                        font-size: 2.3rem;
                        position:absolute;
                        top:0rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
    section.events-overview div.events-overview-wrapper {
        flex-direction: column;

        div.events-overview-contents {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }

    section.events-more-info div.events-more-info-wrapper {
        flex-direction: column;

        div.events-more-info-contents {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.events-title-image div.events-title-image-wrapper {
        flex-direction: column-reverse;
    
        div.events-title-image-contents {
            margin-right: 0;

            h1 {
                font-size: var(--h3-tablet-small);
            }

            h2 {
                font-size: var(--body-header-highlight-font-size-tablet-small);
            }
        }

        div.events-title-image-image {
            min-height: 400px;
        }
    }

    section.events-overview {
        div.events-overview-wrapper {
            div.events-overview-contents {

                h2 {
                    font-size: var(--h3-tablet-small);
                }
            }
        }
    }

    section.events-more-info {
        div.events-more-info-wrapper {
            div.events-more-info-contents {

                h3 {
                    font-size: var(--h3-tablet-small);
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.events-title-image div.events-title-image-wrapper { 
        div.events-title-image-image {
            min-height: 300px;
        }
    }

    section.events-overview {
        div.events-overview-wrapper {
            padding: 0;
    
            div.events-overview-contents {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
    
    section.events-more-info {
        div.events-more-info-wrapper {

            div.events-more-info-image {
                min-height: 12rem;
            }
    
            div.events-overview-contents {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}