@import "./media-queries.scss";

section.events-more-info {
    div.events-more-info-wrapper {
        display: flex;

        div.events-more-info-image {
            flex: 2 1 0;
            position: relative;
            width: 100%;
            min-height: 23rem;
        }

        div.events-more-info-contents {
            flex: 3 1 0;
            margin-left: 2rem;

            h3 {
                font-size: var(--h3-max);
                padding-bottom: 2rem;
            }

            a.btn {
                margin-top: 1rem;

                &:first-of-type {
                    margin-right: 1rem;
                }
            }
        }
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
    section.events-more-info div.events-more-info-wrapper {
        flex-direction: column;

        div.events-more-info-contents {
            margin-left: 0;
            margin-top: 2rem;
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.events-more-info {
        div.events-more-info-wrapper {
            div.events-more-info-contents {

                h3 {
                    font-size: var(--h3-tablet-small);
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.events-more-info {
        div.events-more-info-wrapper {

            div.events-more-info-image {
                min-height: 12rem;
            }
    
            div.events-overview-contents {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
} 