@import "./media-queries.scss";

section.events-title-image div.events-title-image-wrapper {
    display: flex;

    div.events-title-image-contents {
        margin-right: 2rem;
        flex: 0 0 33%;

        h1 {
            font-size: var(--h3-max);
            line-height: 0.9;
            padding-bottom: 2rem;
            padding-top: 2rem;
        }

        h2 {
            font-size: var(--body-header-highlight-font-size-max);
        }
    }

    div.events-title-image-image {
        position:relative;
        width: 100%;
        min-height: 500px;
    }
}

@media all and (max-width: $desktop) {
} 
@media all and (max-width: $tablet) {
} 
@media all and (max-width: $tablet-small) {
    section.events-title-image div.events-title-image-wrapper {
        flex-direction: column-reverse;
    
        div.events-title-image-contents {
            margin-right: 0;

            h1 {
                font-size: var(--h3-tablet-small);
            }

            h2 {
                font-size: var(--body-header-highlight-font-size-tablet-small);
            }
        }

        div.events-title-image-image {
            min-height: 400px;
        }
    }
} 
@media all and (max-width: $mobile) {
    section.events-title-image div.events-title-image-wrapper { 
        div.events-title-image-image {
            min-height: 300px;
        }
    }
}