@import "./media-queries.scss";

section.finance div {
    h1 { padding-left: 0; }

    h2 { padding-top: 2rem; }

    p  {
        img {
            position:relative;
            width: auto;
            max-width:100%;
            object-fit: contain;
            object-position: unset;
        }

        &.no-gap { padding-bottom: 0.5rem; }
    }

    ul, ol {
        list-style-type: disc;
        list-style-position: inside;
        padding-bottom: 1rem;

        li { 
            padding-bottom: 0.5rem;
            line-height: 1.2;
        }
    }

    ol {
        list-style-type: decimal;
    }

    div.finance-content-table {
        width: 100%;
        overflow-x: auto;
        max-width: 100%;

        table tbody tr {
            td, th {
                border: 1px solid var(--grey-line-color);
                padding: 1rem;
            }

            th { 
                font-weight: var(--font-strong);
                vertical-align: middle; 
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.finance div.finance-wrapper {

    }
} 
@media all and (max-width: $mobile) {
    section.finance div.finance-wrapper {

    }
} 