@import "./media-queries.scss";

section.grid-three-images div.grid-three-images-wrapper {
    position: relative;
    margin-bottom: 1rem;

    h3 {
        padding: 1.7rem 0rem 1.5rem;
        margin-top: -0.1rem;
    }

    div.flex-grid-three-images {
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            flex: 0 1 auto;
            position: relative;
            width: 100%;
            height: min-content;
            margin-right: 2rem;

            &:last-of-type {
                margin-right: 0;
            }

            div.wrapper-grid-image {
                div.grid-image {
                    position: relative;
                    overflow: hidden;
                    height: 300px;

                    &.three-images-height {
                        height: 210px;
                    }

                    img {
                        min-height: 210px;
                    }
                }

                div.grid-image-label {
                    padding: 1.5rem 1.5rem 1.3rem;
                    background: var(--grey-bg);
                    position:relative;

                    h4 svg {
                        display: none;
                    }

                    .arrow {
                        padding-right: 1.2rem;

                        svg {
                            display: inline-block;
                            position: absolute;
                            right: 1.3rem;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }

    &.bg-version {
        &::before {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            left: calc(0px + 75px);
            right: calc(0px - 75px);
            width: calc(100% - 150px);
            height: calc(100% - 100px);
            z-index: -1;
        }
    
        h3 {
            padding: 1.7rem 6rem 1.5rem;
        }
    }
}

@media all and (max-width: $tablet) {
    section.grid-three-images div.wrapper-grid-three-images {
        &::after {
            height: calc(100% - 70px);
        }

        div.flex-grid-three-images {
            a {
                margin-right: 0; 
                
                div.wrapper-grid-image {
                    div.grid-image-label {
                        padding-right: 0.8rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.grid-three-images div.grid-three-images-wrapper {
        h3 { 
            padding: 1.7rem 0rem 1.5rem;
        }

        h4 {
            padding: 0;
        }

        div.flex-grid-three-images {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            a {
                width: 100%;
                margin-bottom: 1rem;

                div.wrapper-grid-image {
                    div.grid-image {
                        position: relative;
                        overflow: hidden;
                        height: 300px;
    
                        &.three-images-height {
                            height: 210px;
                        }

                        img {
                            min-height: 210px;
                        }
                    }

                    div.grid-image-label {
                        padding: 1rem 1rem 0.8rem;

                        h4 br {
                            display: none;
                        }

                        .arrow svg {
                            right: 0.8rem;
                        }
                    }
                }
            }
        }

        &.bg-version {
            &::before {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                left: 0;
                right: 0;
                width: 100%;
                height: calc(100% - 50px);
                z-index: -1;
            }
    
            h3 { 
                padding: 1.7rem 0rem 1.5rem;
            }
        }
    }
}
@media all and (max-width: $mobile) {
    section.grid-three-images div.grid-three-images-wrapper {
        div h4 {
            padding: 0;
        }

        div.flex-grid-three-images {
            a {
                div.wrapper-grid-image {
                    div.grid-image {
                        height: 210px;
    
                        &.three-images-height {
                            height: 140px;
                        }
                    }
                }
            }
        }
    }
}