@import "./media-queries.scss";

section.grid-two-image-text div.grid-two-image-text-wrapper {
    h3 {
        text-align: center;
        padding-bottom: 2rem;
    }
    div.grid-two-image-text-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        max-width: var(--narrow-width);
        margin: 0 auto;

        a {
            display: inline-block;
            position: relative;
            padding: 1.5rem;
            margin-bottom: 1.5rem;

            div.grid-two-image-text-image {
                position: relative;
                height: 350px;
                width: 100%;
            }

            h4 {
                padding: 0.75rem 0 0.5rem;
            }

            p { padding-bottom: 0; }
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.grid-two-image-text div.grid-two-image-text-wrapper {
        div.grid-two-image-text-container {
            grid-template-columns: 1fr;

            a {
                padding: 0.5rem;

                div.grid-two-image-text-image {
                    height: 300px;
                }
            }
        }
    }
}