@import "./media-queries.scss";

section.grid-image-desc {
    padding-bottom: 4rem;
    position:relative;

    div.grid-image-desc-wrapper {

        h3 {
            text-align: center;
        }

        ul.grid-image-desc-container {
            display: flex;
            max-width: var(--smallest-width); 
            overflow:hidden;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 0 2rem;

            li {
                padding: 0 0.65rem;
                flex: 0 0 calc(25% - 1rem);
                margin-bottom: 3rem;

                &:nth-child(4n+1) {
                    padding-left: 0;
                }

                &:nth-child(4n+4) {
                    padding-right: 0;
                }

                div {
                    min-height: 385px;
                    min-width: 100%;
                    position: relative;
                    margin-bottom: 1rem;

                }
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.grid-image-desc div.grid-image-desc-wrapper ul.grid-image-desc-container {
        li {
            flex: 0 0 calc(33% - 0.75rem);

            &:nth-child(4n+1) {
                padding-left: 0.65rem;
            }

            &:nth-child(4n+4) {
                padding-right: 0.65rem;
            }

            &:nth-child(3n+1) {
                padding-left: 0;
            }

            &:nth-child(3n+3) {
                padding-right: 0;
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.grid-image-desc div.grid-image-desc-wrapper ul.grid-image-desc-container {
        li {
            flex: 0 0 calc(50% - 0.65rem);

            &:nth-child(3n+1) {
                padding-left: 0.65rem;
            }

            &:nth-child(3n+3) {
                padding-right: 0.65rem;
            }

            &:nth-child(2n+1) {
                padding-left: 0;
            }

            &:nth-child(2n+2) {
                padding-right: 0;
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.grid-image-desc div.grid-image-desc-wrapper ul.grid-image-desc-container {
        padding: 0 1rem;

        li {
            padding: 0;
            flex: 1 1 auto;
            margin-bottom: 1rem;

            &:nth-child(3n+1) {
                padding-left: 0rem;
            }

            &:nth-child(3n+3) {
                padding-right: 0rem;
            }

            div {
                min-height: 300px;
            }
        }
    }
}