@import "./media-queries.scss";

section.grid-boxes {
    max-width: 900px;
    margin: 0 auto;

    div.grid-boxes-wrapper {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        div.grid-boxes-individual, a.grid-boxes-individual {
            flex: 1 1 calc(50% - 14px - 4rem); // 50% - borders - padding
            border: 3px solid var(--dark);
            padding: 2rem;
            display: flex;
            justify-content: space-between;

            h3 {
                flex: 1 1 20%;
                font-size: var(--h2-max);
            }

            p {
                flex: 1 1 50%;
                text-align: right;
                align-self: flex-end;
            }

            p:last-of-type {
                padding-bottom: 0;
            }
        }

        a.grid-boxes-individual {
            cursor: pointer;
            text-decoration: none;

            &:hover {
                background-color: var(--highlight-2);
                border-color: var(--highlight-1);
                border-width: 5px;
                padding: calc(2rem - 2px);

                h3 {
                    color: var(--dark);
                }

                p {
                    text-decoration: none;
                }
            }

            h3 {
                pointer-events: none;
                text-decoration: none;
            }

            p {
                pointer-events: none;
            }
        }
    }
} 

@media all and (max-width: $tablet-small) {
    section.grid-boxes div.grid-boxes-wrapper {
        div.grid-boxes-individual, a.grid-boxes-individual {
            flex-basis: 100%;

            h3 {
                font-size: var(--h2-tablet-small);
                align-self: center;
                padding-bottom: 0;
            }

            p {
                align-self:center;
            }
        }
    } 
}

@media all and (max-width: $mobile) {
    section.grid-boxes div.grid-boxes-wrapper {
        div.grid-boxes-individual a.grid-boxes-individual {
            p {
                flex-basis: 90%;
            }
        }
    } 
}