@import "./media-queries.scss";

// reset
// html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}select{appearance:none;-webkit-appearance:none;background-color:transparent;border:none;padding:0;margin:0;width:100%;font-family:inherit;font-size:inherit;cursor:inherit;line-height:inherit;vertical-align:top;border-radius:0}

// custom fonts
/* latin-ext */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bebasneue/v8/JTUSjIg69CK48gW7PXoo9WdhyyTh89ZNpQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/bebasneue/v8/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/heebo/v17/NGSpv5_NC0k9P_v6ZUCbLRAHxK1EiSysdUmg7UiCXB5W.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


header:not(.masthead-image), footer {
    -webkit-font-smoothing: antialiased;
    font-family: var(--base-font, 'Heebo', 'Helvetica', 'Arial', sans-serif);

    a, button, input, select {
        &:focus { outline-color: var(--highlight-1, #e31c79); }
        &:focus-visible { outline-color: var(--highlight-1 ,#e31c79); }
    }

    a:focus, button:focus, a.btn:focus, input:focus, select:focus, div:focus {
        outline-width: 4px;
        outline-style: dashed;
        outline-offset: 4px;
        z-index: 1000;
    }

    // focus styles for browsers with focus-visible support
    @supports #{'\selector(*:focus-visible)'} {
        // remove focus styles just applied and add focus-visible instead
        a:focus, button:focus, a.btn:focus, input:focus, select:focus, div:focus {
            outline-width: 0;
            outline-style: none;
            outline-offset: 0;
            z-index: 1;
        }

        // focus-visible support for keyboard navigation only
        a:focus-visible, button:focus-visible, a.btn:focus-visible, input:focus-visible, select:focus-visible, div:focus {
            outline-width: 4px;
            outline-style: dashed;
            outline-offset: 4px;
            z-index: 1000;
        }
    }

    .hidden-for-screen-reader {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

header:not(.masthead-image) {
    width: 100%;

    div.header-top-line {
        background: var(--dark, #000000);
        width: 100%;

        nav {
            display: flex;
            justify-content: flex-start;
            gap: 3rem;
            max-width: var(--smallest-width, 1280px);
            margin: 0 auto;
            padding: 0.5rem 2rem;
            align-items: center;

            a {
                color: var(--white, #ffffff);
                text-decoration: none;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;

                &:hover { text-decoration: underline; }
            }

            ol.header-additional {
                display: inline;
                list-style-type: none;
                padding-inline-start: 0;
                margin-block: 0;

                li {
                    display: inline;
                    color: var(--white, #ffffff);
                    flex-shrink: 1;
                    line-height: 1.5;


                    button.accessibility-trigger {
                        background: transparent;
                        border-width: 0;
                        color: var(--white, #ffffff);
                        font-size: 1rem;
                        cursor: pointer;
                        padding: 0;

                        &:hover { text-decoration: underline; }
                    }

                    &:first-of-type, &:last-of-type {
                        flex-shrink: 0;
                    }

                    &::after {
                        content: "-";
                        color: var(--white, #ffffff);
                        padding: 0 0.5rem 0 0.75rem;
                    }

                    &:last-of-type::after { 
                        content: "";
                        padding: 0;
                    }
                }
            }

            span.header-nav-right {
                flex-grow: 1;
                text-align: right;
                display: inline-block;
                flex-wrap: nowrap;
                flex-shrink: 0;
            }
        }
    }

    div.header-main-line {
        max-width: var(--smallest-width, 1280px);
        margin: 0 auto;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        button {
            border-width: 0;
            background: transparent;
            text-transform: uppercase;
            cursor: pointer;
            position:relative;
            letter-spacing: 0.03rem;
            padding: 0;
            font-size: 1rem;
            line-height: 3;
            color: var(--dark, #000000);

            &:hover {
                text-decoration: underline;
            }

            svg {     
                margin-left: 0.75rem;
                top: 0.3rem;
                position: relative;
            }
        }
        
        a.header-logo {
            height:6rem;

            img {
                height: 100%;
            }
        }

        form.header-search {
            flex-grow: 1;
            text-align:right;
            display: flex;
            justify-content: flex-end;
            flex-wrap: nowrap;
            margin: 0;

            span.header-search-container {
                border: 0 solid #ffffff;
                margin-right: 0.5rem;
                transition: opacity 0.5s, width 0.5s cubic-bezier(0.7, 0, 0.2, 1), border-color 0.01s;
                height: 3.1rem;
                width: 0;
                overflow: hidden;

                select, input {
                    display: inline-block;
                    width: auto;
                    padding: 1rem 1rem;
                    border: 0 solid var(--white, #ffffff);
                    margin:0;
                    line-height: inherit;
                }

                input {
                    padding-left: 3.25rem;
                    font-size: 1rem;
                    border-right: 0.2rem solid var(--table-line-color, #e8e8e8);
                    background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.822 20.88-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z' fill='%23acacac'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center left 1rem;
                    width:100%;

                    &::placeholder {
                        color: var(--grey-line-color, #acacac);
                        top:0.05rem;
                        position:relative;
                    }
                }

                select {
                    appearance:none;
                    -webkit-appearance:none;
                    background-color:transparent;
                    border:none;
                    border-radius:0;
                    text-align:right;
                    border-left-width: 0;
                    vertical-align: middle;
                    font-size: 0.9rem;
                    padding-right: 3rem;
                    background-image: var(--arrow-black-down, url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+Cjxzdmcgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDg5OSA1NTgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM6c2VyaWY9Imh0dHA6Ly93d3cuc2VyaWYuY29tLyIgc3R5bGU9ImZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2UtbWl0ZXJsaW1pdDoyOyI+CiAgICA8ZyB0cmFuc2Zvcm09Im1hdHJpeCg2LjEyMzIzZS0xNywxLC0xLDYuMTIzMjNlLTE3LDg5OC4zLDApIj4KICAgICAgICA8Zz4KICAgICAgICAgICAgPHBhdGggZD0iTTEyMC4yLDg4Mi41TDU1My42LDQ0OS4yTDEyMC4yLDE1LjhMMCwxMzZMMzEzLjIsNDQ5LjJMMCw3NjIuM0wxMjAuMiw4ODIuNVoiIHN0eWxlPSJmaWxsLXJ1bGU6bm9uemVybzsiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo="));
                    background-repeat: no-repeat;
                    background-position: center right 1rem;
                    background-size: 0.5rem;
                }
            }

            button.header-search-button {
                background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.822 20.88-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 100% 45%;
                background-size: 1.5rem;
                padding: 0.25rem 2.25rem 0.25rem 0.5rem;
            }
            
            &.show-search-box {
                span.header-search-container {
                    opacity: 1;
                    display: flex;
                    flex-wrap: nowrap;
                    width: clamp(20rem, 70%, 40rem);
                    border: 0.2rem solid var(--black, #000000);
                }

                button.header-search-button {
                    background-image: none;
                    background-color: var(--set-highlight-1-contrast-friendly, #e01c77);;
                    color: var(--white, #ffffff);
                    padding-left: 2.25rem;
                    transition: background-color 0.5s;
                }
            }
        }

        button.header-menu {
            flex-shrink: 0;
            
            &::after {
                content: "";
            }
        }
    }

    div.header-nav-line {
        background: var(--dark, #000000);
        width: 100%;
        display: none;

        nav {
            display: flex;
            justify-content: flex-start;
            gap: 3rem;
            max-width: var(--smallest-width, 1280px);
            margin: 0 auto;
            padding: 1rem 2rem;
            align-items: center;

            a {
                color: var(--white, #ffffff);
                text-decoration: none;
                cursor: pointer;
                font-size: 1rem;
                font-weight: 400;

                &:hover { text-decoration: underline; }
            }

            ol.header-breadcrumbs {
                display: inline;
                list-style-type: none;
                padding-inline-start: 0;
                margin-block: 0;

                li {
                    display: inline;
                    color: var(--white, #ffffff);
                    flex-shrink: 1;
                    line-height: 1.5;

                    &:first-of-type, &:last-of-type {
                        flex-shrink: 0;
                    }

                    &::after {
                        content: "/";
                        color: var(--white, #ffffff);
                        padding: 0 1rem;
                    }

                    &:last-of-type::after { 
                        content: "";
                        padding: 0;
                    }

                    &.breadcrumb-hidden { display: none; }
                }
            }

            span.header-nav-right {
                flex-grow: 1;
                text-align: right;
                display: inline-block;
                flex-wrap: nowrap;
                flex-shrink: 0;

                button.accessibility-trigger {
                    background: transparent;
                    border-width: 0;
                    color: var(--white, #ffffff);
                    font-size: 1rem;
                    cursor: pointer;
                    padding: 0;

                    &:hover { text-decoration: underline; }
                }
            }
        }
    }
}

footer {
    a.btn {
        font-size: var(--input-font-size-max, 1.3rem);
        line-height: 0.8;
        letter-spacing: 1;
        font-style: normal;
        font-family: var(--heading-font, 'Bebas Neue', 'Arial Narrow', 'Arial', sans-serif);
        padding: 0.8rem 1.7rem 0.7rem;
        position: relative;
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
        border: 0 solid #000;
        text-shadow: 0;
        display: inline-block;
        text-align: center;
        transition: color 0.2s;
        color: var(--dark, #000000);
        background-color: var(--white, #ffffff);

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: var(--white, #ffffff);
        }

        &::after {
            width:0%;
            transition:width 0.15s linear;
            background: var(--highlight-1, #e31c79);
        }

        &:hover { color: var(--button-rollover-text, var(--white, #ffffff)); }
        &:focus { color: var(--button-rollover-text, var(--white, #ffffff)); }
        
        &:hover::after, &:focus::after {
            width:calc(100% + 1px);
            // issue - need to add class for 3px on certain bg colours and setups
        }
    }

    width: 100%;

    div.back-to-top-container {
        width: 100%;
        border: 0.05rem solid var(--dark, #000000);
        border-left-width: 0;
        border-right-width: 0;
        margin: 0 auto;
        display: flex;

        button {
            border: 0 solid #ffffff;
            background: transparent;
            padding: 1.5rem 3rem;
            text-decoration: none;
            font-weight: var(--font-strong, 700);
            cursor: pointer;
            margin: 0 auto;
            font-size: 1rem;
            color: var(--dark, #000000);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    section.related-courses {
        max-width: 100%;
        background-color: var(--grey-bg, #f8f8fa);

        div.related-courses-wrapper {
            padding-top: 3rem;
            padding-bottom: 3rem;
            width: var(--narrow-width, 1080px);
            max-width: 100%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1rem;

            button.default-course, a.default-course {
                border-width: 0;
                background: transparent;
                cursor: pointer;
                position:relative;
                padding: 0 2rem;
                font-size: 1rem;
                line-height: 3;
                color: var(--dark, #000000);
                border-radius: 2rem;
                text-decoration: none;

                &:hover {
                }

                &.default-course {
                    background-color: var(--white, #ffffff);
                }

                &.related-course {
                    background-color: var(--white, #ffffff);
                }

                &.unrelated-course {
                    background-color: var(--grey-fade-bg, #f4f4f4);
                    color: var(--grey-line-color, #acacac);
                }

                &.selected-course {
                    background-color: var(--set-highlight-1-contrast-friendly, #e01c77);
                    color: var(--white, #ffffff);
                }
            }
        }
    }

    nav {
        width: 100%;
        
        div.footer-campus-line {
            margin: 0 auto;
            max-width:var(--smallest-width, 1280px);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            gap: 2rem;

            a.footer-logo {
                height: 4rem;

                img {
                    height: 100%;
                }
            }

            ul {
                text-align: right;
                line-height: 1.6rem;
                list-style-type: none;
                padding-inline-start: 0;
                margin-block: 0;

                li {
                    display: inline;
                    // font-size: 1.1rem;
                    font-weight: var(--font-strong, 700);

                    &:after {
                        content: "-";
                        padding: 0 1rem;
                    }

                    &:last-of-type:after {
                        content: "";
                        padding: 0;
                    }

                    a {
                        text-decoration: none;
                        color: var(--dark, #000000);
                        font-size: 1rem;
                        font-weight: 400;
                        
                        &:hover { text-decoration: underline; }
                    }
                }
            }
        }

        div.footer-main-line {
            margin: 0 auto;
            width: 100%;
            background-color: #181818;

            div.footer-main-menu-container {
                max-width: var(--smallest-width, 1280px);
                margin: 0 auto;
                color: var(--white, #ffffff);
                padding: 3rem 2rem;
                display: grid;
                grid-template-columns: repeat(5, auto);
                gap: 2rem;

                div.footer-main-menu {
                    h6 { 
                        font-weight: var(--font-strong, 700);
                        line-height: 1.4rem; 
                        font-size: 1rem;
                        margin-block: 0;
                    }

                    ul {
                        padding-top: 0.4rem;
                        list-style-type: none;
                        padding-inline-start: 0;
                        margin-block: 0;
                        
                        li {
                            font-size: 0.9rem;
                            padding-top: 0.35rem;
                            line-height: 1.2;
                            margin: 0;
                            
                            a {
                                color: var(--grey-line-color, #acacac);
                                text-decoration: none;
                                font-weight: 400;

                                &:hover {
                                    text-decoration: underline;
                                    color: var(--white, #ffffff);
                                }
                            }
                        } 
                    }

                    &.footer-prospective, &.footer-students {
                        grid-row: 1 / 4;
                    }
                }

                ul.footer-social {
                    grid-column: 5 / -1;
                    grid-row: 2;
                    list-style: none;
                    margin-block: 0;
                    margin-inline: 0;
                    padding-inline: 0;

                    li {
                        display: inline;
                        margin-left: 0.5rem;

                        &:first-of-type {
                            margin-left: 0;
                        }
                        
                        a { 

                            svg {
                                fill: var(--white, #ffffff);

                                &:hover {
                                    fill: var(--highlight-1, #e31c79);
                                }
                            }
                        }
                    }
                }

                ul.footer-admin {
                    grid-column: 3 / -1;
                    grid-row: 3;
                    display: flex;
                    order:2;
                    flex-shrink: 0;
                    text-align: right;
                    list-style: none;
                    margin-block: 0;
                    padding-inline: 0;
                    display: flex;
                    justify-content: flex-end;

                    li { 
                        display: inline-block; 
                    
                        a.btn { 
                            margin-left: 1rem;
                            min-width: 6rem;
                            cursor: pointer;
                            font-weight: 400;
                        }
                    }
                }

                ul.footer-awards {
                    grid-column: 1 / -1;
                    grid-row: 4;
                    text-align: left;
                    list-style: none;
                    margin-block: 0;
                    padding-inline: 0;
                    display: flex;
                    gap: 0.5rem;
                    flex-wrap: wrap;
                    align-items:flex-start;

                    li.footer-admin-left {
                        vertical-align: middle;
                        
                        a {
                            display: inline-block;
                            margin-left: 0;

                            img {
                                height: 2.5rem;
                            }
                        }
                    }
                }
            }
        }

        div.footer-links-line {
            width: 100%;
            background: var(--dark, #000000);
            font-weight: var(--font-strong, 700);
            color: var(--white, #ffffff);

            ul {
                list-style-type: none;
                padding-inline-start: 0;
                margin-block: 0;
                max-width: var(--smallest-width, 1280px);
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin: 0 auto;
                padding: 1.5rem 2rem;
                column-gap: 2rem;
                row-gap: 0.6rem;

                li {
                    display: inline-block;
                    font-size: 1rem;
                    margin-bottom: 0;

                    &:nth-last-of-type(2) {
                        flex-grow: 1;
                    }

                    a {
                        color: var(--white, #ffffff);
                        text-decoration: none;

                        &:hover { text-decoration: underline; }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $tablet) {
    header:not(.masthead-image) {
        div.header-main-line {
            gap: 2rem;

            form.header-search.show-search-box {
                span.header-search-container {
                    input { border-width: 0; }
                    select { display: none; }
                }
            }
        }

        div.header-nav-line {
            nav {
                ol.header-breadcrumbs {
                    li::after {
                        padding: 0 0.5rem;
                    }
                }
            }
        }
    }

    footer {
        section.related-courses {
            div.related-courses-wrapper {
                button.default-course, a.default-course {
                    padding: 0 1rem;
                }
            }
        }
        nav {
            div.footer-campus-line {
                ul li {
                    &:nth-child(3):after {display: block; content: '';}
                }
            }

            div.footer-main-line {
                div.footer-main-menu-container {
                    grid-template-columns: repeat(3, 1fr);
                    row-gap: 3rem;

                    div.footer-main-menu {
                        ul {
                            padding-top: 0.4rem;
                            
                            li {
                                font-size: 0.9rem;
                                padding-top: 0.35rem;
                                line-height: 1.2;
                            } 
                        }

                        &.footer-prospective, &.footer-students {
                            grid-row: auto;
                        }

                        &.footer-institutes { 
                            grid-column: 1 / 2; 
                            grid-row: 2;
                        }
                        &.footer-connect { 
                            grid-column: 2 / 3; 
                            grid-row: 2;
                        }
                    }

                    ul.footer-social {
                        margin-bottom: 0;
                        grid-column: 3 / -1;
                        grid-row: 2;
                        
                        li a { 
                            margin: 0.5rem 1rem 0.5rem 0; 
                        }
                    }

                    ul.footer-admin {
                        grid-column: 3 / -1;
                        grid-row: 2 / 4;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-start;
                        margin-top: 2rem;
                        
                        li {
                            display: inline;
                            margin: 0.5rem 0 0;

                            a.btn { 
                                margin-left: 0; 
                                min-width: 8rem;
                            }
                        }
                    }

                    ul.footer-awards {
                        grid-row: 3;
                    }
                }
            }
            
            div.footer-links-line {
                ul {
                    li:nth-last-of-type(2) {
                        flex-grow: 0;
                    }
                }
            } 
        }
    }
} 

@media all and (max-width: $tablet-small) {
    header:not(.masthead-image) {
        div.header-top-line {
            nav { 
                flex-direction: column;
                gap: 0.5rem;

                ol.header-additional {
                    align-self: flex-start;
                }

                span.header-nav-right {
                    align-self: flex-end;
                }
            }
        }
        div.header-main-line {
            gap: 1rem;

            a.header-logo {
                height:5rem;
            }

            form.header-search {
                button.header-search-button {
                    height: 3rem;
                    background-position: center;

                    span.header-search-title { display: none; }
                }

                &.show-search-box {
                    button.header-search-button {
                        background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.822 20.88-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z' fill='%23ffffff'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 1.5rem;
                        padding-left:0.5rem;
                        height: auto;
                    }
                }
            }

            button.header-menu .header-menu-title { display: none; }
        }
        
        div.header-nav-line {
            nav {
                padding: 0.5rem 2rem;

                ol.header-breadcrumbs {
                    li {
                        font-size: 0.9rem;

                        a { font-size: 0.9rem; }
                    } 
                    li::after {
                        padding: 0 0.25rem;
                    }
                }
                span.header-nav-right { display: none; }
            }
        }
    }

    footer {
        nav {
            div.footer-campus-line {
                gap: 1rem;
            }
            div.footer-main-line {
                div.footer-main-menu-container {
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 1rem;

                    div.footer-main-menu {
                        ul {
                            padding-top: 0.4rem;
                            
                            li {
                                font-size: 0.9rem;
                                padding-top: 0.6rem;
                                line-height: 1.2;
                            } 
                        }

                        &.footer-prospective, &.footer-students {
                            grid-row: auto;
                        }

                        &.footer-institutes { grid-column: 2; }
                        &.footer-connect { 
                            grid-column: 1 / 2; 
                            grid-row: 3;
                        }
                    }

                    ul.footer-social {
                        grid-column: 2 / -1;
                        grid-row: 3;
                        text-align: left;

                        li a { margin: 0.5rem 1rem 0.5rem 0; }
                    }

                    ul.footer-admin {
                        grid-column: 2 / -1;
                        grid-row: 3;
                        text-align: left;
                        
                        li a.btn {
                            min-width: 8rem;
                            margin-left: 0;
                        } 
                    }

                    ul.footer-awards {
                        grid-column: 1 / -1;
                        grid-row: 4;
                        text-align: left;
                        
                        li a {
                            margin-left: 0;
                        } 
                    }
                }
            }
        }
    }
} 

@media all and (max-width: $mobile) {
    header:not(.masthead-image) {
        div.header-main-line {
            padding: 1rem;

            a.header-logo { height: 4rem; }

            form.header-search { display: none; }
            button.header-menu .header-menu-title { display: none; }
        }

        div.header-nav-line {
            nav {
                padding: 0.5rem 1rem;
                
                ol.header-breadcrumbs {

                    li, li a {
                        font-size: 0.8rem;
                    }
                    li::after {
                        padding: 0 0.5rem;
                    }
                }                    
            }
        }
    }

    footer {
        section.related-courses {
            div.related-courses-wrapper {
                padding-top: 2rem;
                padding-bottom: 2rem;
                gap: 0.5rem;

                button.default-course, a.default-course {
                }
            }
        }
        nav {
            div.footer-campus-line {
                padding-left: 1rem;
                padding-right: 1rem;

                ul li {
                    &:after { padding: 0 0.5rem; }
                    &:nth-child(2):after {display: block; content: '';}
                    &:nth-child(3):after {display:inline; content: "-";}
                    &:nth-child(5):after {display: block; content: '';}
                }
            }
            div.footer-main-line {
                div.footer-main-menu-container {
                    padding-left: 1rem;
                    padding-right: 1rem;


                    ul.footer-social li a {
                        margin-right: 0.3rem;
                    }
                    ul.footer-admin {
                        margin-top: 2rem;
                        
                        li a.btn {
                            min-width: auto;
                            margin-top: 0.5rem;
                        }
                    }
                }
            }

            div.footer-links-line ul {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
} 