@import "./mixins.scss";
@import "./media-queries.scss";

header {
    width: 100%;

    div.header-top-line {
        max-width: var(--smallest-width);
        margin: 0 auto;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;

        button {
            border-width: 0;
            background: transparent;
            text-transform: uppercase;
            cursor: pointer;
            position:relative;
            letter-spacing: 0.03rem;
            padding: 0;
            font-size: 1rem;
            line-height: 3;

            &:hover {
                text-decoration: underline;
            }

            svg {     
                margin-left: 0.75rem;
                top: 0.3rem;
                position: relative;
            }
        }
        
        a.header-logo {
            height:6rem;

            img {
                height: 100%;
            }
        }

        form.header-search {
            flex-grow: 1;
            text-align:right;

            span.header-search-container {
                border: 0.2rem solid var(--dark);
                margin-right: 0.5rem;
                display: none;
                opacity: 0;
                transition: opacity 2s;

                select, input {
                    display: inline-block;
                    width: auto;
                    padding: 1rem 1rem;
                    border: 0 solid var(--white);
                }

                input {
                    padding-left: 3.25rem;
                    font-size: 1rem;
                    border-right: 0.2rem solid var(--table-line-color);
                    background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.822 20.88-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z' fill='%23acacac'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-position: center left 1rem;
                    width: 30rem;

                    &::placeholder {
                        color: var(--grey-line-color);
                        top:0.05rem;
                        position:relative;
                    }
                }

                select {
                    text-align:right;
                    border-left-width: 0;
                    vertical-align: middle;
                    font-size: 0.9rem;
                    padding-right: 3rem;
                    background-image: var(--arrow-black-down);
                    background-repeat: no-repeat;
                    background-position: center right 1rem;
                    background-size: 0.5rem;
                }
            }

            button.header-search-button {
                background-image: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m23.822 20.88-6.353-6.354c.93-1.465 1.467-3.2 1.467-5.059.001-5.219-4.247-9.467-9.468-9.467s-9.468 4.248-9.468 9.468c0 5.221 4.247 9.469 9.468 9.469 1.768 0 3.421-.487 4.839-1.333l6.396 6.396zm-20.294-11.412c0-3.273 2.665-5.938 5.939-5.938 3.275 0 5.94 2.664 5.94 5.938 0 3.275-2.665 5.939-5.94 5.939-3.274 0-5.939-2.664-5.939-5.939z'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: 100% 45%;
                background-size: 1.5rem;
                padding: 0.25rem 2.25rem 0.25rem 0.5rem;
            }
            
            &.show-search-box {
                span.header-search-container {
                    opacity: 1;
                    display: inline-block;
                }
                button.header-search-button {
                    background-image: none;
                    background-color: var(--highlight-1-contrast-friendly);
                    color: var(--white);
                    padding-left: 2.25rem;
                    transition: background-color 0.5s;

                    svg { display: none; }
                }
            }
        }

        button.header-menu {
            &::after {
                content: "";
            }
        }
    }

    div.header-nav-line {
        background: var(--dark);
        width: 100%;

        nav {
            display: flex;
            justify-content: flex-start;
            gap: 3rem;
            max-width: var(--smallest-width);
            margin: 0 auto;
            padding: 1rem 2rem;
            align-items: center;

            a {
                color: var(--white);
                text-decoration: none;
                cursor: pointer;
                font-size: 1rem;

                &:hover { text-decoration: underline; }
            }

            ol.header-breadcrumbs {
                li {
                    display: inline-block;

                    &::after {
                        content: "/";
                        color: var(--white);
                        padding: 0 1rem;
                    }

                    &:last-of-type::after { 
                        content: "";
                        padding: 0;
                    }
                }
            }

            span.header-nav-right {
                flex-grow: 1;
                text-align: right;
                display: inline-block;

                button.accessibility-trigger {
                    background: transparent;
                    border-width: 0;
                    color: var(--white);
                    font-size: inherit;
                    cursor: pointer;

                    &:hover { text-decoration: underline; }
                }
            }
        }
    }
}