@import "./media-queries.scss";

section.hero-text {
    padding-bottom: var(--padding-section-medium);
    
    div.hero-text-wrapper {
        // overrule sass' build-in min/max rule to use one from css spec
        min-height: clamp(36rem, 60vh, 900px);
        position: relative;
        max-height: 900px;
        max-width: var(--medium-width);
        display: flex;

        div.hero-text-image {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        div.hero-text-content {
            flex: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-width:m#{i}n(1280px,100%);
            padding: 0;
            width: 100%;
            box-sizing: border-box;
            position: relative;
            margin: 0 auto;
            text-shadow: var(--hero-shadow-contrast);

            &.hero-shadow-yellow {
                text-shadow: var(--hero-shadow-contrast-yellow);
            }

            h1 {
                padding-bottom: 4rem;
                max-width: 58rem;
                max-width: 17ch;
                flex: 0;

                &.header-wide {
                    max-width: 67rem;
                    max-width: 20ch;
                }
            }
            
            &.h1-small {
                justify-content: center;

                h1 {
                    font-size: var(--h2-max);
                    line-height: 0.85;
                    padding-bottom: 0;
                }
            }

            h2 {
                color: var(--heading-light-color);
                padding-bottom: 0;
                max-width: 40rem;
                max-width: 20ch;
            }

            p {
                color: var(--white);
                max-width: 46rem;
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.hero-text div.hero-text-wrapper {
        div.hero-text-content {
            h1 {
                font-size: var(--h1-tablet);
                line-height: 6.4rem;


                &.h1-small {
                    font-size: var(--h2-tablet);
                    line-height: 4.4rem;
                }
            }
            h2 {
                font-size: var(--h2-tablet);
                line-height: 4.4rem;
            }
            a.btn {
                position: relative;
                bottom: 0;
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.hero-text div.hero-text-wrapper div.hero-text-content {
        h1 {
            font-size: var(--h1-tablet-small);
            line-height: 5.2rem;
            
            &.h1-small {
                font-size: var(--h3-tablet-small);
                line-height: 3rem;
            }
        }
        h2 {
            font-size: var(--h3-tablet-small);
            line-height: 3rem;
        }
        a.btn {
            margin-top: 1rem;
        }
    }
}
@media all and (max-width: $mobile) {
    section.hero-text div.hero-text-wrapper div.hero-text-content {
        padding: 0;
        
        h1 {
            font-size: var(--h1-mobile);
            line-height: 4rem;

            &.h1-small {
                font-size: var(--h2-mobile);
                line-height: 2.4rem;
            }
        }
        h2 {
            font-size: var(--h2-mobile);
            line-height: 2.4rem;
        }
    }
}