@import "./media-queries.scss";

section.hero-button {
    padding-bottom: 0;
    
    div.hero-button-wrapper {
        // overrule sass' build-in min/max rule to use one from css spec
        min-height: clamp(36rem, 60vh, 900px);
        position: relative;
        max-height: 900px;
        max-width: var(--medium-width);
        display: flex;
        // margin bottom in case of replacement seo H1
        margin-bottom: var(--padding-section-medium);
        transition: max-height 0.5s;

        div.hero-button-image {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                opacity: 1;
                transition: opacity 0.75s;
            }
        }

        div.hero-button-text {
            flex: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-width:m#{i}n(1280px,100%);
            padding: 0;
            width: 100%;
            box-sizing: border-box;
            position: relative;
            margin: 0 auto;
            text-shadow: var(--hero-shadow-contrast);
            pointer-events: none;

            &.centred-vertically {
                justify-content: center;
            }

            &.centred h1, &.centred span.header, &.centred p.header {
                justify-content: center;

                &.header-wide {
                 max-width: 100%;
                }
            }

            &.hero-shadow-yellow {
                text-shadow: var(--hero-shadow-contrast-yellow);
            }

            &.h1-small {
                justify-content: center;

                h1 {
                    font-size: var(--h2-max);
                    line-height: 0.85;
                    padding-bottom: 0;
                    flex-basis: auto;
                }
            }

            a.hero-tag {
                display: block;
                background: var(--highlight-1);
                box-sizing: border-box;
                padding: 0.6rem 1.5rem;
                border-radius: 1.5rem;
                position: relative;
                color: #fff;
                text-decoration: none;
                margin-bottom: 1rem;
                cursor: pointer;
                pointer-events: auto;
                align-self: flex-start;

                &:hover {
                    text-decoration: underline;
                    background: var(--highlight-2-contrast-friendly);
                }

                &:focus {
                    text-decoration: underline;
                    background: var(--highlight-2-contrast-friendly);
                }

                &:focus-visible {
                    text-decoration: underline;
                    background: var(--highlight-2-contrast-friendly);
                }
            }

            h1, span.header, p.header {
                padding-bottom: 0;
                max-width: 67rem;
                max-width: 20ch;
                flex: 0;
                flex-basis: 60%;
                display:flex;
                align-items: flex-end;

                &.header-wide {
                    max-width: 67rem;
                    max-width: 20ch;
                }
            }

            h2, p {
                color: var(--heading-light-color);
                padding-bottom: 0;
                max-width: 40rem;
                max-width: 20ch;
            }

            p {
                font-size: var(--h3-max);
                font-family: var(--heading-font);
                line-height: 3.2rem;
                max-width: none;
                flex-basis: 19%;

                &.intro {
                    max-width: 46rem;
                    font-size: inherit;
                    line-height: inherit;
                    font-family: var(--base-font);
                    flex-basis: auto;
                }
            }

            a.btn {
                flex: 0;
                width: max-content;
                margin-top:auto;
                margin-bottom: 3rem;
            }
        }

        p.hero-button-extra-text {
            position: absolute;
            right: 0;
            bottom: 3.2rem;
        }
    }
}

@media all and (max-width: $tablet) {
    section.hero-button div.hero-button-wrapper {
        div.hero-button-text {
            h1, span.header, p.header {
                font-size: var(--h1-tablet);
                line-height: 6.4rem;
            }
            h2 {
                font-size: var(--h2-tablet);
                line-height: 4.4rem;
            }
            p {
                font-size: var(--h3-max);
                line-height: 3rem;
            }

            a.btn {
                position: relative;
                bottom: 0;
            }
        }

        p.hero-button-extra-text {
            width: 12ch;
            text-align: right;
            bottom: 1.5rem;
        }
    }
}

@media all and (max-width: $cumbria-menu) {
    section.hero-button {
        padding-top: var(--mobile-menu-padding-height);
    }
} 

@media all and (max-width: $tablet-small) {
    section.hero-button div.hero-button-wrapper div.hero-button-text {
        h1, span.header, p.header {
            padding-bottom: 0;
            font-size: var(--h1-tablet-small);
            line-height: 5.2rem;
            word-break: break-word;
            hyphens:auto;
        }
        h2 {
            font-size: var(--h3-tablet-small);
            line-height: 3rem;
        }
        p {
            line-height: 3rem;
        }

        p.hero-button-extra-text {
            font-size: var(--h3-mobile) !important;
            line-height: 2rem !important;
            bottom: 2.8rem;
        }
    }
}
@media all and (max-width: $mobile) {
    section.hero-button div.hero-button-wrapper {
        div.hero-button-text {
            padding: 0;
            
            h1, span.header, p.header {
                padding-bottom: 0;
                font-size: var(--h1-mobile);
                line-height: 4rem;
                flex-basis: 50%;
            }
            h2 {
                font-size: var(--h2-mobile);
                line-height: 2.4rem;
            }
            p {
                font-size: var(--h3-mobile);
                line-height: 2rem;
            }
            p.hero-button-extra-text {
                width: 50%;
            }
        }
    }
}