@import "./mixins.scss";
@import "./media-queries.scss";

section.hero-search {
    padding-bottom: var(--padding-section-medium);
    
    .hero-search-wrapper {
        // overrule sass' build-in min/max rule to use one from css spec
        min-height: clamp(36rem, 60vh, 900px);
        position: relative;
        max-height: 900px;
        max-width: var(--medium-width);

        div.hero-search-image {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        div.wrapper-hero-search-text {
            position: absolute;
            top: 56%;
            transform: translateY(-50%);
            width: 100%;
            left: 0;

            div.hero-search-text {
                max-width: calc(1310px + 4rem);
                padding: 0 2rem;
                width: 100%;
                margin: auto;
                display: block;
                box-sizing: border-box;
                position: relative;
                text-shadow: var(--hero-shadow-contrast);

                h1, p.header, span.header {
                    padding-bottom: 5rem
                }

                h1 + h2, p.header + h2, span.header + h2 {
                    margin-top: -4rem;
                }

                div.hero-search-search {
                    margin-top: 2rem;

                    input#search-hero {
                        width: 35rem;
                        border: 0px solid #000000;
                        padding: 0.9rem 0 0.9rem 1.5rem;
                        margin-left: 2rem;
                    }

                    button {
                        position: relative;
                        padding: calc(2rem - 1px);
                        bottom: 0;
                        // two following styles necessary for safari subpixel rendering
                        height: calc(4rem - 2px);
                        width: calc(4rem - 2px);
                        left: 34.9rem;
                        border-width: 1px;
                        border-style: solid;
                        box-sizing:border-box;

                        &::after, &::before {
                            @include button-before-after-reset;
                        }

                        &:hover, &:focus {
                            @include button-small-hover-focus;
                        }

                        img {
                            position: absolute;
                            top: 1.25rem;
                            left: 1.25rem;
                            width: 1.5rem;
                            height: 1.5rem;
                            -webkit-filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 1));
                            filter: drop-shadow( 0 0 3px rgba(0, 0, 0, 1));
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $cumbria-menu) {
    section.hero-search {
        padding-top: var(--mobile-menu-padding-height);
    }
} 

@media all and (max-width: $tablet-small) {
    section.hero-search div.hero-search-wrapper div.wrapper-hero-search-text div.hero-search-text {
        div.hero-search-search {
            margin-top: 0.5rem;

            input#search-hero {
                height: 3.5rem;
                width: m#{i}n(28rem, 65vw);
                font-size: 1rem;
            }

            button {
                padding: calc(1.75rem - 1px) 2rem;
                // two following styles for safari subpixel rendering
                left: m#{i}n(27.9rem, 64vw);
                height: 3.5rem;

                img {
                    top: 1rem;
                }
            }
        }
    }
}
@media all and (max-width: $mobile) {
    section.hero-search div.hero-search-wrapper div.wrapper-hero-search-text div.hero-search-text {
        max-width: calc(1310px + 4rem);
        padding: 0 1rem;

        div.hero-search-search input#search-hero {
            margin-left: 1rem;
        }
    }
}