@import "./media-queries.scss";

section.homepage-video {
    padding-bottom: 0;
    width: 100%;
    
    div.homepage-video-wrapper {
        // height: clamp(36rem, 60vh, 900px);
        height: 32rem;
        position: relative;
        width: 100%;
        display: flex;
        // margin bottom in case of replacement seo H1
        margin-bottom: 0;
        transition: height 0.5s;

        div.homepage-video-image {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video, img {
                position:relative;
                top: 0px;
                width: auto;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
            }

            img {
                position:absolute;
                opacity: 1;
                transition: opacity 0.75s;
                pointer-events:none;
            }

            svg { 
                fill: var(--highlight-1);
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                font-family: 'object-fit: cover;';
                opacity: 1;
                transition: opacity 0.25s;
                pointer-events:none;
            }
        }

        div.homepage-video-text {
            flex: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-width:m#{i}n(1600px,100%);
            padding: 0;
            width: 100%;
            box-sizing: border-box;
            position: relative;
            margin: 0 auto;
            text-shadow: var(--homepage-shadow-contrast);
            pointer-events: none;

            &.centred h1, &.centred span.header, &.centred p.header {
                justify-content: center;
                text-align: center;

                &.header-wide {
                 max-width: 100%;
                }
            }

            &.homepage-shadow-yellow {
                text-shadow: var(--homepage-shadow-contrast-yellow);
            }

            h1, span.header, p.header {
                font-family: var(--heading-font);
                line-height: 0.85;
                letter-spacing: 0.01rem;
                cursor: default;
                text-transform: uppercase;
                font-size: 12vw;
                color: var(--heading-light-color);
                text-shadow: var(--shadow-contrast);
                line-height: 8rem;
                padding-bottom: 0;
                max-width: 67rem;
                max-width: 40ch;
                flex: 0;
                flex-basis: 60%;
                display:flex;
                align-items: flex-end;

                &.header-wide {
                    max-width: 67rem;
                    max-width: 20ch;
                }

                &#video-text-header {
                    opacity: 1;
                    transition: opacity 0.25s;
                }
            }

            h2, p {
                color: var(--heading-light-color);
                padding-bottom: 0;
                max-width: 40rem;
                max-width: 20ch;
            }

            p {
                font-size: var(--h3-max);
                font-family: var(--heading-font);
                line-height: 3.2rem;
                max-width: none;
                flex-basis: 19%;
            }

            div.homepage-video-text-secondary, div.homepage-video-text-secondary-strikethrough {
                justify-content: center;
                text-align:center;
                top: 7.5rem;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width:100%;
                opacity: 1;
                transition: opacity 0.25s;

                p {
                    font-size: var(--h4-tablet);
                    color: var(--white);
                    text-shadow: none;
                    text-shadow: var(--homepage-shadow-contrast);
                    user-select: none;
                    display:inline;
                    position:relative;
                }
            }

            div.homepage-video-text-secondary-strikethrough p:after {
                content: "";
                position: absolute;
                border: 0.25rem solid var(--highlight-1);
                position: absolute;
                left: -0.25rem;
                border-radius: 0.5rem;
                width: 99%;
                top: calc(50% - 0.3rem);
            }

            a.btn {
                flex: 0;
                width: max-content;
                margin-top:auto;
                margin-bottom: 3rem;
            }
        }

        div.homepage-video-controls-mobile {
            display:none;
        }

        div.homepage-video-controls {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
            opacity: 1;
            transition: opacity 0.5s;

            div.homepage-video-controls-inner {
                position:absolute;
                width: 22rem;
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
                display:flex;

                div {
                    flex: 1 1 33%;
                    text-align:center;

                    button.homepage-video-pause, button.homepage-video-play, button.homepage-video-volume {
                        height: 4rem;
                        width: 4rem;
                        padding: 0;
                        background: none;
                        pointer-events: all;
                        border-width: 0;

                        &::before, &::after {
                            background: transparent;
                            width: auto;
                            height: auto;
                        }

                        svg { 
                            position: relative;
                            fill: var(--white);
                            width:100%;
                            height:100%;
                            filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
                            pointer-events: none;
                        }

                        &:hover svg {
                            fill: var(--highlight-1);    
                            filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
                        }

                        &:focus-visible svg {
                            fill: var(--highlight-1);    
                            filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
                        }
                    }
                }
            }
        }

        p.homepage-video-extra-text {
            position: absolute;
            right: 0;
            bottom: 3.2rem;
        }
    }
}

// target touch devices
@media (hover: none) {
    section.homepage-video div.homepage-video-wrapper div.homepage-video-controls div.homepage-video-controls-inner div {
        button.homepage-video-pause, button.homepage-video-play, button.homepage-video-volume {
            &:hover svg {
                fill: var(--white);
            }

            &:focus svg {
                fill: var(--white);    
            }

            &:focus-visible svg {
                fill: var(--white);    
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.homepage-video div.homepage-video-wrapper {
        div.homepage-video-text {
            h1, span.header, p.header {
                font-size: var(--h1-tablet);
                line-height: 6.4rem;
            }
            h2 {
                font-size: var(--h2-tablet);
                line-height: 4.4rem;
            }
            p {
                font-size: var(--h3-max);
                line-height: 3rem;
            }
            div.homepage-video-text-secondary-strikethrough, div.homepage-video-text-secondary p {
                font-size: var(--h4-tablet-small);
            }     
            div.homepage-video-text-secondary-strikethrough p:after {
                border: 0.25rem solid var(--highlight-1);
                top: calc(50% - 0.2rem);
            }                    
            a.btn {
                position: relative;
                bottom: 0;
            }
        }


        div.homepage-video-controls div.homepage-video-controls-inner {
            
        }


        p.homepage-video-extra-text {
            width: 12ch;
            text-align: right;
            bottom: 1.5rem;
        }
    }
}

@media all and (max-width: $cumbria-menu) {
    section.homepage-video {
        padding-top: 0;
    }
} 

@media all and (max-width: $tablet-small) {
    section.homepage-video div.homepage-video-wrapper {
        height: auto;

        div.homepage-video-text {
            h1, span.header, p.header {
                padding-bottom: 0;
                font-size: 9rem;
                line-height: 8rem;
                word-break: break-word;
                hyphens:auto;
                flex-basis: 100%;
                align-items: center;
            }
            h2 {
                font-size: var(--h3-tablet-small);
                line-height: 3rem;
            }
            p {
                line-height: 3rem;
            }

            p.homepage-video-extra-text {
                font-size: var(--h3-mobile) !important;
                line-height: 2rem !important;
                bottom: 2.8rem;
            }
        }

        div.homepage-video-controls-mobile {
            display:block;
            position:absolute;
            bottom:2rem;
            left:50%;
            transform:translateX(-50%);

            button.homepage-video-play-mobile, button.homepage-video-pause-mobile {
                height: 3rem;
                width: 3rem;
                padding: 0;
                background: none;
                pointer-events: all;
                transition: opacity 0.5s;
                border-width: 0;
                position:absolute;

                &::before, &::after {
                    background: transparent;
                    width: auto;
                    height: auto;
                }

                svg { 
                    position: relative;
                    fill: var(--white);
                    width:100%;
                    height:100%;
                    filter: drop-shadow( 0 0 5px rgba(0, 0, 0, .7));
                    pointer-events: none;
                }

                &:hover svg {
                    fill: var(--highlight-1);    
                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
                }

                &:focus-visible svg {
                    fill: var(--highlight-1);    
                    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .7));
                }
            }

            button.homepage-video-pause-mobile {
                opacity: 0;
            }
        }

        div.homepage-video-controls {
            display: none;
        }

        div.homepage-video-controls-mobile {
            bottom:4rem;
            right: 4rem;
            left: auto;
        }    
    }
}
@media all and (max-width: $mobile) {
    section.homepage-video div.homepage-video-wrapper {
        div.homepage-video-text {
            padding: 0;
            
            h1, span.header, p.header {
                padding-bottom: 0;
                flex-basis: 90%;
                font-size: 7rem;
                line-height: 7rem;
            }
            h2 {
                font-size: var(--h2-mobile);
                line-height: 2.4rem;
            }
            p {
                font-size: var(--h3-mobile);
                line-height: 2rem;
            }
            p.homepage-video-extra-text {
                width: 50%;
            }
            div.homepage-video-text-secondary,div.homepage-video-text-secondary-strikethrough p {
                font-size: var(--h4-mobile);
            }
        }

        div.homepage-video-controls-mobile {
            bottom:4rem;
        }            
    }
}
@media all and (max-width: $mobile-small) {
    section.homepage-video div.homepage-video-wrapper {
        div.homepage-video-text {
            h1 {
                font-size: 5rem;
                line-height: 5rem;
            }
            div.homepage-video-text-secondary-strikethrough,div.homepage-video-text-secondary p {
                font-size: var(--h4-tiny-mobile);

                &:after {
                    border: 0rem solid var(--highlight-1);
                    border-top: 0.35rem solid var(--highlight-1);
                    border-radius: 0;
                    top: calc(50% - 0.15rem);
                    width: 100%;
                    left: 0;
                }
            }  
            div.homepage-video-text-secondary-strikethrough p:after {
                border: 0rem solid var(--highlight-1);
                border-top: 0.35rem solid var(--highlight-1);
                border-radius: 0;
                top: calc(50% - 0.15rem);
                width: 100%;
                left: 0;
            }  
        }

        div.homepage-video-controls-mobile {
            bottom:6rem;
        } 
    }
}