@import "./media-queries.scss";

// add 'swap-image-right' class to first div to switch image orientation
section.image-with-text-no-button {
    div.image-with-text-no-button-wrapper {
        display: flex;
        padding: 0;

        div.image-with-text-no-button-image {
            position:relative;
            width: 50%;
            flex: 0 1 auto;
        }

        div.image-with-text-no-button-text {
            padding: 50px;
            width: 50%;
            box-sizing: border-box;
            position: relative;
            flex: 0 1 auto;

            &::before {
                position: absolute;
                content: '';
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: -1;
                left: calc(0px - 51px);
                width: calc(100% + 51px);
                height: calc(100% - 120px - 2.5rem);
                top: calc(0% + 70px);
            }

            div.image-with-text-no-button-inner {
                max-width: 580px;
                margin: 0 auto;
            }

            h4 {
                max-width: 26rem;
                padding-bottom: 1.9rem;
            }

            p:last-of-type {
                padding-bottom: 6rem;
            }
        }
    }

    &.swap-image-right div.image-with-text-no-button-wrapper {
        flex-direction: row-reverse;
    }
}


@media all and (max-width: $tablet) {
    section.image-with-text-no-button {
        div.image-with-text-no-button-wrapper {
            flex-direction: column;
        
            div.image-with-text-no-button-image {
                width: 100%;
                min-height: var(--min-height-images-tablet-small);
            }
        
            div.image-with-text-no-button-text {
                width: 100%;
                min-height: 100%;
                padding: 3rem 2rem;
        
                &::before {
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                }

                div.image-with-text-no-button-inner {
                    max-width: 100%;
                }
        
                h4 {
                    max-width: 100%;
                    padding-bottom: 1.9rem;
                }

                p:last-of-type {
                    padding-bottom: 1.5rem;
                }
            }
        }

        &.swap-image-right div.image-with-text-no-button-wrapper {
            flex-direction: column;
        }
    }
} 
@media all and (max-width: $mobile) {
    section.image-with-text-no-button div.image-with-text-no-button-text {
        width: 100%;
        min-height: 100%;
        padding: 3rem 1rem;
    }
}