section.important-message div.important-message-wrapper {
    &.hide { display: none; }
    
    display: flex;
    flex-direction: column;
    align-items: center;

    h3, p {
        padding-bottom: 0.5rem;
    }
}