@import "./media-queries.scss";

aside.key-details {
    flex: 2 1 0;
    position: relative;
    background: var(--white);
    margin-right: var(--breakout-box-shadow-width);
    align-self: baseline;

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: var(--breakout-box-shadow-width);
        left: var(--breakout-box-shadow-width);
        bottom: -var(--breakout-box-shadow-width);
        right: -var(--breakout-box-shadow-width);
    }

    &.no-breakout {
        &::before {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        margin-right: 0;
    }
    
    div.key-details-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        div.key-details-title {
            padding: 1.5rem 2rem 1rem;

            h3 {
                padding-bottom: 0;
            }
        }

        div.key-details-table-wrapper {
            border-width: 1px;
            border-style: solid;
            border-top-width: 0px;
            border-top-style: solid;
            border-bottom-width: 0px;
            border-bottom-style: solid;
            flex: 1 1 auto;

            &.border-bottom {
                border-bottom-width: 1px;
            }

            ul.key-details-table {
                width: 100%;

                li {
                    border-bottom: 1px solid var(--table-line-color);
                    display: flex;
                    align-items: center;

                    &.no-line { border-bottom: 0 solid var(--white); }

                    span {
                        &:first-child {
                            padding: 1rem 1rem 1rem 2rem;
                            flex: 4 0 0;
                            font-weight: var(--font-strong);
                        }

                        padding: 1rem 2rem 1rem 0rem;
                        display:inline-block;
                        flex: 6 0 0;

                        &.key-details-location span {
                            padding: 0;
                        }

                        &.key-details-social-wrapper {
                            a {
                                margin-right: 0.5rem;
                                text-decoration: none;

                                &:focus svg {
                                    fill: var(--dark, #000000);
                                }

                                &:focus-visited svg {
                                    fill: var(--dark, #000000);
                                }

                                svg {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }

                        &.key-details-social-wrapper {
                            span {
                                padding: 0;

                                &.at4-share-count-container { padding-right: 0.5rem; }
                            }

                            div.at-share-btn-elements {
                                line-height: inherit;
                            }
                        }
                    }
                }
            }
        }

        div.key-details-additional {
            flex: 1 1 auto;
            padding-left: 1rem;
            padding-bottom: 3rem;
            border-width: 1px;
            border-style: solid;
            border-top-width: 0px;
            border-top-style: solid;

            h4.key-details-additional-header {
                padding-top: 2rem;
                padding-left: 1rem;
                padding-bottom: 1rem;
            }

            div.key-details-additional-wrapper {
                display: flex;

                div.key-details-additional-info-wrapper {
                    flex: 1 1 0;
                    text-align: center;

                    &:first-child {
                        border-right-width: 1px;
                        border-right-style: solid;
                    }

                    p.key-details-additional-info-figure {
                        padding: 0;
                    }

                    p.key-details-additional-info-details {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $tablet) {
    aside.key-details {
        div.key-details-wrapper {
            div.key-details-title {
                padding: 1.5rem 2rem 1rem;
            }

            div.key-details-table-wrapper table.key-details-table tr td {
                padding: 1rem 2rem;
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    aside.key-details {
        margin-right:0;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: var(--white);
        }

        &.no-breakout {
            width:100%;
        }
    }
} 

@media all and (max-width: $mobile) {
    aside.key-details {
        margin-right:0;
        
        div.key-details-wrapper {
            div.key-details-title {
                padding: 1.5rem 1rem 1rem;
            }

            div.key-details-table-wrapper {
                border-width: 0;
                border-style: solid;

                &.border-bottom {
                    border-bottom-width: 1px;
                    border-bottom-style: solid;
                }

                ul.key-details-table {
                    li {
                        span {
                            &:first-child {
                                padding: 1rem;
                            }

                            padding: 1rem 0rem;
                        }
                    }
                }
            }

            div.key-details-social {
                border-left-width: 0;
                border-right-width: 0;
            }

            div.key-details-additional {
                border: 0px solid var(--white);
                padding: 0 0 3rem;

                p.key-details-additional-header {
                    padding-left: 1rem;
                }

                div.key-details-additional-wrapper div.key-details-additional-info-wrapper p.key-details-additional-info-details {
                    padding: 0 1rem;
                }
            }
        }
    }
} 