@import "./mixin-simple-carousel.scss";
@import "./media-queries.scss";

section.listings-next {
    margin-top: -2rem;
    padding-bottom: 1rem;
    
    div.listings-next-wrapper {
        h2 {
            font-size: var(--h3-max);
            border-bottom: 1px solid var(--grey-line-color);
            padding-bottom: 1.5rem;
            line-height: 3.5rem;

            & a {
                &:any-link {
                    color: var(--highlight-1);
                }

                &:hover {
                    color: var(--highlight-2-contrast-friendly);
                }
            }
        }
    }
}

section.listings-filter {
    &.sticky-filter {
        position: sticky;
        top: 0;
        z-index:100000;
        background-color: #ffffff;
        margin-top: -1rem;
        margin-bottom:1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    div.listings-filter-wrapper {
        form {
            div.listings-filter-default-options {
                div, button {
                    margin-top: 0.25rem;
                    margin-bottom: 0.25rem;
                }

                p.filter-by { min-width: 7rem; }

                div.listings-filter-section {
                    &.course-group-select {
                        select {
                            max-width: 17rem;
                            max-width: 22ch;
                            min-width: 16rem;
                            min-width: 21ch;
                        }
                    }

                    select[multiple] {
                        max-width: 26rem;
                        max-width: 36ch;
                        min-width: 16rem;
                        min-width: 30ch;
                    }
                }
            }

            div.listings-filter-default-options, div.listings-filter-extra-options-container div.listings-filter-extra-options {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                p {
                    padding: 0;
                    font-weight: var(--font-strong);
                    display: inline;
                }

                & > div {
                    margin-left: 1rem;


                    select {
                        max-width: 22rem;
                        max-width: 30ch;
                        min-width: 18rem;
                        min-width: 24ch;
                    }
                }

                button { margin-left: 1rem; }
            }

            div.listings-filter-extra-options-container-wrapper {
                display: none;
                border: 1px solid var(--grey-line-color);
                border-top: 0 solid white;
                border-image: linear-gradient(0deg, var(--grey-line-color) 80%, rgb(250, 250, 250)) 1;

                div.listings-filter-extra-options-container {
                    display: flex;
                    margin-top: 0.5rem;

                    div.listings-filter-extra-options, div.listings-filter-extra-options-selects {
                        padding: 1rem;
                        align-items: flex-start;
                        flex: 1 1 33%;
                        justify-content: unset;

                        & > div {
                            display: flex;
                            flex-direction: column;

                            p {
                                display: flex;
                                align-items: center;
                                justify-content: left;
                                margin-bottom: 0.5rem;

                                label {
                                    margin-left: 0.5rem;
                                    font-weight: var(--font-normal);
                                }
                            }
                        }

                        &.standard-select-wrapper-small {
                            display: flex;
                            align-items: flex-start;
                            padding: 0 1rem 1rem 1rem;

                            label {
                                margin-bottom: 0.5rem;
                            }

                            select {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            p.listings-filter-close {
                text-align: right;
                padding-top: 0.5rem;

                span { 
                    color: inherit;

                    &.showLess { display: none; }
                
                }
            }
        }
    }
}

section.listings-highlight-content {
    padding-bottom: 1rem;

    div.listings-highlight-content-wrapper div.listings-highlight-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        div.highlight-listing {
            border: 1px solid var(--grey-line-color);
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 1;
            display: flex;

            div.highlight-listing-image {
                position: relative;
                min-height: 20rem;
                flex: 0 0 50%;
            }

            div.highlight-listing-content {
                padding: 2rem;
                flex: 1;
                font-size: 1.2rem;
                line-height: 1.5rem;
                min-height: 22rem;
            }
        }
    }
}

section.listings-content div.listings-content-wrapper {
    div#listings-hidden-menu { display: none; }

    // slider prev/next generated button styles
    @include simple-carousel-button-basics;

    div.listings-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        &.carousel-items {
            gap: 0;
            margin: 0 auto;
            width: clamp(40px, calc(100vw - 12rem), var(--smallest-width));
        }

        &.non-carousel-items {
            max-width: var(--smallest-width);
            margin: 0 auto;
            padding: 0 2rem;

            div.single-listing-container {
                padding: 0;
            }
        }

        div.single-listing-container {
            padding: 0 1rem;
            display: grid;
        }

        a.single-listing {
            &:hover, &:focus {
                border: 1px solid var(--white);
            }

            &:focus-visible {
                border: 1px solid var(--white);
            }
        }
            
        div.single-listing, a.single-listing {
            border: 0.01rem solid var(--grey-line-color);
            position: relative;

            &.hide-listing { display: none; }

            div.single-listing-image {
                position: relative;
                aspect-ratio: 1.5 / 1;

                // for browsers that don't support aspect-ratio yet
                @supports not (aspect-ratio: 1) {
                    padding-bottom: 67%;
                }
            }

            a.single-listing-details, div.single-listing-details {
                background-color: var(--grey-bg);
                padding: 1rem;
                display: block;

                h3, h4, h5 {
                    padding-bottom: 0;
                    word-break: break-word;
                    display: inline-block;
                    text-decoration: none;
                    user-select: none;
                }

                h4, h5 {
                    line-height: 2rem;
                }

                p {
                    padding-bottom: 0.2rem;
                    line-height:1;
                }

                span.single-listing-title-item-right {
                    float:right;
                    position:relative;
                    width: 3rem;
                    height: 2rem;
                    margin-top: -2px;
                }

                &:hover {
                    h3 {
                        color: var(--highlight-2-contrast-friendly);
                        text-decoration: underline;
                    }
                    h4, h5 {
                        color: var(--dark);
                    }
                }
            }

            div.single-listing-content {
                padding: 1rem;

                p {
                    padding-bottom: 0rem;
                
                    &.single-listing-content-grid-dates {
                        font-family: var(--heading-font);

                        span {
                            color: var(--highlight-1);
                        }
                    }
                }
            }
        }

        p#listing-empty-message {
            padding-top: 1rem;
            grid-column: 1 / -1;

            &.hide-message { display: none; }
        }

        &.one-item {
            max-width: 600px;
            grid-template-columns: 1fr;

            a.single-listing div.single-listing-image, div.single-listing div.single-listing-image {
                aspect-ratio: 1.8 / 1;
            }
        }

        &.two-items {
            max-width: var(--narrow-width);
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            a.single-listing div.single-listing-image, div.single-listing div.single-listing-image {
                aspect-ratio: 1.8 / 1;
            }
        }
        
        &.carousel-items {
            gap: 0;
        }
    }

    div#listing-empty-message-embed {
        max-width: var(--smallest-width);
        margin: 0 auto;
        display: none;

        &.show-message { display: block; }
    }

    div.post-listings-button {
        margin: 2rem 0;
        display: flex;
        align-items: center;

        a.btn {
            margin: 0 auto;
        }
    }
}

@media all and (max-width: $desktop) {
    section.listings-filter div.listings-filter-wrapper {
        form {
            div.listings-filter-default-options {
                flex-wrap: wrap;
            }
             
            div.listings-filter-extra-options-container-wrapper {
                div.listings-filter-extra-options-container {
                    flex-wrap: wrap;
                    align-items: flex-end;
                }
            }
        }
    }  
    section.listings-content div.listings-content-wrapper.carousel-items div.listings-container {
        gap: 0;
        max-width: var(--narrow-width);
        margin: 0 auto;
        
        a.single-listing div.single-listing-image, div.single-listing div.single-listing-image {
            aspect-ratio: 1.8 / 1;
        }
    }
}

@media all and (max-width: $tablet) {
    section.listings-filter div.listings-filter-wrapper {
        form {
            div.listings-filter-default-options {
                p { display: none; }
            }
        }
    }

    section.listings-content div.listings-content-wrapper div.listings-container {
        &.carousel-items {
            width: clamp(40px, calc(100vw - 10rem), var(--smallest-width));
        }

        div.single-listing-container {
            padding: 0 0.5rem;
        }

        &.two-items {
            gap: 1rem;
        }
    }
}

@media all and (max-width: $cumbria-menu) {
    section.listings-filter {
        &.sticky-filter {
            top: 68px;
        }
    }
} 

@media all and (max-width: $tablet-small) {
    section.listings-next div.listings-next-wrapper {
        h2 {
            font-size: var(--h3-tablet-small);
            line-height: 2.5rem;
        }
    }

    section.listings-filter div.listings-filter-wrapper {
        form {
            div select {
                max-width: 22rem;
                max-width: 36ch;
            }

            button {
                padding-top: 1rem;
                padding-bottom: 1.1rem;
            }

            div.listings-filter-extra-options-container-wrapper {
                div.listings-filter-extra-options-container {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            div.listings-filter-default-options div.listings-filter-section {
                &.standard-select-wrapper select[multiple] {
                    max-width: 85vw;
                }
            }
        }
    }

    section.listings-content div.listings-content-wrapper {
        div.listings-container {
            grid-template-columns: 1fr 1fr;
            gap: 0.75rem;

            a.single-listing, div.single-listing {
                div.single-listing-details, a.single-listing-details {
                    h4, h5 {
                        line-height: 1.8rem;
                    }
                }
            }

            &.carousel-items div.single-listing-container {
                a.single-listing div.single-listing-image, div.single-listing div.single-listing-image {
                    aspect-ratio: 1.8 / 1;
                }
            }
        

            &.two-items, &.one-item {
                grid-template-columns: 1fr;

                a.single-listing div.single-listing-image, div.single-listing div.single-listing-image {
                    aspect-ratio: 2 / 1;
                }
            }
        }  
    }

    section.listings-highlight-content div.listings-highlight-content-wrapper div.listings-highlight-container {
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
        
        div.highlight-listing {
            grid-column-end: 3;
            flex-direction: column;

            div.highlight-listing-image {
                flex: 1;
            }

            div.highlight-listing-content {
                flex: 1 0 auto;
                font-size: 1.1rem;
                min-height: auto;
            }
        }
    }
}

@media all and (max-width: $mobile) {
    section.listings-filter div.listings-filter-wrapper {
        form {
            flex-wrap: wrap;

            div.listings-filter-default-options {
                button {
                    padding-top: 0.6rem;
                    padding-bottom: 0.6rem;
                    margin-left: 0.5rem;
                }

                div.listings-filter-section {
                    margin-left: 0;

                    &.standard-select-wrapper {
                        select {
                            margin-left: 0.5rem;
                            padding-top: 0.4rem;
                            padding-bottom: 0.4rem;
                            max-width: 10rem;
                            max-width: 16ch;
                            min-width: auto;
                        }

                        &:first-of-type select {
                            margin-left: 0;
                        }
                    }
                }

            } 
        }
    }

    section.listings-content div.listings-content-wrapper div.listings-container {
        grid-template-columns: 1fr;
        gap: 0.75rem;

        a.single-listing, div.single-listing {
            div.single-listing-image {
                position: relative;
                aspect-ratio: 2 / 1;

                // for browsers that don't support aspect-ratio yet
                @supports not (aspect-ratio: 1) {
                    padding-bottom: 50%;
                }
            }
        }

        &.carousel-items {
            width: calc(100vw - 8rem);

            div.single-listing-container a.single-listing div.single-listing-image, div.single-listing-container div.single-listing div.single-listing-image {
                aspect-ratio: 1.5 / 1;
            }
        }

        &.two-items, &.one-item {
            padding: 0 1rem;

            a.single-listing div.single-listing-image, div.single-listing div.single-listing-image {
                aspect-ratio: 1.8 / 1;
            }
        }
    }

    section.listings-highlight-content div.listings-highlight-content-wrapper div.listings-highlight-container {
        div.highlight-listing {
            grid-column-end: 3;

            div.highlight-listing-image {
                display: none;
            }

            div.highlight-listing-content {
                padding: 2rem 1rem;
                font-size: 1rem;
            }
        }
    }
}


@media all and (max-width: $mobile-small) {
    section.listings-filter div.listings-filter-wrapper {
        form {
            div.listings-filter-default-options {
                div.listings-filter-section {
                    &.standard-select-wrapper select {
                        max-width: 8rem;
                        max-width: 13ch;
                    }
                }
            } 
        }
    } 
} 