@import "./media-queries.scss";

section.map-list {
    max-width: var(--narrow-width);
    margin: 0 auto;

    div.map-list-wrapper {
        h3 {
            text-align: center;
        }

        div.map-list-container {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;

            div.map-list-image {
                position: relative;
                flex: 0 0 60%;

                img {
                    position: relative;
                }
            }

            ul.map-list-list {
                flex: 0 0 40%;
                list-style-type: none;

                li {
                    position: relative;
                    padding-left: 1.5rem;
                    padding-bottom: 1rem;

                    &::before {
                        content: "\002022";
                        font-size: 4rem;
                        top: 5%;
                        color: var(--dark);
                        position: absolute;
                        left: 0rem;
                    }

                    &:nth-of-type(1)::before {
                        color: #ff8c1f;
                    }
                    &:nth-of-type(2)::before {
                        color: #e05d5b;
                    }
                    &:nth-of-type(3)::before {
                        color: #5da0d5;
                    }
                    &:nth-of-type(4)::before {
                        color: #5f9c4a;
                    }
                    &:nth-of-type(5)::before {
                        color: #8147b9;
                    }
                    &:nth-of-type(6)::before {
                        color: #5b5b5b;
                    }

                    h4 {
                        padding-bottom: 0;
                    }

                    span {
                        text-transform: none;
                        font-family: var(--base-font);
                        display: block;
                    }
                }
            }
        }
        
        div.map-list-button {
            text-align: center;
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.map-list div.map-list-wrapper div.map-list-container {
        flex-wrap: wrap;

        div.map-list-image, ul.map-list-list {
            flex-basis: 100%;
        }
    }
}

@media all and (max-width: $mobile) {
    section.map-list div.map-list-wrapper div.map-list-container ul.map-list-list li::before {
        font-size: 3rem;
        top: 0;
    }
}