// pixel definitions for media queries
$desktop-large: 1500px;
$desktop: 1300px;
$desktop-small: 1100px;
$tablet: 900px;
$cumbria-menu: 850px;
$tablet-small: 700px;
$mobile: 500px;
$mobile-small: 350px;