@import "./mixins.scss";
@import "./media-queries.scss";

// a11y slider basic generated button settings
@mixin simple-carousel-button-basics {
    button.a11y-slider-sr-only, button.a11y-slider-prev, button.a11y-slider-next {
        z-index: 10000;
        
        &::after, &::before {
            @include button-before-after-reset;
        }
        &::after {
            background: none;
            transition: none;
        }
    }

    button.a11y-slider-prev, button.a11y-slider-next {
        position: absolute;
        top: calc(50% - 2rem);
        left: 10rem;
        background-image: var(--arrow-black);
        background-repeat: no-repeat;
        background-size: 1.5rem;
        background-position: center right 46%;
        padding: 2rem;
        width: auto;
        height: auto;
        // to remove autopopulated next/prev slide text
        font-size: 0;
        line-height: 0;

        &:hover, &:focus {
            @include button-small-hover-focus;
            background-image: var(--arrow-white);
        }
    }
    
    button.a11y-slider-prev {
        transform: rotate(180deg);
    }
    
    button.a11y-slider-next {
        left: calc(100% - 10rem);
        transform: translateX(-100%);
    }

    @media all and (max-width: 1800px) {
        button.a11y-slider-prev {
            left: 2vw;
        }
        button.a11y-slider-next {
            left: calc(100% - 2vw);
        }
    }

    @media all and (max-width: var(--desktop-large)) {
        button.a11y-slider-prev {
            left: 1.4rem;
        }
        button.a11y-slider-next {
            left: calc(100% - 1.4rem);
        }
    }

    @media all and (max-width: var(--desktop)) {
        button.a11y-slider-prev {
            left: 0.5rem;
        }
        button.a11y-slider-next {
            left: calc(100% - 0.5rem);
        }
    }

    @media all and (max-width: $tablet) {
        button.a11y-slider-prev {
            left: 0rem;
        }
        button.a11y-slider-next {
            left: 100%;
        }
    }

    @media all and (max-width: var(--tablet-small)) {
        button.a11y-slider-prev, button.a11y-slider-next {
            background-size: 1rem;
            background-position: center right 46%;
            padding: 1.5rem;
            top: calc(50% - 0.75rem);
        }
    }
}