// mixins
// different button colour styles
@mixin button-dark-border {
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    left: -2px;
}

// default focus styles
@mixin focus-styles {
    outline-width: 4px;
    outline-style: dashed;
    outline-offset: 4px;
    z-index: 1000;
}
// remove default focus styles for browsers that support :focus-visible
@mixin remove-focus-styles {
    outline-width: 0;
    outline-style: none;
    outline-offset: 0;
    z-index: 1;
}

// small button hover/focus action
@mixin button-small-hover-focus {
    transition: background-color 0.1s linear;
}

// remove all hover effects from button
@mixin button-before-after-reset {
    content: none;
    position: inherit;
    width: auto;
    left: auto;
    top: auto;
    height: auto;
    z-index: auto;
    transition: none;
}