@import "./media-queries.scss";

aside#sideNav {
    transform: translateX(-100%);
    transition: transform .4s;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    position:fixed;
    left: 1rem;
    top: 3rem;

    &.show-side-nav {
        visibility: visible;
        transform: translateX(0);
    }

    div.side-nav-inner {
        background-color: var(--dark);
        display: table;
        box-sizing: border-box;

        nav.side-nav-sections {    
            position: relative;
            display: table-cell;
            overflow: hidden;
            padding: 20px;
            min-width: 200px;
            max-width: 200px;
            background-color: #000;
            vertical-align: top;
            font-size: 14px;
            line-height: 2;

            div.side-nav-mobile-bar {
                display:none;
            }

            ul.side-nav-sections-list {
                list-style: none;

                li.side-nav-sections-item {
                    cursor: pointer;
                    position:relative;
                    
                    &:focus:before {
                        content:"";
                        position:absolute;
                        background-color:#fff;
                        top:0;
                        bottom:0;
                        left:-4px;
                        right:-4px
                    }

                    &.side-nav-menu-chosen {
                        background-color: var(--white);
                        padding: 0 0.5rem;
                        margin: 0 -0.5rem;

                        & h2.side-nav-header a {
                            color: var(--dark);
                        }

                        & span.side-nav-tab {
                            background-image: var(--arrow-black);
                        }
                    }

                    h2.side-nav-header {
                        display: inline-block;
                        width: calc(100% - 20px);

                        a {
                            position: relative;
                            display: block;
                            text-decoration: none;
                            color: #fff;
                            font-size: 1rem;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    span.side-nav-tab {
                        display: block;
                        float: right;
                        width: 10px;
                        height: 2em;
                        background-image: var(--arrow-white);
                        background-repeat: no-repeat;
                        background-size: 0.4rem;
                        background-position: center right;
                        opacity: .6;
                    }
                }
            }
        }

        div.side-nav-submenu {
            position:relative;
            // display: none;
            background: var(--dark);
            vertical-align: top;
            height: 0;
            display:none;

            &.side-nav-submenu-open {
                display: table-cell;
                opacity: 1;
                height: auto;
                transition: opacity 0.3s ease 0.2s;
            }

            div.side-nav-submenu-content {
                position: relative;
                overflow: hidden;
                border-collapse: separate;
                border-spacing: 20px;
                height: 100%;

                div.side-nav-submenu-column, div.side-nav-submenu-close-column {
                    display: table-cell;
                    height: 100%;
                    vertical-align: top;
                }

                div.side-nav-submenu-column {
                    min-width: 210px;
                    max-width: 210px;
                    line-height: 2;

                    section.side-nav-submenu-section {
                        &+.side-nav-submenu-section {
                            margin-top: 2rem;
                        }

                        header.side-nav-submenu-header {
                            color: var(--white);
                            font-weight: 700;
                            padding-bottom: 0.4rem;
                        }

                        ul.side-nav-submenu-list {
                            list-style: none;

                            li.side-nav-submenu-item {
                                padding-bottom: 0.8rem;

                                a.side-nav-submenu-link {
                                    text-decoration: none;
                                    color: var(--white);
                                    position: relative;
                                    display: block;
                                    font-size: 1rem;
                                    line-height: 1.4;
        
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }

                div.side-nav-submenu-close-column {
                    button.side-menu-submenu-close {
                        background-color: transparent;
                        border: 0px solid transparent;

                        &::before {
                            content: "\00D7";
                            cursor: pointer;
                            display: block;
                            width: 25px;
                            height: 25px;
                            font-size: 3rem;
                            color: var(--white);
                            position: relative;
                            top: -1rem;
                            font-weight: 100;
                            font-family: sans-serif;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 800px) {
    aside#sideNav {
        width:100%;
        top: 0;
        left:0;
        overflow-y:auto;
        position:absolute;

        div.side-nav-inner {
            padding:0;
            display:block;

            nav.side-nav-sections {
                max-width: 100%;
                min-width: 100%;
                display:block;
                padding: 0;

                div.side-nav-mobile-bar {
                    display:flex;
                    justify-content: space-between;
                    padding:1rem;
                    gap: 1rem;

                    div.side-nav-mobile-logo {
                        display: inline-block;

                        img {
                            height: 4.6rem;
                        }
                    }

                    div.side-nav-mobile-search {
                        button {
                            position: relative;
                            height: 3.5rem;
                            width: calc(4rem + 1px);
                            border-width: 1px;
                            border-style: solid;
                            box-sizing: border-box;
                            background-color: var(--dark);
                            border-color: var(--dark);
                            cursor: pointer;

                            svg {
                                fill: var(--white);
                            }
                        }
                    }

                    button.side-nav-mobile-close {
                        background-color: transparent;
                        border: 0px solid transparent;
                        align-self: flex-start;
                        height: 2.8rem;

                        &::before {
                            content: "\00D7";
                            cursor: pointer;
                            display: block;
                            width: 25px;
                            height: 25px;
                            font-size: 3rem;
                            color: var(--white);
                            position: relative;
                            top: -1rem;
                            font-weight: 100;
                            font-family: sans-serif;
                        }
                    }
                }

                ul.side-nav-sections-list li.side-nav-sections-item {
                    padding: 0.25rem 1rem;

                    h2.side-nav-header a.side-nav-link {
                        font-size: 1.2rem;
                    }

                    span.side-nav-tab {
                        display: none;
                    }
                }
            }

            div.side-nav-submenu {
                display: none;
            }
        }
    }
}