@import "./media-queries.scss";

aside#sideNav {
    width: 30rem;
    visibility: hidden;
    transition-property: visibility, width;
    position: fixed;
    top: 0;
    bottom: 0; 
    z-index: 100000;
    left: -30rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    transition: left 0.2s;

    div.side-nav-container nav.side-nav-main {
        ul#topLevelMenu li a {
            &.side-nav-has-submenu {
                &::after {
                    content: "";
                    background-image: var(--arrow-black);
                    background-repeat: no-repeat;
                    background-size: 0.4rem;
                    background-position: top 0.4rem right;
                    width: 16rem;
                    height: 2rem;
                    position: absolute;
                    left: 0;
                    opacity: 0.25;
                }
            
                &.side-nav-menu-chosen {
                    font-weight: var(--font-strong);

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.side-nav-double {
        width: 50rem;

        div.side-nav-container nav.side-nav-main {
            &:after {
                content: "";
                height: 100%;
                left:270px;
                top:0;
                position: absolute;
                border-right: 1px solid var(--grey-line-color);
            }

            &.side-nav-main-hide-mobile {
                display: block;
            }
        }
    }

    div.side-nav-logo { display: none; }

    button#closeNav {
        background-color: transparent;
        border: 0 solid #fff;
        font-size: 2.5rem;
        align-self:flex-start;
        padding: 1rem 2rem;
        cursor:pointer;
        margin-left: 1rem;
        margin-top: 1rem;
        border-radius: 50%;
        color: var(--dark);
    }

    // menu list styles for all items
    ul {
        margin-bottom: 2rem;

        li {
            padding: .375rem 0;

            a {
                text-decoration: none;
                display: block;
                color: var(--dark);
                line-height: 1.5;

                &:hover {
                    text-decoration: underline;
                }

                &.strong {
                    font-weight: var(--font-strong);
                }
            }

            &.side-nav-more a {
                text-decoration: underline;
            }

            &.side-nav-more-hidden { display: none; 
                &.show { display: block; }
            }
        }
    }

    div.side-nav-container {
        padding: 0 2rem 0 150px;
        display:flex;

        nav.side-nav-main {
            flex-basis: 300px;
            flex-shrink: 0;
            position:relative;
        }

        div.side-nav-expand {
            min-width: 303px;

            button#side-nav-expand-back-mobile {
                display: none;
            }

            nav.side-nav-expand-menu {
                visibility: visible;
                padding-bottom: 2rem;
                transform: translateX(0);
                transition: transform 0s 0s;

                &.hidden {
                    visibility: hidden;
                    height: 0;
                    padding: 0;
                    overflow: hidden;
                    transform: translateX(15%);
                }
            }
        }
    }

    &.showNav {
        visibility: visible;
        left: 0;
    }
}

div#sideNavOverlay {
    display: block;
    position:fixed;
    z-index: 99999;
    top: 0;
    right:0;
    bottom:0;
    left:0;
    background-color: var(--dark);
    opacity: 0.3;
    transition: opacity 0.25s ease-in;
    pointer-events: all;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

@media all and (max-width: $tablet) {
    aside#sideNav {
        width: 100%;
        left:0;
        right: 0;

        &.side-nav-double {
            width: 100%;
        }

        div.side-nav-logo {
            position: absolute;
            display: block;
            top: 1rem;
            left: 2rem;
            
            img {
                width: 4rem;
            }
        }

        button#closeNav {
            align-self:flex-end;
            margin-left: 0;
            margin-right: 1rem;
        }
    }
}

@media all and (max-width: $tablet-small) {
    aside#sideNav {
        &.side-nav-double {
            div.side-nav-container nav.side-nav-main {
                &:after {
                    border-right: 0 solid var(--white);
                }

                &.side-nav-main-hide-mobile {
                    display: none;
                }

                ul#topLevelMenu li a.side-nav-menu-chosen:after {
                    content: "";
                }
            }
        }
        div.side-nav-container {
            padding: 2rem;
            display: block;
    
            div.side-nav-expand {
                min-width: auto;
                width: 100%;

                button#side-nav-expand-back-mobile {
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    background: transparent;
                    border: 0 solid transparent;
                    cursor: pointer;
                    margin-bottom: 1rem;
                    border-radius: 50%;

                    &.hidden {
                        display: none;
                    }
                }
    
                nav.side-nav-expand-menu {
                    visibility: visible;
                    padding-bottom: 2rem;
                    transform: translateX(0);
                    transition: transform 0s 0s;
    
                    &.hidden {
                    }
                }
            }
        }
    } 
}