@import "./media-queries.scss";

section.not-hero-header div.not-hero-header-wrapper {
    h1 { 
        padding-top: 1rem;
        padding-left: 0;
        padding-bottom: 1rem;
    }

    h2 { 
        padding-top: 2rem;
        font-size: var(--h3-max);
    }

    p  {
        img {
            position:relative;
            width: auto;
            max-width:100%;
            object-fit: contain;
            object-position: unset;
        }

        &.no-gap { padding-bottom: 0.5rem; }
    }

    // ul, ol {
    //     list-style-type: disc;
    //     list-style-position: inside;
    //     padding-bottom: 1rem;

    //     li { 
    //         padding-bottom: 0.5rem;
    //         line-height: 1.2;
    //     }
    // }

    ol {
        list-style-type: decimal;
    }

    ul {
        padding-bottom: 1rem;

        li {
            position: relative;
            padding: 0.5rem 0 0 1.7rem;

            &::before {
                content: '\2022';
                font-weight: normal;
                margin-left: -1.7rem;
                width: 2rem;
                font-size: 2.3rem;
                position:absolute;
                top:-0rem;
            }
        }
    }
    
    // ul li dot highlight colour
    ul li::before { color: var(--highlight-1);}

}    

@media all and (max-width: $tablet-small) {
    section.not-hero-header div.not-hero-header-wrapper {
        h2 { 
            padding-top: 2rem;
            font-size: var(--h3-tablet-small);
        }
    }
} 