@import "./media-queries.scss";

section.partner-title-with-images {
    padding-bottom: var(--padding-section-medium);
    
    div.partner-title-with-images-wrapper {
        h3 {
            text-align: center;
            padding-bottom: 3rem;
        }

        div.partner-title-with-images-partners {
            display: flex;
            justify-content: space-between;
            max-width: m#{i}n(880px,87vw);
            margin: 0 auto;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;

            div.partner-title-with-images-partners-wrapper {
                position:relative;
                flex: 1 1 auto;

                img {
                    position: relative;
                    min-width: 100px;
                    min-height: 100px;
                    width: auto;
                    height: auto;
                    top: auto;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 300px;
                    max-height: 300px;
                }

                & a {
                    position: relative;
                    display: inline-block;
                    text-align:center;
                    left: 50%;
                    transform: translateX(-50%);

                    &:hover { z-index: 1; }

                    &::after {
                        width: calc(100% + 2rem - 9.5px);
                        height: calc(100% + 2rem - 9.5px);
                        top: -1rem;
                        left: -1rem;
                    }
                }
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.partner-title-with-images div.partner-title-with-images-wrapper {
        div.partner-title-with-images-partners {
            max-width: 90vw;

            div.partner-title-with-images-partners-wrapper {
                img {
                    max-height: 160px;
                    object-fit: contain;
                }
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.partner-title-with-images div.partner-title-with-images-wrapper {
        h3 {
            padding-bottom: 2rem;
        }

        div.partner-title-with-images-partners {
            max-width: 85vw;
            flex-wrap: wrap;
            gap: 0.5rem;

            div.partner-title-with-images-partners-wrapper {
                min-width: 100px;
                flex: 1 1 50%;

                &:first-of-type, &:nth-child(2) {
                    margin-bottom: 2rem;
                }

                & a {
                    &::after {
                        width: calc(100% + 1rem - 9.5px);
                        height: calc(100% + 1rem - 9.5px);
                        top: -0.5rem;
                        left: -0.5rem;
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.partner-title-with-images div.partner-title-with-images-wrapper div.partner-title-with-images-partners {
        div.partner-title-with-images-partners-wrapper {
            img {
                max-height: 130px;
            }

            & a {
                &::after {
                    width: calc(100% + 1rem - 9.5px);
                    height: calc(100% + 1rem - 9.5px);
                    top: -0.5rem;
                    left: -0.5rem;
                }
            }
        }
    }
}