@import "./media-queries.scss";

section.pdf-viewer {
    div.pdf-viewer-wrapper {
        padding-bottom: 100rem;
        max-width: var(--tiny-width);

        button {
            margin-bottom: 1rem;
        }

        div#pdfExample1 {
            transition: height 1s ease-out, border-color 1s;
            width: 100%;
            height: 0;
            border: 1px solid var(--white);
            visibility: hidden;

            &.showPdf {
                height: 45rem;
                max-height: 90vh;
                border-color: var(--highlight-1);
            }
        }

        div.pdf-viewer-link { margin-top: 1rem; }
    }
}