@import "./media-queries.scss";

section.profile-main-copy div.profile-main-copy-wrapper {
    max-width: var(--narrow-width);

    h4.copy-highlight {
        color: var(--highlight-1-contrast-friendly);
        font-family: var(--base-font);
        text-transform: none;
        font-size: var(--body-medium-header-highlight-font-size-max);
        padding: 3rem 0 5rem;

        &::before {
            content: '\201F';
        }

        &::after {
            content: '\201D';
            margin-right: -0.5rem;
            display: inline-block;
        }
    }
}