@import "./media-queries.scss";

section.profile-title-image div.profile-title-image-wrapper {
    display: flex;

    div.profile-title-image-contents {
        margin-right: 2rem;
        flex: 1;

        &.align-center {
            align-self: center;
        }

        h1 {
            padding-bottom: 0;
            padding-top: 2rem;
            padding-left: 0;
        }

        h2 { padding-bottom: 0.5rem; }

        h2, h3 { font-size: var(--body-header-highlight-font-size-max); }
    }

    div.profile-title-image-image {
        position:relative;
        width: 100%;
        min-height: 500px;
        max-height: 700px;
        flex: 0 0 35%;
    }
}

@media all and (max-width: $desktop) {
    section.profile-title-image div.profile-title-image-wrapper {
        div.profile-title-image-image {
            flex: 0 0 45%;
        }
    }
} 
@media all and (max-width: $tablet) {

} 
@media all and (max-width: $tablet-small) {
    section.profile-title-image div.profile-title-image-wrapper {
        flex-direction: column-reverse;
    
        div.profile-title-image-contents {
            margin-right: 0;

            &.align-center {
                align-self: auto;
            }

            h1 {
                padding-top: 1rem;
            }

            h2, h3{
                font-size: var(--body-header-highlight-font-size-tablet-small);
            }
        }

        div.profile-title-image-image {
            min-height: 400px;
        }
    }
} 
@media all and (max-width: $mobile) {
    section.profile-title-image div.profile-title-image-wrapper { 
        h1 {
            font-size: var(--h4-max);
            line-height: 3.6rem;
        }

        div.profile-title-image-image {
            min-height: 300px;
        }
    }
}