@import "./media-queries.scss";

section.promo-apply-now {
    background-color: var(--dark);
    margin-bottom: var(--padding-section-medium);
    padding-bottom: 0;

    div.promo-apply-now-wrapper {
        display: flex;
        padding-right: 0;
        padding-left: 1rem;

        div.promo-apply-now-box {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;            
            padding: 2.3rem 2.5rem;
            padding: m#{i}n(2.3rem, 3vw) m#{i}n(2.5rem, 2.4vw) m#{i}n(2.8rem, 3.4vw);
            background-color: var(--black);
            margin: 1.2rem 0;

            div.promo-apply-now-text-wrapper {
                flex: 0 1 auto;
                margin-bottom: 2rem;

                h4 {
                    color: var(--white);
                    padding-bottom: 1.6rem;
                    padding-bottom: m#{i}n(1.6rem,2vw);
                    margin-bottom: 0.6rem;
                    margin-bottom: m#{i}n(0.6rem,1vw);
                    font-size: 3.1rem;
                    // font-size: m#{i}n(3.1rem, 3.7vw);
                    width: auto;
                    display: inline-block;

                    span {
                        color: var(--highlight-1);
                    }
                }

                p {
                    color: var(--white);
                    font-size: 1.6rem;
                    font-size: m#{i}n(1.6rem, 2.3vw);
                    padding-bottom:0.5rem;
                    padding-bottom: m#{i}n(0.5rem, 0.7vw);
                    font-weight: var(--font-strong);
                    line-height: 1.3;
                }
            }

            div.promo-apply-now-box-apply-wrapper {
                display: flex;
                flex: 0 1 auto;

                div.promo-apply-now-box-apply-date {
                    flex: 1 1 0;
                    align-self: center;

                    span {
                        color: var(--white);
                        font-size: 1.2rem;
                        font-size: m#{i}n(1.2rem, 1.4vw);
                        font-weight: var(--font-strong);
                    }

                    h5 {
                        color: var(--highlight-2);
                        font-family: var(--base-font);
                        text-transform: none;
                        font-size: 3rem;
                        font-size: m#{i}n(3rem, 3.4vw);
                        font-weight: var(--font-strong);
                        padding-top: 0.6rem;
                    }
                }
                div.promo-apply-now-box-apply-button {
                    flex: 1 1 0;

                    a.btn {
                        margin-left: 2rem;
                    }
                }
            }
        }

        div.promo-apply-now-image {
            flex: 1 1 0;
            position: relative;
            min-height: 25rem;
        }
    }

    &.no-image {
        div.promo-apply-now-wrapper {
            div.promo-apply-now-box {
                div.promo-apply-now-text-wrapper {
                    margin-bottom: 3rem;

                    h4 {
                        border-bottom: 0.4rem solid var(--highlight-2);
                        display: block;
                        padding-bottom: 1.6rem;
                        padding-bottom: m#{i}n(1.6rem,2vw);
                        margin-bottom: 1.6rem;
                        margin-bottom: m#{i}n(1.6rem,2vw);
                    }

                    p {
                        display: inline;
                    }
                }
            }

            div.promo-apply-now-box-apply-button {
                a.btn {
                    float:right;
                }
            }
        }

        div.promo-apply-now-image {
            display: none;
        }
    }
}

@media all and (max-width: $tablet) {
    section.promo-apply-now {
        div.promo-apply-now-wrapper {
            div.promo-apply-now-box {
                div.promo-apply-now-text-wrapper {
                    margin-bottom: 1rem; 

                    p {
                        font-size: 1.3rem;
                    }
                }
                div.promo-apply-now-box-apply-wrapper {
                    flex-direction: column;

                    div.promo-apply-now-box-apply-date {
                        align-self: auto;

                        span {
                            font-size: 1rem;
                        }
                        
                        h5 {
                            font-size: 2.2rem;
                        }
                    }
                    div.promo-apply-now-box-apply-button {
                        a.btn {
                            margin: 1rem 0 0;
                        }
                    }
                }
            }
        }

        &.no-image {
            div.promo-apply-now-wrapper {
                div.promo-apply-now-box {
                    div.promo-apply-now-text-wrapper {
                        margin-bottom: 3rem;

                        h4 {
                            padding-bottom: 1.6rem;
                            margin-bottom: 1.6rem;
                        }
                    }

                    div.promo-apply-now-box-apply-wrapper {
                        flex-direction: row;

                        div.promo-apply-now-box-apply-date {
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.promo-apply-now {
        div.promo-apply-now-wrapper {
            flex-direction: column-reverse;
            padding: 0;

            div.promo-apply-now-box {
                padding-left: 2rem;
                padding-right: 2rem;

                div.promo-apply-now-text-wrapper {
                    margin-bottom: 2rem;

                    h4 {
                        font-size: 3rem;
                        padding-bottom: 1.6rem;
                        margin-bottom: 0;
                    }
                }
                div.promo-apply-now-box-apply-wrapper {
                    flex-direction: row;

                    div.promo-apply-now-box-apply-date {
                        align-self: center;
                    }
                    div.promo-apply-now-box-apply-button {
                        a.btn {
                            margin: 0;
                            position: relative;
                            float: right;
                        }
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.promo-apply-now {
        div.promo-apply-now-wrapper {
            padding: 0;

            div.promo-apply-now-box {
                margin: 0;
                padding: 1rem;

                div.promo-apply-now-text-wrapper {
                    h4 {
                        font-size: 2.8rem;
                        padding-bottom: 1.6rem;
                        margin-bottom: 0;
                    }

                    p {
                        padding-bottom:0.75rem;
                        display: inline;
                    }
                }
                div.promo-apply-now-box-apply-wrapper {
                    flex-direction: row;

                    div.promo-apply-now-box-apply-date {
                        align-self: center;
                        margin-right: 0.5rem;

                        span {
                            font-size: 0.9rem;
                        }
                        h5 {
                            font-size: 1.7rem;
                        }
                    }

                    div.promo-apply-now-box-apply-button {
                        a.btn {
                            margin: 0;
                            position: relative;
                            float: right;
                        }
                    }
                }
            }

            div.promo-apply-now-image {
                min-height: 18rem;
            }
        }
    }
}