@import "./mixins.scss";
@import "./media-queries.scss";

// for popup scroll item at bottom of page
div.scroll-nav {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 0.5rem;
    align-items: center;
    position: fixed;
    bottom: -100%;
    left: 0;
    background-color: var(--dark);
    padding: 1rem 0;
    width: 100%;
    transition: bottom 0.6s cubic-bezier(1, 0, 0, 1);
    z-index: 10001;

    &.scrollUp {
        bottom: 0;
    }

    a:first-of-type {
        // margin-right: 1rem;
    }

    h2, h3, p { padding: 0 !important; }

    h3 {
        color: var(--highlight-1) !important;
        font-size: var(--h3-max) !important;
        grid-row: 1;
        grid-column: 1;
        text-align: right;
    }
    
    p {
        grid-row: 1;
        grid-column: 2;
        text-align: center;

        a.btn {
            color: black !important;
            text-decoration: none !important;
            line-height: 1;
            font-size: var(--button-font-size-max);
            padding: var(--button-standard-less-padding-max);
        }
    }

    h2 {
        color: var(--white) !important;
        font-size: var(--h3-max) !important;
        grid-row: 1;
        grid-column: 3;
        text-align: left;
    }

    button {
        position: absolute;
        padding: calc(2rem - 1px);
        // two following styles necessary for safari subpixel rendering
        height: calc(2rem - 2px);
        width: calc(2rem - 2px);
        right:0;
        top:0;
        border-width: 1px;
        border-style: solid;
        box-sizing:border-box;
        background-color: transparent;
        border-color: transparent;

        &::after, &::before {
            @include button-before-after-reset;
        }

        &:hover, &:focus {
            @include button-small-hover-focus;
        }

        svg {
            fill: #ffffff;
            position: absolute;
            top: 1.25rem;
            left: 1.25rem;
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}

@media all and (max-width: $desktop) {
    main div.scroll-nav {
        grid-template-columns: auto;
        h2, h3 {
            font-size: var(--h4-max) !important;
        }
    }
}

@media all and (max-width: $tablet) {
    main div.scroll-nav {
        h2, h3 {
            font-size: var(--h4-tablet-small) !important;
        }

        button {
            padding: calc(1rem - 1px);

            svg {
                fill: #ffffff;
                position: absolute;
                top: 0.5rem;
                left: 0rem;
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
    main div.scroll-nav {
        grid-template-rows: 2;
        gap: 0.5rem;

        h2, h3 {
            font-size: var(--h4-mobile) !important;
        }

        h2 {
            align-self: flex-start;
            color: var(--white);
            grid-row: 2;
            grid-column: 1;
            text-align: left;
        }
        
        p {
            grid-row: 1 / 3;
            grid-column: 2;
        }

        h3 {
            align-self: flex-end;
            grid-row: 1;
            grid-column: 1;
            text-align: left;
        }
    }
}

@media all and (max-width: $mobile) {
    main div.scroll-nav {
        h2, h3 {
            font-size: var(--h4-tiny-mobile) !important;
        }

        button {
            display: none;
        }
    }
}