:root {
    /*! 
    define the colours for the particular colourway here 
    white: this will be the lightest colour, used for hero headings and other, typically white text 
    */
    --set-white: #ffffff;
    /*! 
    dark: the darkest colour, used for text and backgrounds. Usually black 
    */
    --set-dark: #000000;
    /*! 
    highlight-1: most prominant highlight colour, used for a wide array of elements 
    */
    --set-highlight-1: #3a2cf2;
    /*! 
    highlight-1-contrast-friendly: a variant on the highlight-1 colour, for when the colour contrast between text and bg is not sufficient. If not in use, use highlight-1 colour here 
    */
    --set-highlight-1-contrast-friendly: #5065f4;
    /*! 
    highlight-2: the secondary highlight colour 
    */
    --set-highlight-2: #00ff50;
    /*! 
    highlight-2-contrast-friendly: like the similar highlight-1 version, this should be filled with highlight-2 colour when not in use 
    */
    --set-highlight-2-contrast-friendly: #00ac36;
    /*!
    button-rollover-bg/text: the colour that the standard black button changes to - standard University is white text on highlight-2
    */
    --set-button-rollover-bg: var(--highlight-1);
    --set-button-rollover-text: var(--dark);

    /*!
    any overrides for this colourway - important! use VERY sparingly
    */
    a.btn, button { text-shadow: none !important; } // both colours don't need contrast text-shadow for the button links
}
