@import "./media-queries.scss";

body main.simple-page {
    --highlight-colour: var(--highlight-1-contrast-friendly);
    --highlight-hover-colour: var(--highlight-2-contrast-friendly);
    --simple-grey-line: #cccccc;
    --simple-body-font-size-max: 1.4rem;
    --simple-body-small-font-size-max: 1.15rem;
    --simple-body-font-size-tablet-small: 1.2rem;
    --simple-body-small-font-size-tablet-small: 1rem;

    section {
        // define all simple page default styles here
		padding-bottom: 4rem;

        h1, h2, h3, h4, h5, h6 { color: var(--black); }

        h1 { font-size: var(--h2-hero-max); line-height: 1; }
        h2 { font-size: var(--h4-max); }
        h3 { font-size: var(--between-h4-h5-max); }
        h5 { font-size: var(--h5-max); }
        h4, h6 { font-size: var(--h4-tiny-max); }

		a, p, span, li, .aks-accordion-item-title h4 {
			font-size: var(--simple-body-font-size-max);
            line-height: 1.4;
		}

        a {
            text-decoration: underline;

            &:link { color: var(--black); }
            &:visited {}
            &:hover { color: var(--highlight-hover-colour); }
            &:active {}
            &:focus { color: var(--highlight-hover-colour); }
        }

		&.simple-main-content article {
			a {
                color: var(--highlight-colour);

				&:link { color: var(--highlight-colour); }
                &:visited {}
                &:hover { color: var(--highlight-hover-colour); }
                &:active {}
                &:focus { color: var(--highlight-hover-colour); }
			}
		}

        a.simple-prev-next-link {
            & > * { text-decoration: none; }
            flex:  1 0 0;
            text-decoration: none;
            display:block;

            &:first-of-type {
                flex: 2 0 0;
                margin-right: 2rem;
            }

            &:hover p, &:focus p {
                color: var(--highlight-hover-colour);

                span { color: var(--highlight-hover-colour); }
                svg { fill: var(--highlight-hover-colour); }
            }

            p {
                padding-bottom: 0rem;

                &.simple-prev-next-arrow {
                    svg {
                        position:relative;
                        top: -2px;
                    }
                    span {
                        font-weight: var(--font-strong);
                        padding-left: 19px;
                    }
                }

                &.simple-prev-next-link {
                    text-decoration: underline;
                    padding-left: 42px;
                    font-size: var(--simple-body-small-font-size-max);
                }
            }
        }
    }

    section.simple-header {
        border-top: 10px solid var(--black);
        padding-top: 1.25rem;
        padding-bottom: 0;

        div.simple-header-wrapper {
            nav.simple-header-breadcrumbs {
                ol.breadcrumbs {
                    li {
                        position: relative;
                        margin-left: 0.9rem;
                        padding-left: 0.9rem;
                        float: left;

                        a {
                            font-size: var(--simple-body-small-font-size-max);
                        }

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: -0.5rem;
                            width: 0.6rem;
                            height: 0.6rem;
                            margin: auto 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                            border: solid;
                            border-width: 1px 1px 0 0;
                            border-color: #505a5f;
                        }

                        &:first-child {
                            margin-left: 0;
                            padding-left: 0;
                            
                            &::before {
                                content: none;
                                display: none;
                            }
                        }
                    }
                }
            }

            h1 {
                padding-top: 5rem;
				padding-bottom: 1.5rem;
				color: var(--black);
            }
        }
    }

	section.simple-main-header {
        padding-bottom: 1rem;

        div.simple-main-header-wrapper {
            div.simple-video-main-container {
                // chrome and edge only
                aspect-ratio: var(--video-aspect-ratio);
                width: 100%;
                padding: 0;
                position: relative;

                iframe {
                    position: absolute;
                    top:0;
                    left:0;
                }
            }

            div.simple-image-main-container {
                position: relative;
                width: 100%;
                aspect-ratio: var(--video-aspect-ratio);
            }

             // for browsers that don't support aspect-ratio yet
            @supports not (aspect-ratio: 1) {
                div.simple-image-main-container {
                    height: 0%;
                }
            }
        }
	}

	section.simple-prev-next {
        padding-bottom: 2rem;

		div.simple-prev-next-wrapper {
			div.simple-prev-next-container {
				display: flex;
				justify-content: space-between;
				padding-bottom: 3.5rem;
			}
		}
	}

    section.simple-main-content {
        div.simple-main-content-wrapper {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;

            article {
                flex: 2 0 0;
                border-top-color: var(--simple-grey-line);
                margin-right: 2rem;

                h2, h3, h4, h5, h6 {
                    padding-bottom: 2rem;
                }

                h2:not(:first-of-type) {
                    margin-top: 2rem;
                }

                // h3, h4, h5, h6 {
                //     padding-top: 3rem;
                // }

                ul {
                    list-style: disc;
                    list-style-position: inside;
                    padding-bottom: 1.25rem;

                    li {
                        padding-bottom: 0.25rem;
                    }
                }

                div.simple-video-small-container {
                    width: 100%;
                    padding: 0;
                    position: relative;
                    margin-bottom: 1.5rem;
                    aspect-ratio: var(--video-aspect-ratio);

                    iframe {
                        position: absolute;
                        top:0;
                        left:0;
                    }
                }

                br { display: none; }

                @supports not (aspect-ratio: 1) {
                    div.simple-video-small-container {
                        padding-bottom: var(--video-padding-ratio);
                        height: 0%;
                    }
                }

                div.simple-image-container {
                    position: relative;
                    width: 100%;
                    aspect-ratio: 1 / 0.6;
                    margin-bottom: 1.5rem;
                }

                @supports not (aspect-ratio: 1) {
                    div.simple-image-container {
                        padding-bottom: 60%;
                    }
                }

                nav.simple-article-prev-next-wrapper {
                    margin-top: 3rem;
                    padding-bottom: 2rem;

                    div.simple-article-prev-next {
                        padding: 1.5rem 0 2.5rem;

                        a {
                            color: var(--black);
                        }
                    }
                }

                div.simple-explore {
                    border-top: 2px solid var(--highlight-colour);
                    padding-bottom: 3rem;

                    h4 {
                        font-family: var(--base-font);
                        text-transform: none;
                        font-size: 1.6rem;
                        font-weight: var(--font-strong);
                        padding-top:2rem;
                        padding-bottom: 1rem;
                    }

                    ul {
                        list-style-position: outside;
                        list-style-type: none;
                        color: #ffffff;
                    }
                }

                .aks-accordion-item {
                    .aks-accordion-item-title {
                        h4 {
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            font-family: var(--base-font);
                            text-transform: none;
                            font-weight: var(--font-strong);
                        }
                    }

                    .aks-accordion-item-content { padding-bottom: 0; }

                    & + h2, & + a + h2 {
                        padding-top: 3rem;
                    }
                }
            }

            nav.simple-contents {
                flex: 1 0 0;
                border-top-color: var(--highlight-colour);

                h2, h3 { 
                    padding-bottom: 1.5rem;
                    font-size: var(--h5-max);
                }

                ul {
                    padding-bottom: 3rem;

                    li {
                        padding-bottom: 0.5rem;

                        a { font-size: var(--simple-body-small-font-size-max); }
                    }
                }
            }
        }
    }

    section.simple-useful {
        padding-bottom: 1px;
        border-bottom: 10px solid var(--highlight-colour);
        margin-bottom: 10rem;

        div.simple-useful-wrapper div.simple-useful-container {
            display: flex;
            flex-wrap: wrap;
            background-color: var(--highlight-colour);
            color: var(--white);
            align-items: center;
            justify-content: space-around;
            padding: 1rem;

            button.simple-useful-footer {
                background-color: transparent;
                color: var(--white);
                text-shadow: none;
                font-family: var(--base-font);
                font-size: var(--simple-body-font-size-max);
                border: 1px solid var(--white);
                border-bottom: 3px solid var(--white);
                padding: 0.5rem 3rem;
                line-height: 1.4;

                &:hover, &:focus {
                    background-color: var(--highlight-hover-colour);
                    transition: 0.1s background-color;
                }

                &:focus-visible {
                    background-color: var(--highlight-hover-colour);
                    transition: 0.1s background-color;
                }
            }

            div.simple-useful-question {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                
                span {
                    flex: 0 1 auto;
                    margin: 1rem;
                }

                button.simple-useful-footer:last-of-type {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
    body main.simple-page {
        section {
            // define all simple page default styles here
            padding-bottom: 4rem;
    
            h1 { font-size: var(--h2-hero-tablet-small); }
            h2 { font-size: var(--h4-tablet-small); }
            h3 { font-size: var(--h4-tiny-max); }
            h5 { font-size: var(--h5-small-tablet); }
            h4, h6 { font-size: var(--h4-tiny-small-tablet); }

            a, p, span, li, .aks-accordion-item-title h4 {
                font-size: var(--simple-body-font-size-tablet-small);
                line-height: 1.4;
            }

            a.simple-prev-next-link {

                p {
                    &.simple-prev-next-arrow {
                        svg {
                            top: -2px;
                        }
                        span {
                            font-weight: var(--font-strong);
                            padding-left: 10px;
                        }
                    }
                    &.simple-prev-next-link {
                        font-size: var(--simple-body-small-font-size-tablet-small);
                        padding-left: 32px;
                    }
                }
            }
        }
        
        section.simple-header {
            div.simple-header-wrapper {
                nav.simple-header-breadcrumbs {
                    ol.breadcrumbs {
                        li {
                            a {
                                font-size: var(--simple-body-small-font-size-tablet-small);
                            }
                        }
                    }
                }   
            }
        }
        
        section.simple-main-content {
            div.simple-main-content-wrapper {
                flex-direction: column-reverse;

                article {
                    margin-right: 0;
                }
            }
        }

        section.simple-prev-next {
            div.simple-prev-next-wrapper {
                div.simple-prev-next-container {
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 0;

                    a {
                        padding: 1.5rem 0;

                        &:first-of-type { padding-top: 0.5rem; }
                    }
                }
            }
        }

        section.simple-main-content div.simple-main-content-wrapper article {
            nav.simple-article-prev-next-wrapper {
                margin-top: 0;

                div.simple-article-prev-next {
                    padding: 1.5rem 0;
                }
            }

            div.simple-explore {
                h4 {
                    font-size: 1.4rem;
                }

                ul li a {
                    font-size: var(--simple-body-small-font-size-tablet-small);
                }
            }
        }

        section.simple-main-content div.simple-main-content-wrapper nav.simple-contents {
            h2, h3 { 
                padding-bottom: 1rem; 
                font-size: var(--h5-small-tablet);
            }

            ul li {
                a { font-size: var(--simple-body-small-font-size-tablet-small); }
            }
        }

        section.simple-useful div.simple-useful-wrapper div.simple-useful-container {
            padding: 1rem;

            button.simple-useful-footer {
                padding: 0.5rem 2rem;
                font-size: var(--simple-body-small-font-size-tablet-small);
            }

            div.simple-useful-question {
                span {
                    flex: 0 1 auto;
                    font-size: var(--simple-body-small-font-size-tablet-small);
                }

                button.simple-useful-footer {
                    font-size: var(--simple-body-small-font-size-tablet-small);

                    &:last-of-type {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    body main.simple-page {
        section {
            nav {
                padding: 0 1rem;

                &.simple-contents { padding: 0; }

                &.simple-article-prev-next-wrapper {
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            &.simple-useful div.simple-useful-wrapper div.simple-useful-container {
                div.simple-useful-question {
                    margin-bottom: 1rem;

                    span {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}