@import "./media-queries.scss";

section.social-banner div.social-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    div.social-banner-social {
        flex: 2 1 auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        h4 {
            display: inline-block;
            padding: 0;
            flex: 0 1 auto;
            line-height: 1.2;
            padding-top: 0.2rem;
            margin-right: 1rem;
        }

        div.social-banner-social-links {
            display: flex;
            flex: 0 0 auto;

            a.social-btn {
                position: relative;
                height: 63px;
                width: 63px;
                margin-right: 1rem;
            }
        }

    }

    div.social-banner-uni {
        flex: 1 0 auto;
        position: relative;
        max-width:40rem;

        img {
            position: relative;
        }
    }
}

@media all and (max-width: $tablet) {
    section.social-banner div.social-banner-wrapper {
        flex-wrap: wrap;

        div.social-banner-social {
            justify-content: center;
        }
        
        div.social-banner-uni {
            padding-top: 1.5rem;
            text-align:center;

            img {
                width: auto;
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
} 
@media all and (max-width: $mobile) {
    section.social-banner div.social-banner-wrapper {
        div.social-banner-social {
            h4 {
                padding-bottom:0.5rem;
                margin-right: 0;
            }
            
            div.social-banner-social-links {
                flex-wrap: wrap;
                width:100%;
                justify-content: space-around;

                a.social-btn {
                    margin: 0;

                    &:first-of-type {
                        margin: 0;
                    }
                }
            }
        }

        div.social-banner-uni {
            padding-top: 1.5rem;
            text-align:center;
            flex: 1 0 0;

            img {
                width: 100%;
            }
        }
    }
}