@import "./media-queries.scss";

section.staff-overview {
    background-color: var(--grey-bg);
    padding-top: 4rem;
    margin-bottom: 6rem; 

    div.staff-overview-wrapper {
        display: flex;

        div.staff-overview-contents {
            flex: 3 1 0;
            margin-left: 2rem;

            h4 {
                padding-top: 1.5rem;
                padding-bottom: 1rem;

                &:first-of-type {
                    padding-top: 0;
                }
            }

            a.btn {
                margin-top: 1rem;
            }

            ul li { 
                padding-bottom: 0.5rem;
                line-height: 1.3rem;
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.staff-overview div.staff-overview-wrapper {
        flex-direction: column;

        div.staff-overview-contents {
            margin-left: 0;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.staff-overview {
        div.staff-overview-wrapper {
            div.staff-overview-contents {
                h2 {
                    font-size: var(--h3-tablet-small);
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.staff-overview {
        div.staff-overview-wrapper {
            padding: 0;
    
            div.staff-overview-contents {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
} 