@import "./media-queries.scss";

section.standard-image {
    div.standard-image-wrapper {
        display: flex;
        max-width: var(--narrow-width);

        div.standard-image-text {
            flex: 1;
            width: 70%;

            div.standard-image-text-inner {
                box-sizing: border-box;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0 0 0 3.4rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                p {
                    padding-bottom: 1.2rem;

                    &.standard-image-text-highlight {
                        font-size: 1.2rem;
                        font-weight: var(--font-strong);
                    }
                }

                a.btn {
                    margin-top: 1rem;
                    margin-right: -0.2rem;
                }
            }
        }

        div.standard-image-image {
            flex: 0 1 auto;
            width: 30%;
            position: relative;
            min-height: 20rem;
        }
    }

    &.swap-image-right div.standard-image-wrapper {
        flex-direction: row-reverse;

        div.standard-image-text {

            div.standard-image-text-inner {
                padding: 0 3.4rem 0 0;

                a.btn {
                    margin-left: -0.3rem;
                }
            }
        }
    }
}


@media all and (max-width: $tablet) {
    section.standard-image {
        div.standard-image-wrapper {
            display: flex;
            flex-direction: column;
        
            div.standard-image-text {
                width: 100%;
                box-sizing: border-box;
                position:relative;
                z-index: 0;
                
                div.standard-image-text-inner {
                    padding: 3rem 0;
                    
                    a.btn {
                        margin-right: 0rem;
                    }
                }
            }
        
            div.standard-image-image {
                width: 100%;
                min-height: var(--min-height-images-tablet-small);
            }
        }

        &.swap-image-right div.standard-image-wrapper {
            flex-direction: column;

            div.standard-image-text {
                div.standard-image-text-inner {
                    padding: 3rem 0;

                    a.btn {
                        margin-left: 0rem;
                    }
                }
            }
        } 
    }    
} 
@media all and (max-width: $tablet-small) {
    section.standard-image {
        div.standard-image-wrapper {
            padding: 0;

            div.standard-image-text {
                div.standard-image-text-inner {
                    padding: 3rem 2rem;
                }
            }
        }

        &.swap-image-right div.standard-image-wrapper {
            flex-direction: column;

            div.standard-image-text {
                div.standard-image-text-inner {
                    padding: 3rem 2rem;
                }
            }
        }
    }    
} 
@media all and (max-width: $mobile) {
    section.standard-image {
        div.standard-image-wrapper {
            padding: 0;

            div.standard-image-text {
                div.standard-image-text-inner {
                    padding: 2rem 1rem;
                }
            } 
        
            div.standard-image-image {
                min-height: var(--min-height-images-mobile);
            }
        }

        &.swap-image-right div.standard-image-wrapper {
            div.standard-image-text {
                div.standard-image-text-inner {
                    padding: 2rem 1rem;
                }
            }
        } 
    }
}