@import "./mixins.scss";
@import "./media-queries.scss";

section.subscribe-form-banner {
    background-color: var(--highlight-2);
    padding-bottom: 1rem;
    padding-top: 2rem;

    div.subscribe-form-banner-wrapper {
        padding-top: var(--padding-section-medium);
        padding-bottom: var(--padding-section-medium);

        h4 {
            text-align: center;
        }

        form {
            legend { 
                color: var(--dark), #000000; 
            }

            div.subscribe-form-banner {
                display: grid;
                grid-template-columns: 9fr 1fr;
                grid-template-rows: auto;
                margin: 0 auto;
                max-width: var(--smallest-width);

                div {
                    input:focus, button:focus {
                        outline-color: var(--dark, #000000);
                    } 
                    
                    input:focus-visible, button:focus-visible {
                        outline-color: var(--dark, #000000);
                    }
                    
                    input:active, button:active {
                        outline-color: var(--dark, #000000);
                    }

                    label {
                        color: var(--dark, #000000);
                    }

                    &.subscribe-form-banner-inputs {
                        grid-column: 1;
                        grid-row: 1;
                        display: flex;

                        div {
                            flex: 1 1;
                            padding-right: 1.6rem;
                            padding-bottom: 1.6rem;
                        }
                    }

                    &.subscribe-form-banner-extra {
                        grid-column: 1;
                        padding-bottom: 1.6rem;

                        &.banner-full {
                            padding-right: 1.6rem;

                            input { width: 100%; }
                        }

                        &.banner-long input { width: 64%; }
                        &.banner-medium input { width: 48%; }
                        &.banner-short input { width: 31%; }
                    }

                    &.subscribe-form-banner-checkbox {
                        grid-column: 1 / 3;
                        grid-row-start: 100; 
                        display: flex;
                        max-width: var(--smallest-width);
                        align-items: center;

                        a {
                            &:link { 
                                color: var(--dark), #000000; 
                            }
                            &:visited { 
                                color: var(--dark), #000000; 
                            }
                            &:hover { 
                                color: var(--dark), #000000; 
                            }
                            &:focus { 
                                color: var(--dark), #000000; 
                                outline-color: var(--dark, #000000);
                            }
                            &:focus-visible { 
                                color: var(--dark), #000000; 
                                outline-color: var(--dark, #000000);
                            }
                        }

                        div.subscribe-form-banner-checkbox-container {
                            display: flex;
                            align-items: center;

                            div.subscribe-form-banner-checkbox-checkbox {
                                flex: 0 1 auto;
                                padding-left: 0;
            
                                input[type=checkbox] {
                                    width: 2.6rem;
                                }
                            }
            
                            div.subscribe-form-banner-checkbox-label {
                                flex: 1 1 auto;

                                label {
                                    margin-bottom: 0;
                                    margin-left: 1.5rem;

                                    a {
                                        &:link { 
                                            color: var(--dark), #000000; 
                                        }
                                        &:visited { 
                                            color: var(--dark), #000000; 
                                        }
                                        &:hover { 
                                            color: var(--dark), #000000; 
                                        }
                                        &:focus { 
                                            color: var(--white), #ffffff; 
                                            outline-color: var(--white, #ffffff);
                                        }
                                        &:focus-visible { 
                                            color: var(--white), #ffffff; 
                                            outline-color: var(--white, #ffffff);
                                        }
                                    }
                                }
                            }
                        }
        
                    }

                    &.subscribe-form-banner-inputs-button {
                        grid-column: 2;
                        align-self: end;
                        padding-bottom: 1.6rem;

                        button {
                            padding-top: 1.1rem;
                            padding-bottom: 1rem;
                            height: 4rem;

                            &.dark-border::after {
                                @include button-dark-border;
                            }
                        }
                    }

                    input {
                        position: relative;
                        border: 1px solid var(--white, #ffffff);
                        width: 100%;
                        margin-left: 0;
                    }

                    label {
                        margin-bottom: 0.5rem;
                        margin-left: 0;
                        display: block;
                    }
                }
            }
        }
    }

    &.bg-dark {
        div.subscribe-form-banner-wrapper {
            padding-bottom: 0;
            margin-bottom: var(--padding-section-medium);

            h4 {
                color: var(--white, #ffffff);
            }

            form {
                legend { color: var(--white); }
                div.subscribe-form-banner div {
                    input:focus, button:focus {
                        outline-color: var(--white, #ffffff);
                    } 
                    
                    input:focus-visible , button:focus-visible{
                        outline-color: var(--white, #ffffff);
                    }
                    
                    input:active , button:active{
                        outline-color: var(--white, #ffffff);
                    }

                    label {
                        color: var(--white, #ffffff);

                        a { 
                            &:link { color: var(--white), #ffffff; }
                            &:visited { color: var(--white), #ffffff; }
                            &:hover { color: var(--white), #ffffff; }
                            &:focus { 
                                color: var(--white), #ffffff; 
                                outline-color: var(--white, #ffffff);
                            }
                            &:focus-visible { 
                                color: var(--white), #ffffff; 
                                outline-color: var(--white, #ffffff);
                            } 
                        }
                    }

                    &.subscribe-form-banner-checkbox {
                        a {
                            &:link { color: var(--white), #ffffff; }
                            &:visited { color: var(--white), #ffffff; }
                            &:hover { color: var(--white), #ffffff; }
                            &:focus { 
                                color: var(--white), #ffffff; 
                                outline-color: var(--white, #ffffff);
                            }
                            &:focus-visible { 
                                color: var(--white), #ffffff; 
                                outline-color: var(--white, #ffffff);
                            }
                        }
                    } 
                }
            }
        }
    }
}
@media all and (max-width: $desktop) {
    section.subscribe-form-banner div.subscribe-form-banner-wrapper form div.subscribe-form-banner-inputs div.subscribe-form-banner-inputs-button button {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media all and (max-width: $tablet) {
    section.subscribe-form-banner {
        div.subscribe-form-banner-wrapper {
            padding-top: var(--padding-section-medium);
            padding-bottom: var(--padding-section-medium);
    
            h4 {
                text-align: center;
            }
    
            form {
                div.subscribe-form-banner {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    margin: 0 auto;
                    max-width: var(--smallest-width);
    
                    div {
                        &.subscribe-form-banner-inputs {
                            & div:last-of-type {
                                padding-right: 0;
                            }
                        }

                        &.subscribe-form-banner-extra {
                            &.banner-full input { 
                                width: 100%; 
                            }
                            &.banner-long input { 
                                width: 75%;
                            }
                            &.banner-medium input { 
                                width: 50%;
                            }
                            &.banner-short input { 
                                width: 25%;
                            }
                        }
    
                        &.subscribe-form-banner-checkbox {
                            grid-column: 1 / 4;
                            grid-row: 99; 
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            max-width: var(--smallest-width);
                            align-items: flex-start;
                            padding-bottom: 1.6rem;

                            div.g-recaptcha {
                                padding-bottom: 1.6rem;
                            }

                            div.subscribe-form-banner-checkbox-container div.subscribe-form-banner-checkbox-checkbox {
                                padding-left: 0;
                            }
                        }
    
                        &.subscribe-form-banner-inputs-button {
                            grid-column: 1 / 4;
                            grid-row-start: 100;
    
                            button {
                                padding-top: 1rem;
                                padding-bottom: 1rem;
                                padding-left: 3.7rem;
                                padding-right: 3.7rem; 
                                height: 4rem;
    
                                &.dark-border::after {
                                    @include button-dark-border;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.subscribe-form-banner {
        div.subscribe-form-banner-wrapper {
            padding-top: 1rem;

            h4 {
                padding-bottom: 2rem;
            }
            form {
                div.subscribe-form-banner {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    margin: 0 auto;
                    max-width: var(--smallest-width);
    
                    div {
                        margin-bottom: 0;

                        &.subscribe-form-banner-inputs {
                            flex-direction: column;

                            .subscribe-form-banner-inputs-first {
                                width: m#{i}n(70%,48ch);
                                padding-right: 0;
                            }
        
                            .subscribe-form-banner-inputs-last {
                                width: m#{i}n(70%,48ch);
                                padding-right: 0;
                            }
        
                            .subscribe-form-banner-inputs-email {
                                width: m#{i}n(70%,48ch);
                                padding-right: 0;
                            }
                        }

                        &.subscribe-form-banner-extra {
                            &.banner-full input { 
                                width: 100%; 
                            }
                            &.banner-long input{ 
                                width: m#{i}n(70%,48ch);
                            }
                            &.banner-medium input { 
                                width: m#{i}n(70%,48ch);
                            }
                            &.banner-short input { 
                                width: m#{i}n(35%,24ch);
                            }
                        }
    
                        &.subscribe-form-banner-checkbox {
                            grid-column: 1;
                            grid-row-start: 99; 
                            max-width: var(--smallest-width);

                            div.subscribe-form-banner-checkbox-container {
                                div.subscribe-form-banner-checkbox-checkbox {
                                    flex: 0 1 auto;
                
                                    input[type=checkbox] {
                                        width: 2rem;
                                    }
                                }
                
                                div.subscribe-form-banner-checkbox-label {
                                    flex: 1 1 auto;
        
                                    label {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
    
                        &.subscribe-form-banner-inputs-button {
                            grid-column: 1;
                            grid-row-start: 100;
    
                            button {
                                padding-top: 1.2rem;
                                padding-bottom: 1rem;
                                height: 4rem;
    
                                &.dark-border::after {
                                    @include button-dark-border;
                                }
                            }
                        }
    
                        input {
                            position: relative;
                            border: 1px solid var(--white, #ffffff);
                            width: 100%;
                            margin-left: 0;
                        }
    
                        label {
                            margin-top: 0.5rem;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width: $mobile) {
    section.subscribe-form-banner {
        div.subscribe-form-banner-wrapper {
            form {
                div.subscribe-form-banner-inputs {
                    div {
                        &.subscribe-form-banner-inputs-first {
                            width: 100%;
                        }
    
                        &.subscribe-form-banner-inputs-last {
                            width: 100%;
                        }
    
                        &.subscribe-form-banner-inputs-email {
                            width: 100%;
                        }
    
                        &.subscribe-form-banner-inputs-button {
                            button {
                                padding-left: 2rem;
                                padding-right: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}