@import "./media-queries.scss";

section.subtitle-with-dropdown {
    //padding-top: var(--padding-section-small);
    padding-bottom: var(--padding-section-large);

    div.subtitle-with-dropdown-wrapper {
        h3, p, div {
            text-align: center;
        }

        div.subtitle-with-dropdown-inputs {
            width: 100%;
            padding-left: 1.5rem;
            padding-top: 1rem;
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.subtitle-with-dropdown {
        padding-bottom: var(--padding-section-usual);
        
        div.subtitle-with-dropdown-wrapper div.subtitle-with-dropdown-inputs {
            padding-left: 0;
        }
    }
}
@media all and (max-width: $mobile) {
}