@import "./media-queries.scss";

section.tab-side-breakout {
    div.tab-side-breakout-wrapper {
        h3 {
            text-align: center;
        }

        div.tab-side-breakout-container {
            display: flex;
            position:relative;
            margin-top: 0.5rem;

            ul.tab-side-breakout-buttons {
                flex: 0 0 16rem;
                padding: 2.2rem 0 3.4rem;
                width: 16rem;

                li {
                    padding-bottom: 0.75rem;

                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }

            div.tab-side-breakout-content {
                flex: 0 1 auto;
                min-height: 26rem;
                position:relative;
                max-width: calc(100% - 16rem);

                div.tab-side-breakout-tab {
                    display:flex;
                    justify-content: flex-start;
                    max-width:60rem;

                    &[hidden] {
                        display:none;
                    }

                    div.tab-side-breakout-text {
                        flex: 0 1 19rem;
                        position:relative;
                        padding: 5rem 2.5rem 5rem 4rem;
                        width: 40rem;
                        min-height: 21rem;
                        pointer-events: none;

                        h4 {
                            padding-bottom:1rem;
                        }

                        a {
                            pointer-events: all;

                            &.btn {
                                margin-top: 0.5rem;
                                padding-left: 2rem;
                                padding-right: 2rem;
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 36rem;
                            border-width: 1px;
                            border-style: solid;
                        }
                    }

                    div.tab-side-breakout-image-container {
                        flex: 0 1 auto;
                        position:relative;
                        padding-bottom:1rem;

                        div.tab-side-breakout-image {
                            position: relative;
                            min-width: m#{i}n(550px,calc(100vw - 47rem));
                            min-height: 400px;
                            max-width: 582px;
                            height: calc(100% - 5rem);
                            top: 2.3rem;

                            &::before {
                                content: '';
                                position: absolute;
                                top: var(--breakout-box-shadow-width);
                                left: var(--breakout-box-shadow-width);
                                bottom: calc(-var(--breakout-box-shadow-width)*0.95);
                                background-color: var(--black);
                                right: -var(--breakout-box-shadow-width);
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.tab-side-breakout {
        div.tab-side-breakout-wrapper {
            div.tab-side-breakout-container {
                div.tab-side-breakout-content {
                    div.tab-side-breakout-tab {
                        div.tab-side-breakout-text {
                            flex: 0 1 auto;

                            &::after {
                                width: 100%;
                            }
                        }

                        div.tab-side-breakout-image-container {
                            display: none;
                        } 
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.tab-side-breakout {
        div.tab-side-breakout-wrapper {
            div.tab-side-breakout-container {
                ul.tab-side-breakout-buttons {
                    flex: 0 0 12rem;
                    padding: 2.2rem 0 3.4rem;
                    width: 12rem;

                    li {
                        padding-bottom: 0.75rem;

                        &:last-of-type {
                            padding-bottom: 0;
                        }
                    }
                }

                div.tab-side-breakout-content {
                    max-width: calc(100% - 12rem);

                    div.tab-side-breakout-tab div.tab-side-breakout-text {
                        padding:4.5rem 1.5rem 3.5rem 3rem;
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.tab-side-breakout {
        div.tab-side-breakout-wrapper {
            div.tab-side-breakout-container {
                flex-direction: column;
                top:0;

                &::after {
                    content: '';
                    width: 2rem;
                    height: 2.4rem;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    pointer-events: none;
                }

                ul.tab-side-breakout-buttons {
                    flex: 0 0 auto;
                    padding: 0;
                    width: 100%;
                    display:flex;
                    position:relative;
                    overflow-x:auto;
                    margin-top: 0;
                    padding-top: 0;
                    border: 0px solid white;

                    li button {
                        margin-top: 0;
                    }
                }

                div.tab-side-breakout-content {
                    max-width: 100%;
                    min-height: auto;


                    div.tab-side-breakout-tab div.tab-side-breakout-text {
                        padding:3rem 2rem;
                        min-height: auto;
                    }
                }
            }
        }
    }
}