@import "./media-queries.scss";

section.tab-buttons-band {
    position:relative;

    div.tab-buttons-band-wrapper {
        max-width: 100%;
        padding: 0;
        margin-bottom: 6rem;
        height: 5.8rem;
        position:relative;
        background-color: var(--table-line-color);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        box-sizing: border-box;

        &::after {
            content: '';
            width: 3rem;
            height: 100%;
            position: absolute;
            z-index: 1;
            right: 0;
            top:0;
            pointer-events: none;
        }

        &.gradient-grey-colour::after { 
            background: linear-gradient(90deg,rgba(229,229,229,0) 0%,var(--table-line-color) 90%,var(--table-line-color) 100%);
        }

        div.tab-buttons-band-scroll {
            height: 6.9rem;
            will-change: transform;
            scrollbar-color: var(--black) var(--white);
            scrollbar-width: thin;
            overflow-x: auto;
            overflow-y: hidden;

            ul.tab-buttons-band-list {
                padding: 0.8rem 3.6rem 0;
                margin: 0 auto;
                display: flex;
                align-items:center;
                justify-content: center;
                min-width: min-content;
                height: 4.9rem;

                li.tab-buttons-band-button {
                    flex: 0 0 0;
                    margin: 0 0.6rem;
                }
            }
        }
    }

    div.tab-buttons-band-content-wrapper {
        h3 {
            text-align: center;
            padding-bottom: 3rem;
        }

        div.tab-buttons-band-content-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            div.tab-buttons-band-content {
                flex: 1 0 0;

                &:not(.tab-double-width), &:not(.tab-single-width) {
                    padding-right: 2rem;
                    padding-left: 0;

                    & ~ div {
                        padding-left: 1.5rem;
                        padding-right: 0;
                    }
                }

                &.tab-double-width {
                    flex-basis: 100%;
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    max-width: 100%;

                    &.padding-top {
                        padding-top: 2rem;
                    }

                    &.padding-bottom {
                        padding-bottom: 2rem;
                    }
                }

                &.tab-single-width {
                    flex-basis: 100%;
                    padding-right: 0 !important;
                    padding-left: 0 !important;
                    max-width: 75%;

                    &.padding-top {
                        padding-top: 2rem;
                    }

                    &.padding-bottom {
                        padding-bottom: 2rem;
                    }
                }

                h4 {
                    padding-top: 1rem;
                    padding-bottom: 1.5rem;
                    font-size: var(--h5-small-tablet);

                    &.no-padding {
                        padding-bottom: 0;
                    }
                }

                h5 {
                    padding-top: 0.5rem;
                    padding-bottom: 1.5rem;
                    font-size: var(--h4-tiny-small-tablet);
                }

                h6 {
                    padding-top: 0.5rem;
                    padding-bottom: 1.5rem;
                }

                &:last-of-type h5:first-of-type {
                    padding-top: 0.5rem;
                }

                ul {
                    padding-bottom: 1rem;

                    li {
                        position: relative;
                        padding: 0rem 0 1rem 1.7rem;
            
                        &::before {
                            content: '\2022';
                            font-weight: normal;
                            margin-left: -1.7rem;
                            width: 2rem;
                            font-size: 2.3rem;
                            position:absolute;
                            top:-0rem;
                        }
                    }
                }
                
                // ul li dot highlight colour
                ul li::before { color: var(--highlight-1);}

                div.tab-buttons-band-content-table {
                    width: 100%;
                    overflow-x: auto;
                    max-width: 100%;
                    
                    table {
                        width: 100%;
                        text-align: center;
                        border: 1px solid var(--black);

                        th, td { 
                            padding: 1.5rem 0.5rem;
                            border: 1px solid var(--grey-line-color);
                        }

                        th {
                            background-color: var(--black);
                            color: var(--highlight-2, var(--fallback-highlight-2));
                            font-family: var(--heading-font);
                            font-size: 2rem;
                        }

                        td {
                            font-size: 1.4rem;
                        }
                    }
                }

                
            }
        }
    }
}


@media all and (max-width: $tablet) {
    section.tab-buttons-band div.tab-buttons-band-wrapper {
        &::after {
            height: calc(100% + 1px);
        }
        
        div.tab-buttons-band-scroll ul.tab-buttons-band-list {
            padding-right: 3.6rem;
            padding-left: 0;
        }
    }
} 

@media all and (max-width: $tablet-small) {
    section.tab-buttons-band {
        div.tab-buttons-band-wrapper {
            height:5rem;
            
            div.tab-buttons-band-scroll {
                height: 6.1rem;
                
                ul.tab-buttons-band-list {
                    padding-right: 2.4rem;
                    height: 4.1rem;
                }

                div.tab-buttons-band-scroll-bg-image {
                    background-size: 3rem;
                }
            }
        }
        div.tab-buttons-band-content-wrapper {
            div.tab-buttons-band-content-container {
                flex-direction: column;

                div.tab-buttons-band-content {
                    padding: 0;

                    &:not(.tab-double-width) {
                        padding-right: 0;
                        padding-left: 0;
    
                        & ~ div {
                            padding-left: 0;
                            padding-right: 0;
                            padding-top: 1rem;
                        }
                    }

                    // &:first-of-type {
                    //     padding: 0;
                    // }

                    // &:last-of-type {
                    //     padding-top: 1rem;
                    // }

                    h4 {
                        padding-top: 1rem;
                        padding-bottom: 1.5rem;
                        font-size: var(--h5-mobile);

                        &.no-padding {
                            padding-bottom: 0;
                        }
                    }

                    h5 {
                        padding-top: 0.5rem;
                        padding-bottom: 1.5rem;
                        font-size: var(--h4-tiny-mobile);
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.tab-buttons-band {
        div.tab-buttons-band-wrapper {
            height: 4.15rem;

            div.tab-buttons-band-scroll {
                height: 5.3rem;

                ul.tab-buttons-band-list {
                    height: 3.9rem;
                    
                    li.tab-buttons-band-button {
                        padding-bottom: 0.6rem;
                    }
                }
            }
        }
    }
}