@import "./media-queries.scss";

section.tab-top-breakout {
    div.tab-top-breakout-wrapper {
        h3 {
            text-align: center;
        }

        div.tab-top-breakout-container {
            display: flex;
            position:relative;
            justify-content: center;
            margin-top: 0.5rem;

            ul.tab-top-breakout-buttons {
                flex: 0 0 16rem;
                padding: 2.2rem 0 3.4rem;
                width: 16rem;

                li {
                    padding-bottom: 0.75rem;

                    &:last-of-type {
                        padding-bottom: 0;
                    }
                }
            }

            div.tab-top-breakout-content {
                flex: 0 1 auto;
                min-height: 26rem;
                position:relative;
                max-width: 100%;

                div.tab-top-breakout-tab {
                    display:flex;
                    max-width: var(--narrow-width);
                    border-width: 1px;
                    border-style: solid;

                    &[hidden] {
                        display:none;
                    }

                    div.tab-top-breakout-text {
                        flex: 0 1 60%;
                        position:relative;
                        padding: 2.5rem;
                        min-height: 21rem;

                        h4 {
                            padding-bottom:0rem;

                            &:nth-of-type(2) { padding-top: 1rem; }
                        }

                        h5 { 
                            color: var(--highlight-1); 
                            padding-bottom: 1rem;
                        }

                        p { padding-bottom: 0.5rem; }

                        a.btn {
                            margin-top: 0.5rem;
                            margin-bottom: 1rem;
                        }
                    }

                    div.tab-top-breakout-image-container {
                        flex: 0 1 40%;
                        align-self: center;

                        div.tab-top-breakout-image {
                            position: relative;
                            min-height: 300px;
                            width: calc(100% - 2rem);
                            height: 50%;
                        }

                        div.tab-top-breakout-image-info {
                            text-align: center;
                            padding-right: 2rem;
                            padding-top: 1rem;
                            width: 60%;
                            left: 50%;
                            position: relative;
                            transform: translateX(-50%);

                            p:nth-of-type(2) {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// @media all and (max-width: $tablet) {
//     section.tab-top-breakout {
//         div.tab-top-breakout-wrapper {
//             div.tab-top-breakout-container {
//                 div.tab-top-breakout-content {
//                     div.tab-top-breakout-tab {
//                         div.tab-top-breakout-text {
//                             flex: 0 1 auto;

//                             &::after {
//                                 width: 100%;
//                             }
//                         }

//                         div.tab-top-breakout-image-container {
//                             display: none;
//                         } 
//                     }
//                 }
//             }
//         }
//     }
// } 
@media all and (max-width: $tablet-small) {
    section.tab-top-breakout {
        div.tab-top-breakout-wrapper {
            div.tab-top-breakout-container {
                ul.tab-top-breakout-buttons {
                    flex: 0 0 12rem;
                    padding: 2.2rem 0 3.4rem;

                    li {
                        padding-bottom: 0.75rem;

                        &:last-of-type {
                            padding-bottom: 0;
                        }
                    }
                }

                div.tab-top-breakout-content {
                    div.tab-top-breakout-tab div.tab-top-breakout-text {
                        padding:1.5rem;
                        flex-basis: 50%;
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.tab-top-breakout {
        div.tab-top-breakout-wrapper {
            div.tab-top-breakout-container {
                flex-direction: column;
                top:0;

                &::after {
                    content: '';
                    width: 2rem;
                    height: 2.4rem;
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    pointer-events: none;
                }

                ul.tab-top-breakout-buttons {
                    flex: 0 0 auto;
                    padding: 0;
                    width: 100%;
                    display:flex;
                    position:relative;
                    overflow-x:auto;
                    margin-top: 0;
                    padding-top: 0;
                    border: 0px solid white;

                    li button {
                        margin-top: 0;
                    }
                }

                div.tab-top-breakout-content {
                    max-width: 100%;
                    min-height: auto;


                    div.tab-top-breakout-tab {
                        flex-direction: column-reverse;
                        border-width: 0px;

                        div.tab-top-breakout-text {
                            padding:2rem 0;
                            min-height: auto;
                        }

                        div.tab-top-breakout-image-container {
                            width: 100%;
                            padding: 0;

                            div.tab-top-breakout-image {
                                padding: 0;
                                width: 100%;
                                min-height: 250px;
                            }

                            div.tab-top-breakout-image-info {
                                padding-right: 0;
                                padding-top: 0.5rem;

                                p { padding-bottom: 0; }
                            }
                        }
                    }
                }
            }
        }
    }
}