@import "./media-queries.scss";

div.take-a-tour {
    display: flex;
    max-width: 70rem;
    margin: 0 auto;

    div.take-a-tour-image {
        flex: 1 0 auto;
        position: relative;
        text-align: center;
        align-self: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 300px;
        height: 300px;
    }

    div.take-a-tour-text {
        flex: 0 1 auto;
        margin-left:0rem;
        margin-top: 0rem;
        padding-top: 2rem;
        padding-left: 2rem;
        height: 316px;

        h4 {
            padding-bottom:1.5rem;
        }

        div.take-a-tour-text-buttons {
            a.btn {
                margin-right: 0.5rem;
                margin-left: 0;
                margin-bottom: 0.5rem;
                margin-top: 0.5rem;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    &.single {
        div.take-a-tour-text {
            background-size: m#{i}n(292px, 15vw) auto;
        }
    }
}

@media all and (max-width: $desktop) {
    div.take-a-tour {
        flex-direction: column;

        div.take-a-tour-image {
            flex: 0 1 16rem;
            width: 15rem;
            background-position: top;
            width: 15rem;
            background-repeat: no-repeat;
            width: 292px;
            margin-right: 1rem;
        }

        div.take-a-tour-text {
            margin-top: 0.5rem;
            margin-left: 0;
            margin-right: 1rem;
            padding: 0;
            text-align: center;

            h4 {
                padding-bottom: 0;
            }

            p {
                max-width: 30rem;
                margin: 0 auto;
            }
        }

        &.single {
            div.take-a-tour-text {
                padding-left: 0;
            }
        }
    }
}
    
@media all and (max-width: $tablet) {
    div.take-a-tour {
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;

        div.take-a-tour-image { 
            margin-right: 0;
            flex: 1 1 auto;
            height: 347px;
            max-width: 292px;
            background-position: center;
        }

        div.take-a-tour-text {
            height: auto;
            flex: 1 1 auto;
            margin: 0 0 0 1rem;
        }
    }
} 
@media all and (max-width: $tablet-small)  {
    div.take-a-tour {
        flex-direction: column;

        div.take-a-tour-image {
            width: 16rem;
            height: 12rem;
            background-position: top center;
        }

        div.take-a-tour-text {
            width: 100%;
            margin-left: 0;
            margin-top: 0.5rem;

            p {
                width: m#{i}n(90%,30rem);
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    div.take-a-tour div.take-a-tour-text div.take-a-tour-text-buttons {
        a.btn {
            margin-right: 0.5rem;
            margin-left: 0.5rem;

            &:last-of-type {
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
        }
    } 
}