@import "./media-queries.scss";

div.text-button-image-single {
    flex: 1 1 0;

    div.text-button-image-single-content {
        div.text-button-image-single-text {
            h3 {
                color: var(--black);

                span.text-button-image-single-text-highlight {
                    font-size: var(--h1-max);
                }
            }
        }

        div.text-button-image-single-image {
            position: relative;
        }
    }
}
