@import "./media-queries.scss";

section.case-study-overview {
    div.case-study-overview-wrapper {
        display:flex;
        flex-direction: row;
        justify-content:center;

        div.case-study-overview-item {
            border-right: 1px solid var(--highlight-1);
            padding: 0 1rem;
            flex: 1 1;
            align-items: center;
            justify-items: center;    
            align-items: center;
            display: flex;
            justify-items: center;
            flex-direction: column;
            height: 10rem;
            max-width: 10rem;

            &:last-of-type {
                border-right: 0px solid var(--white);
            }

            h3 {
                text-align: center;
                padding-bottom: 0;
                flex-grow: 0;
            }
            
            div {
                position:relative;
                text-align: center;
                display: flex;
                align-items: center;
                justify-items: center;
                flex: 1 1;

                img {
                    position: relative; 
                    top: auto;
                    left: auto;
                    width: 100%;
                    object-fit:none;
                    font-family: 'object-fit: none;';
                }

                h4 {
                    text-align: center;
                    width: 100%;
                    padding-bottom: 0;
                }
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
} 

@media all and (max-width: $mobile) {
    section.case-study-overview {
        div.case-study-overview-wrapper {
            flex-direction: column;
            gap: 1rem;

            div.case-study-overview-item {
                border-right: 0px solid var(--white);
                padding-bottom:1rem;
                max-width:none;
            }
        }
    }
}