@import "./media-queries.scss";

section.three-images-text {
    div.three-images-text-wrapper {
        h3 {
            text-align: center;
            margin: 0 2rem;
            padding-bottom: 3rem;
        }

        div.three-images-text-container {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            div.three-images-text-box {
                margin: 0 1.5rem;
                flex: 1 1 0;

                &:first-of-type {
                    margin: 0 1.5rem 0 0;
                }
                &:last-of-type {
                    margin:0 0 0 1.5rem;
                }

                a {
                    position:relative;
                    display: block;
                    width:100%;

                    div.three-images-text-image {
                        position: relative;
                        height: 398px;
                        width: 100%;
                    }

                    div.three-images-text-text {
                        width: 65%;
                        padding: 1.5rem 1rem;
                        margin: -4.2rem auto;
                        position: relative;

                        h4 {
                            padding-bottom: 0.5rem;
                        }

                        p {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: $desktop) {
    section.three-images-text {
        div.three-images-text-wrapper {
            div.three-images-text-container {
                div.three-images-text-box {
                    margin: 0 0.75rem;
                    flex: 1 1 0;
    
                    &:first-of-type {
                        margin: 0 0.75rem 0 0;
                    }
                    &:last-of-type {
                        margin:0 0 0 0.75rem;
                    }

                    a {
                        div.three-images-text-text {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $tablet) {
} 
@media all and (max-width: $tablet-small) {
    section.three-images-text {
        div.three-images-text-wrapper {
            h3 {
                padding-bottom: 2rem;
            }
            div.three-images-text-container {
                flex-direction: column;
    
                div.three-images-text-box {
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    margin: 0.75rem 0;
    
                    &:first-of-type {
                        margin: 0 0 0.75rem 0;
                        flex-direction: row;

                    }
                    &:last-of-type {
                        margin: 0.75rem 0 0 0;
                        flex-direction: row;
                    }

                    a {
                        div.three-images-text-image {
                            flex: 2 1 0;
                            position: relative;
                            min-height: 200px;
                            height: auto;
                        }
        
                        div.three-images-text-text {
                            flex: 1 1 0;
                            width: auto;
                            margin: 0;
                            padding: 1.5rem 2rem;
                        }
                    }
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.three-images-text {
        div.three-images-text-wrapper {
            h3 {
                margin: 0 1rem;
            }

            div.three-images-text-container {
                div.three-images-text-box {
                    a {
                        div.three-images-text-image {
                            flex: 3 1 0;
                        }

                        div.three-images-text-text {
                            flex: 2 1 0;
                            padding: 1.5rem 1rem;
                        }
                    }
                }
            }
        }
    }
}