@import "./media-queries.scss";

section.title-subtitle-with-image div.title-subtitle-with-image-wrapper {
    h3 {
        padding-bottom: 3rem;
    }
    
    div.title-subtitle-with-image-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        div.title-subtitle-with-image-text {
            flex: 1 1 0;
            padding-right: 4rem;

            p:last-of-type {
                padding-bottom: 0;
            }

            p {
                padding-top: 0.5rem;
                
                a.btn {
                    margin-right: 0.5rem;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }

        div.title-subtitle-with-image-image {
            flex: 1 1 0;
            position: relative;
            aspect-ratio: var(--video-aspect-ratio);
        }

        @supports not (aspect-ratio: 1) {
            div.title-subtitle-with-image-image {
                height: 0%;
                padding-bottom: var(--half-width-video-padding-ratio);
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.title-subtitle-with-image div.title-subtitle-with-image-wrapper div.title-subtitle-with-image-content {
        flex-direction: column;

        div.title-subtitle-with-image-text {
            padding-right: 0;
        }

        div.title-subtitle-with-image-image {
            flex: 1 1;
            margin-top: 2rem;
            max-width: 560px;
            width: 100%;
        }

        @supports not (aspect-ratio: 1) {
            div.title-subtitle-with-image-image {
                height: 0%;
                padding-bottom: var(--video-padding-ratio);
                max-width: 100%;
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.title-subtitle-with-image div.title-subtitle-with-image-wrapper div.title-subtitle-with-image-content div.title-subtitle-with-image-image {
        max-width: 100%;
    }
}