@import "./media-queries.scss";

section.title-subtitle-with-video {
    div.title-subtitle-with-video-wrapper {
        h3 {
            padding-bottom: 3rem;
        }

        &.no-image {
            max-width: var(--narrow-width);

            div.title-subtitle-with-video-content div.title-subtitle-with-video-text {
                padding-right: 0; 
            }
        }

        
        div.title-subtitle-with-video-content {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            div.title-subtitle-with-video-text {
                flex: 1 1 0;
                padding-right: 4rem;
                padding-bottom: 2rem;

                h4 { padding-bottom: 1rem; }
                h5 { padding-bottom: 1.5rem; }

                p:last-of-type {
                    padding-bottom: 0;
                }

                p.title-subtitle-with-video-buttons {
                    padding-top: 0.5rem;
                    
                    a.btn {
                        margin-right: 1rem;

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }

            div.title-subtitle-with-video-video {
                flex: 1 1 0;
                position: relative;
                aspect-ratio: var(--video-aspect-ratio);
                
                iframe {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                }
            }

            div.title-subtitle-with-video-image {
                flex: 1 1 0;
                position: relative;
                min-height: 342px;
            }
        }
    }

    &.swap-video div.title-subtitle-with-video-wrapper {
        div.title-subtitle-with-video-content {
            flex-direction: row-reverse;

            div.title-subtitle-with-video-text {
                padding-right: 0;
                padding-left: 4rem;
            }
        } 

        &.no-image div.title-subtitle-with-video-content div.title-subtitle-with-video-text { padding-left: 0; }
    }
}

@media all and (max-width: $tablet) {
    section.title-subtitle-with-video {
        div.title-subtitle-with-video-wrapper div.title-subtitle-with-video-content {
            flex-direction: column;

            div.title-subtitle-with-video-text {
                padding-right: 0;
            }

            div.title-subtitle-with-video-video, div.title-subtitle-with-video-image {
                flex: 1 1;
                margin-top: 2rem;
                max-width: 560px;
                width: 100%;
            }
        }

        &.swap-video div.title-subtitle-with-video-wrapper div.title-subtitle-with-video-content {
            flex-direction: column;

            div.title-subtitle-with-video-text {
                padding-left: 0;
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.title-subtitle-with-video div.title-subtitle-with-video-wrapper div.title-subtitle-with-video-content {
        div.title-subtitle-with-video-video, div.title-subtitle-with-video-image {
            max-width: 100%;
        }
    }
}