@import "./media-queries.scss";

section.title-subtitle-with-text {
    &.no-text {
        padding-bottom: 0;
    }

    div.title-subtitle-with-text-wrapper {
        p:last-of-type {
            padding-bottom: 0;
        }

        ul {
            list-style-type: disc;
            list-style-position: outside;
            margin-left: 1rem; 
        }

        p {
            padding-top: 0.5rem;
            
            a.btn {
                margin-right: 0.5rem;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

@media all and (max-width: $tablet-small) {
    section.title-subtitle-with-text div.title-subtitle-with-text-wrapper {
        p {
            line-height: 1.6rem;
            padding-bottom: 1rem;

            a.btn {
                margin-bottom: 0.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    section.title-subtitle-with-text div.title-subtitle-with-text-wrapper p.title-subtitle-with-text-buttons button {
        margin-bottom: 0.5rem;
    }
}