@import "./media-queries.scss";

section.upcoming-events {
    div.upcoming-events-wrapper {
        display: flex;
        gap: 3rem;

        div.upcoming-events-image {
            position: relative;
            width: 100%;
            flex: 1 0 40%;
        }

        div.upcoming-events-text {
            padding-top: 5rem;
            padding-bottom: 5rem;

            h3 {
                border-bottom: 1px solid var(--grey-line-color);
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }

            ol li p {
                padding-bottom: 1rem;
                line-height: 1;

                a {
                    display: block;
                }
            }
        }
    }
}

@media all and (max-width: $tablet) {
    section.upcoming-events {
        padding-bottom: 4rem;

        div.upcoming-events-wrapper {
            gap: 0;
    
            div.upcoming-events-image {
                display:none;
            }
    
            div.upcoming-events-text {
                flex: auto;
                padding-top: 0;
                padding-bottom: 0;
    
                h3 {
                    border-bottom: 1px solid var(--grey-line-color);
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                }
    
                ol li p {
                    padding-bottom: 1rem;
                    line-height: 1;
    
                    a {
                        display: block;
                    }
                }
            }
        }
    }
} 

@media all and (max-width: $mobile) {
    section.upcoming-events {
        div.upcoming-events-wrapper {
            div.upcoming-events-text {
                ol li p {
                    a {
                        line-height:1.2;
                        padding-bottom: 0.5rem;
                    }
                }
            }
        }
    }   
}