@import "./media-queries.scss";

// add 'swap-video-right' class to first div to switch video orientation
section.video-with-text-and-button {
    div.video-with-text-and-button-wrapper {
        display: flex;
        padding: 0;

        div.video-with-text-and-button-video {
            position:relative;
            width: 50%;
            flex: 0 1 auto;
            display: flex;
            align-items: center;

            lite-youtube {
                max-width: 100%;
                flex:auto;
            }

            &.square-video {
                justify-content: flex-end;

                lite-youtube {
                    width: 100%;
                    max-width: 40rem;
                    aspect-ratio: 1;

                    // for browsers that don't support aspect-ratio yet
                    @supports not (aspect-ratio: 1) {
                        padding-bottom: 44%;
                    }
                }
            }
        }

        div.video-with-text-and-button-text {
            padding: 50px;
            width: 50%;
            box-sizing: border-box;
            position: relative;
            flex: 0 1 auto;

            &::before {
                position: absolute;
                content: '';
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: -1;
                left: calc(0px - 51px);
                width: calc(100% + 51px);
                height: calc(100% - 120px - 2.5rem);
                top: calc(0% + 70px);
            }

            div.video-with-text-and-button-inner {
                max-width: 580px;
                margin: 0 auto;
            }

            h4 {
                max-width: 26rem;
                padding-bottom: 1.9rem;
            }

            div.video-with-text-and-button-inner-video {
                padding-bottom: 2rem;
                margin-top: -2rem;

                img {
                    position: relative;
                }
            }

            a.btn {
                margin-top: 2.5rem;
            }
        }
    }

    &.swap-video-right div.video-with-text-and-button-wrapper {
        flex-direction: row-reverse;

        div.video-with-text-and-button-text::before {
            left: 0;
        }
    }
}


@media all and (max-width: $tablet) {
    section.video-with-text-and-button {
        div.video-with-text-and-button-wrapper {
            flex-direction: column;
        
            div.video-with-text-and-button-video {
                width: 100%;
                //min-height: var(--min-height-images-tablet-small);
                min-height:auto;
                align-items: flex-end;

                &.square-video {
                    justify-content: center;

                    lite-youtube {
                        max-width: 30rem;
                    }
                }
            }
        
            div.video-with-text-and-button-text {
                width: 100%;
                min-height: 100%;
                padding: 3rem 2rem;
        
                &::before {
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                }

                div.video-with-text-and-button-inner {
                    max-width: 100%;
                }
        
                h4 {
                    max-width: 100%;
                    padding-bottom: 1.9rem;
                }
        
                a.btn {
                    margin-top: 1rem;
                }
            }
        }

        &.swap-video-right div.video-with-text-and-button-wrapper {
            flex-direction: column;
        }
    }
} 
@media all and (max-width: $mobile) {
    section.video-with-text-and-button div.video-with-text-and-button-text {
        width: 100%;
        min-height: 100%;
        padding: 3rem 1rem;
    }
}