@import "./media-queries.scss";

section.where-to-find-map {
    div.where-to-find-map-wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto auto minmax(18rem,auto);

        h3 {
            line-height: 4rem;
            grid-column: 1;
            grid-row: 1;
            padding-right: 2rem;
        }

        p {
            grid-column: 1;
            grid-row: 2;
        }

        ul {
            grid-column: 1;
            grid-row: 3;

            li {
                padding-bottom: 1rem;
                display: inline-block;
                margin-right: 1rem;
            }
        }
        
        div.where-to-find-map-map {
            grid-column: 2;
            grid-row: 1 / 4;
            position: relative;
            min-height: 600px;
            margin-top: 0.5rem;
            width: 100%;
        }
    }
}

@media all and (max-width: $tablet) {
    section.where-to-find-map {
        div.where-to-find-map-wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
} 
@media all and (max-width: $tablet-small) {
    section.where-to-find-map {
        div.where-to-find-map-wrapper {
            grid-template-columns: 2fr 3fr;
            grid-template-rows: auto;
    
            h3 {
                line-height: 2.4rem;
                grid-column: 1 / 3;
            }
    
            ul {
                padding-bottom: 1rem;
                grid-column: 1 / 3;
                grid-row: 3;

                li a:first-of-type {
                    padding: var(--button-standard-less-padding-small);
                }
            }
            
            div.where-to-find-map-map {
                grid-column: 1 / 3;
                grid-row: 4;
                position: relative;
                min-height: 300px;
                margin-top: 0.5rem;
                width: 100%;
            }
        }
    }
}
@media all and (max-width: $mobile) {
    section.where-to-find-map {
        div.where-to-find-map-wrapper {
            div.where-to-find-map-map {
                min-height: 200px;
            }
        }
    }
}