@import "./media-queries.scss";

div.why-choose-wrapper {
    div.why-choose {
        margin: 0 2rem 0 0;

        p {
            padding-left: 4.5rem;
            padding-bottom: 0;
            margin-bottom: 1.2rem;
            position:relative;

            &:last-of-type {
                margin-bottom: 0;
            }

            svg {
                position: absolute;
                left: 0.7rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &.top-align {
        margin-top: 2rem;
    }
}

@media all and (max-width: $desktop) {
    section.ask-our-team-why-choose div.ask-our-team-why-choose-wrapper {
        div.ask-our-team {
            flex-direction: column;

            div.ask-our-team-image {
                flex: 0 1 14rem;
                background-image: url('../images/stock-ask-team.png');
                width: 15rem;
                background-position: top;
                background-size: 100%;
                width: 15rem;
                background-repeat: no-repeat;
                width: 292px;
                margin-right: 1rem;
            }

            div.ask-our-team-text {
                margin-top: 0.5rem;
                margin-left: 0;
                margin-right: 1rem;
                background-image: none;
                padding: 0;
                text-align: center;

                h4 {
                    padding-bottom: 0;
                }

                p {
                    max-width: 30rem;
                    margin: 0 auto;
                }
            }
        }
        div.why-choose-wrapper div.why-choose {
            margin: 2rem 0rem 0 1rem;
        }
    }
} 
@media all and (max-width: $tablet) {
    div.why-choose-wrapper {
        margin-left: 0;

        div.why-choose {
            margin-left: 0;
            margin-right: 0;
        }
    }
} 
@media all and (max-width: $tablet-small)  {
    div.why-choose-wrapper {
        div.why-choose {
            margin-left: 0;
            margin-right: 0;

            p {
                background-position: left center;
                padding-left: 3.5rem;

                svg {
                    left: 0rem;
                }
            }
        }
    }
} 
@media all and (max-width: $mobile) {
    div.ask-our-team-why-choose-wrapper div.why-choose-wrapper div.why-choose p {
        padding-left: 2.5rem;
        background-size: 1.5rem;
    }
}